[2017-05-25 03:52] atticoos opened #36 "[React Native] Virtual device simulator in web preview"
Currently the web preview for React Native storybooks is empty, as it uses the device to display the components.

It would be interesting to embed a device directly in the storybook webpage via a tool like https://appetize.io/

[Here's a demo](https://appetize.io/embed/7fvyvt159mfnw92dr23a651ugg?autoplay=true&orientation=portrait&device=iphone6splus&deviceColor=black&scale=50&language=en&osVersion

[2017-05-25 04:34] shilman commented on #36
Love this idea. Any sense for how much work it would be? The preview area is just an iframe, so conceivably we could point it at anything!

[2017-05-25 04:59] atticoos commented on #36
Not entirely sure myself, I know that the @expo folks have worked with this quite a bit with https://snack.expo.io/.

From my limited research, it looks like it would involve:
- A one-time creation of the app on appetize https://appetize.io/docs#creating-apps
- Thereafter updating the app on appetize https://appetize.io/docs#updating-apps, which might be something that can be done quicker since we

[2017-05-25 05:01] atticoos commented on #36
This would also mean the application is hosted/running remotely, while the storyboard server is local.

[2017-05-25 05:08] satya164 commented on #36
@brentvatne should know more about appetize!

though does it have to be appetize? why not on a local simulator/emulator or device?

[2017-05-25 05:15] atticoos commented on #36
That's exactly how the React Native version of Storyboard currently works 😃  (see https://github.com/storybooks/storybook/tree/master/app/react-native)

This proposal looks at the possibility of having an embedded simulator, for scenarios where this might be hosted on the web, etc

[2017-05-25 05:21] satya164 commented on #36
Oh nice! Had no idea that existed. Time to use storyboard for my RN projects now too :D

[2017-05-25 05:59] shilman commented on #36
@ajwhite I'm not too worried about the pricing. Storybook has an addon architecture, so we can make it an addon rather than part of core. Then people who are OK with paying can opt-in by installing the addon, but the default will always be FOSS. Obviously, it would be awesome if they could cut a better deal for Storybook users, but by no means necessary to move forward with this. Would be happy to

[2017-05-29 10:37] Gongreg commented on #36
@ajwhite, RN storybook has hosted mode for server :) If you want to know more you can ping me on slack.

Also this idea sounds really awesome, since that would allow to completely host native storybooks in remote server.

Users would be able to simply open up the browser and play with it, no installation on pc/phone required.

[2017-05-31 15:43] brentvatne commented on #36
re: how appetize works -- indeed it is a paid service as it cost them money to build and to run the servers, it would be nice to have an add-on option for people who want to use that! I believe that many companies would be willing to pay the small price for the convenience.

[2017-06-01 00:43] atticoos commented on #36
Thanks @brentvatne! I've started kicking the idea around in my fork and have set it up as an [addon](https://github.com/storybooks/storybook/tree/master/addons). Sounds like this would be the right track 👍

[2017-06-01 02:18] shilman commented on #36
@ajwhite Incredible! Super excited about this. Please let me know if you need any help. We'd love to highlight this in an upcoming release!

[2017-06-01 03:19] atticoos commented on #36
Will do. Development is going fine -- however there's certainly some open questions I need to figure out in regards to "process".

The compiled application (`.ipa` or `.apk` for iOS / Android) [needs to be uploaded whenever there are changes](https://appetize.io/docs#updating-apps). This literally involves zipping the built app and uploading it to their servers. **I'd like to figure out a good pro

[2017-06-01 03:33] shilman commented on #36
Hmm. How long does this process take? If it's something that can happen in realtime, then I suppose it could be automated with some kind of webpack magic?

If not, then I'd think that we want to have some kind of "out of date - refresh" button that gets triggered every time there's a change, and then users have to opt-in to upload it?

Just thinking out loud here.

[2017-06-01 03:51] shilman commented on #36
Addon experts @ndelangen @mthuret @mnmtanish @tmeasday @UsulPro may also want to weigh in on this ... super high impact project if we can get it working well.

[2017-06-01 09:42] Gongreg commented on #36
@ajwhite We are also very interested in this addon. If you need any help don't hesitate to ask :)

[2017-06-01 14:43] atticoos commented on #36
After some recent developments last night - this question is currently obsolete as we investigate another direction.

Thanks though folks!

[2017-06-01 14:44] atticoos commented on #36
#ProgressPics

![progress](http://g.recordit.co/6LvpSMuqyK.gif)

[2017-06-01 17:23] brentvatne commented on #36
looks purdy. let me know if you need anything from me on the CRNA / Expo side of things

[2017-06-20 17:29] anback commented on #36
@ajwhite Hello ajwhite! I am interested to help, where is your pull reqest/repo ? Cheers A

[2017-07-09 08:30] danielkcz commented on #36
I just wanted to suggest to do this when I found http://snack.expo.io and got totally amazed by it. I am super excited that this in progress already. @ajwhite do you need help with something possibly?

I am especially surprised about how fast it shows changes in the preview when you are typing the code there. I am wondering how that is done. I am still pretty much RN rookie. Just spend couple hour

[2017-08-04 12:38] thani-sh opened #185 "React Native: Decorators may get applied multiple times"
Moved issue: https://github.com/storybook-eol/react-native-storybook/issues/50#issuecomment-320232611

Hi @macrozone
Shall we continue discussing the issue here. Thanks

[2017-09-30 20:18] dan-kez commented on #36
Just wanted to check in and see if this was still in under development. It'd be a very useful tool!

[2017-09-30 22:14] ndelangen commented on #36
+1

[2017-10-03 12:32] macrozone commented on #185
Any idea about this issue? or a proper way how to do react-native-storybook with hot reload properly?

[2017-11-15 23:18] ndelangen commented on #36
@ajwhite Do you think you could team up with @anback ?
https://github.com/storybooks/storybook/issues/1125#issuecomment-309830493

Share your branch / repo so others can experiment off your work? 🙇

[2017-11-19 16:45] danielkcz commented on #36
I would like to get involved in this too. I think it can make the development of react native apps a real breeze. My main motivation is that I don't have iOS device so I cannot really test stuff on that. With appetize.io this could be solved beyond basic fiddling in Snack.

I've been digging into technical stuff a little bit and I am kinda clueless how @ajwhite managed to do what's shown in [pictu

[2017-12-29 13:57] danielkcz commented on #36
It's kinda pity that it died in here. Apparently, not many people think it's needed or whatever reasons.

In the meantime, I tried my plan of using `react-native-web` which seemed good till it wasn't. I run into obstacles (metal wall) once I wanted to use prebaked components like `nativebase.io`.

I also tried to investigate appetize.io more, but I am no good with the network stuff, so I am not su

[2017-12-30 18:33] dan-kez commented on #36
@FredyC I would love to see this feature but I'm not really certain where to start with it. It would certainly improve the developer experience.

[2018-03-09 20:45] kirakik commented on #36
Really disappointed at how this was forgotten... Not having this feature was a deal breaker for me.

[2018-03-09 21:09] danielkcz commented on #36
We are just using emulator alongside open storybook in a browser and it's not too bad workflow. Yea sure it would be awesome to have it in the same window, but that amount of work to make that happen is so huge that it's not worth it imo. Also, I gave up on this because even after my initial analysis nobody really bothered with a useful response. Doing that as a team effort I would be much more mo

[2018-03-09 21:13] atticoos commented on #36
Me too. I extend my apologies to everyone that I wasn't able to publish my prototype and any discouragement as a result.

A few things that made this hard to share and continue to work on:
- There were needs within my company that required a lot of my time that I would otherwise have to explore more here
- Complete wild west cowboy coding (I know, that's still better to share than nothing)
- Need

[2018-03-15 04:37] hendrul commented on #36
Definitely web emulation with react-native-web is the way we could really get the benefits of this kind of reference/documentation tool, where the point on doing the effort of writting stories is to make it easy for the stakeholders to understand the components we build, If they have to go through all the hassel of running in the device or emulator, no one (at least my boss don't) is gonna use it.

[2018-07-20 11:33] Gongreg opened #12 "[Feature request] Add nesting of story tree in React Native"
### Work summary
It would help a lot to display story list as a full screen list instead of half screen. Since now the story names are sometimes too long to properly fit the sidebar.

Some people have requested functionality to display a nested tree instead of one level list (#2833). It shouldn't be too difficult to implement (I hope).

The main concern I have is that adding multiple level tree ca

[2018-07-30 22:05] sesm commented on #12
@Gongreg regarding nested stories, did you try to use a `/` separator in story names? It does the job for me. But alas this feature is not documented.

[2018-08-02 08:09] Gongreg commented on #12
Hey @sesm, it does work but it works differently than in browser. What I am thinking about is implementing full tree view just like in the browser.

![image](https://user-images.githubusercontent.com/3867635/43571023-87331a5c-9644-11e8-9189-21c23ab58d8d.png)

Something like this but inside the simulator view.

[2018-10-13 19:20] ndelangen commented on #12
@Gongreg We could decide to do one of these things:

1. We re-implement the treeview in RN
   We can likely re-use a ton, because of the way I wrote it
   (separating the visual from state)
2. We write the UI of the treeview in such a way it's renderable in RN
3. We embed the treeview in a webview in RN and communicate with it over a channel
   We'd re-use the code in it's entirety and complexity

[2018-10-18 09:22] Gongreg commented on #12
@ndelangen I would like to try out web view approach. Lets have a session some time in the future.

[2018-11-08 10:39] Gongreg opened #10 "Support WebView addons"
It should be possible to support addons rendered in WebView. That way we could reuse addons both in web and in React Native.

I've tried to do POC for this and it seems to be possible.
But the current idea is that every addon would get a separate webview. That might bring performance issues. We need to inspect it.

[2018-11-21 17:20] neomib commented on #36
Hello
@ajwhite I see some time passed since you wrote you can't share your code. Can you share it now?
I'm starting to look at Storybook for our React Native app and really want to build something usefull for both the developers and our UX team.
Thanks

[2018-12-17 16:20] Isakdl commented on #12
Any progress on this?

[2018-12-18 14:35] Gongreg commented on #12
Hey, there was no progress from my side. @ndelangen, would it be possible to create a bundle with treeview now? Or the new treeview is still WIP?

[2019-03-14 08:08] shaundon opened #34 "Async storage warning on React Native 0.59"
**Describe the bug**
React Native's async storage has [been deprecated](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#deprecated). This means that when using Storybook with RN 0.59, a warning appears (see screenshot).

This is on `@storybook/react-native: 4.1.14`. I'm unsure if 5.x is affected.

**To Reproduce**
Steps to reproduce the behavior:
1. Be on R

[2019-03-14 08:20] shilman commented on #34
@shaundon Great catch. Would be great to get this into the 5.1 release which will re-introduce React Native (we didn't release a 5.0 version due to timing issues).

cc @benoitdion

[2019-03-14 08:27] shaundon commented on #34
@shilman no worries - how would you feel about also putting it in a `4.1.x` patch release too? The reason being we're still using Storybook 4.1 and upgrading to 5 is going to be a larger task that we're not in a position to undertake yet, so it'd be good to get this fixed in both versions.

[2019-03-14 08:38] shaundon commented on #34
⬆️ There's a PR for it - hopefully I've done everything correctly! Let me know if there's anything I've missed.

[2019-03-14 12:55] benoitdion commented on #34
Even though this is a trivial change I'd like to defer this to the 5.x release since this does bring in an additional dependency. `react-native-async-storage`'s peer dependency version of react-native is 57 and storybook's 4.x is 51.

[2019-03-14 13:18] shaundon commented on #34
On the `next` branch, the RN version is 52 - so won't the peer dependency concern continue to be an issue in the 5.x release?

[2019-03-14 13:27] benoitdion commented on #34
It would be. Added a comment to your PR recommending we bump our peer dependency to 57.

@shilman storybook 5.x is a good opportunity to bump our react native peer dependency version. Both expo and react-native-web have support for >= 57 so that's pretty safe.

[2019-03-15 02:04] benoitdion commented on #34
fixed in storybookjs/storybook#6079. Thanks @shaundon!

[2019-03-16 07:26] shilman commented on #34
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.7 containing PR storybookjs/storybook#6079 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-16 20:17] shaundon commented on #34
Amazing, thanks! The repo I work on is still on 4.1.x but I'll have a go with a branch using 5.1.0-alpha soon.

[2019-03-19 03:20] lancesnider commented on #12
It doesn't seem to do anything for me, other than make the name longer. Am I missing something?
![Screen Shot 2019-03-18 at 8 07 19 PM](https://user-images.githubusercontent.com/3202211/54577602-a9ea6900-49b9-11e9-9ef1-9b1d29c1a89a.png)

[2019-03-19 03:34] shilman commented on #12
@lancesnider This feature has not been implemented, which is why the issue is still open

[2019-03-26 18:30] yurykorzun commented on #34
The fix was reversed - https://github.com/storybooks/storybook/commit/0d7581ac9281944ddf5090975080b46cb07915d1
It looks like we are stuck with the warning for a while https://github.com/react-native-community/react-native-async-storage/issues/14

[2019-03-26 19:53] plowman opened #43 "React Native - Unable to resolve module `@babel/runtime/helpers/interopRequireDefault`"
**Describe the bug**
After upgrading to React Native 59.2, I'm no longer able to run storybook the way I did previously. Whenever I try to load my app while the storybook server is running, I get the following exception:

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn storybook` where storybook is defined as `"storybook start -p 7007 | yarn start --projectRoot storybook"`
2. Run `r

[2019-03-26 21:34] shilman commented on #43
cc @benoitdion

[2019-03-26 21:43] benoitdion commented on #43
@plowman what version of RN were you on prior to updating to 0.59.2?

could you try updating your `metro-react-native-babel-preset` version? some of your babel versions are also slightly outdated.

[2019-03-26 22:03] plowman commented on #43
Hey @benoitdion thanks for taking a look.

* I was on RN 0.57.5 before. Downgrading back to 0.57.5 fixes this issue.

Sure. Made these updates and still see the same error:
* "metro-react-native-babel-preset": "0.53.1"
* "babel-jest": "24.5.0",
* "babel-loader": "8.0.5",
* "@babel/core": "7.4.0"

[2019-03-26 22:05] oblador commented on #43
Try with `"storybook start -p 7007 | yarn start --projectRoot storybook --watchFolders $PWD"`.

[2019-03-26 22:51] plowman commented on #43
Aha, that did the trick. Thanks, @oblador!

So I roughly understand that `--watchFolder` must add the project's top-level `node_modules` to the search path. I'm confused though why this wasn't already happening. It doesn't make sense to me how storybook could have previously resolved packages like `react-native` which lived in my project `node_modules` but suddenly was unable to resolve this `@bab

[2019-03-26 22:57] oblador commented on #43
Well, it _used_ to do that :-) The CLI has been extracted from core to a community repo with some (unintended for all I know) breaking changes and regressions. So blame react-native, not storybook for this.

[2019-03-26 23:10] plowman commented on #43
Aha, well that would do it.

One funny tidbit from their [announcement blog post](https://blog.callstack.io/the-react-native-cli-has-a-new-home-79b63838f0e6) on the unbundling:

I guess they mean, starting with **this breaking change in a minor version bump** they promise to follow semver.

[2019-04-07 01:26] kristremblay opened #32 "Storybook does not work with Expo"
**Describe the bug**
When trying to install Storybook with the most recent release of Expo, the process fails at `installing dependencies` with the error `No matching version found for @storybook/react-native@^5.0.6`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project with `expo init ProjectName`
2. cd into the directory
3. Run `getstorybook`
4. See error

**Expected behavior

[2019-04-07 02:46] kristremblay commented on #32
Update:

I went through the guide on the site again and the best I am able to do is get storybook running in the browser. However it is not picking up any of the stories.

As for my app, since I replaced the app entry point with `./storybook` it only shows text that says to visit the browser on port 7007 (which, again, shows empty storyboard)

[2019-04-07 04:26] kristremblay commented on #32
Ok, so, I haven't tried installing it in an expo init'd project, but using crna I got it to work by doing the following:

1. run `npx -p @storybook/cli@next sb init`
2. Change APP_NAME to whatever the `appKey` is.  *Note* This property is oddly missing from app.json so you need to add it.  The instructions in storybook's index file say that you don't need to change it if you are using expo...this

[2019-04-07 04:59] kristremblay commented on #32
![image](https://user-images.githubusercontent.com/7587183/55678944-0f9a8880-58c8-11e9-917a-2df712a6d449.png)

[2019-04-07 08:36] shilman commented on #32
First part of this issue is duplicate to https://github.com/storybooks/storybook/issues/5893

Second part may need some investigation cc @benoitdion

[2019-04-08 12:36] lucasbento commented on #34
@benoitdion: any plans on reversing the reversed commit (haha) anytime soon? I see that the issue you linked is closed and seems to have been solved.

[2019-04-08 12:49] benoitdion commented on #34
Absolutely. I'd love to give this another try. Testing takes a bit of time since we need to validate the entire matrix (expo, ejected, app using AsyncStorage, app using community AsyncStorage)

[2019-04-12 14:10] alexmbp commented on #43
@oblador Is that a good workaround --watchFolders $PWD?
Don't you know is there some work in react-native around that? I actually have similar issue, but with just moving my app's files to the 'src' dir.

[2019-04-18 07:49] oblador commented on #43
@alexmbp I think the new behaviour is actually more correct, albeit breaking. It should be safe to use my workaround.

[2019-04-24 04:38] shilman opened #9 "React Native ondevice look-and-feel"
RN on-device should match storybook web UI look and feel:
- [ ] sidebar navigation
- [ ] ondevice addons

[2019-05-02 06:52] shilman commented on #9
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.39 containing PR storybookjs/storybook#6603 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-03 18:31] alechp commented on #32
**Non-ideal quick fix**: when installing storybook, choose v4.1.18.

1. $ `expo init projectName`
2. $ `cd projectName`
3. $ `npx -p @storybook/cli sb init`
4. $ `yarn install`
5. $> choose version 4.1.18
6. $ `yarn start`

(Also at some point during the Storybook install you have to choose your output. I selected **REACT_NATIVE**)

---

![Screen Shot 2019-05-03 at 11 29 39 AM](https://user-images

[2019-05-05 06:48] shilman commented on #32
@kristremblay please take a look at the migration instruction for 5.1: https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-native-server

[2019-05-07 01:14] alechp commented on #32
@kristremblay In case you didn't have time to finalize yet, I put together a finished repo as a reference. Great catch on the appKey btw. The "don't need to do this if you're using expo" threw me as well. Glad you caught it.

[react-native-expo-storybook-v5](https://github.com/servexyz/react-native-expo-storybook-v5)

@shilman I noticed that I was running into compilation issues with `addons`. End

[2019-05-07 04:01] shilman commented on #32
Thanks @alechp . What issues were you having? I know there were some addon-related issues in RN 5.1 but I'm not sure if they're documented or tracked, so if you let me know it would help us with the release. Also, are you on the latest alpha? 🙏

[2019-05-07 17:50] alechp commented on #32
I received this compile time error:
[code]

Here's the package:
https://github.com/servexyz/react-native-expo-storybook-v5/blob/master/package.json

In terms of https://www.npmjs.com/package/@storybook/cli I chose whatever the latest version listed was... I recall it was a `.3`. Looking at the package version releases, I believe it was `5.2.0-alpha.3`

UPDATE (11:19AM PST): Confirmed that the vers

[2019-05-07 18:15] alechp commented on #32
@shilman Update: Here's the original error (returns when I add `addons.js` back to `storybook/` directory

<img width="838" alt="Screen Shot 2019-05-07 at 11 11 27 AM" src="https://user-images.githubusercontent.com/3058939/57322736-1bd95780-70b9-11e9-8418-b2d232e6f493.png">

You can recreate this by
1. cloning the repo I posted earlier ([react-native-expo-storybook-v5](https://github.com/servexyz/

[2019-05-08 13:17] shilman commented on #32
@alechp Please use the latest 5.1.0 version. The 5.2.0 version may be messed up -- it's a long story.

[2019-05-08 13:37] kristremblay commented on #32
@alechp @shilman Thank you both. That migration guide for 5.1 lgtm, I'll have to check it out when I get home though.

Cheers

[2019-05-08 20:21] bericp1 commented on #34
Hey @benoitdion: any word on if this has made it into any recent alphas? Couldn't find any other issue tracking this and this one is still closed. I can submit a PR to reverse the reversed commit if that's helpful at all.

Normally warnings are manageable but this one covers the entire toolbar at the bottom even when it
s minimized. 😢

[2019-05-08 21:37] alechp commented on #32
@shilman got alpha 40 running. Current errors being thrown:

<img width="1680" alt="Screen Shot 2019-05-08 at 2 36 39 PM" src="https://user-images.githubusercontent.com/3058939/57410120-d2fbce80-719e-11e9-9c9d-fbda49a2b304.png">

**In Expo**
[code]

**Added context**

- Stories never load in browser
- Bundler never moves past 99%
- I've rmraf'd my node_modules directory a couple times to no avail

[2019-05-09 15:21] benoitdion commented on #34
not the answer you're looking for but you could use `YellowBox.ignoreWarnings` for now.

We could try this again now though, they've made a lot of improvements to the community asyncstorage now it should be ready

[2019-05-09 17:15] bericp1 commented on #34
Oh nice I didn't know [that RN API](https://facebook.github.io/react-native/docs/debugging#warnings) existed. Obviously not preferable but we can use that for the time being. We use a `react-native-config` variable anyway to control rendering of storybook vs. the app in the entry point so we can do it only for storybook which is acceptable.

Cheers!

[2019-05-09 18:49] alechp commented on #32
@shilman Not sure if this is a bug of alpha40 or supposed to be a feature of Storybook:

Whenever I run `yarn install` it asks me to select the storybook version.

eg. I installed the Storysource addon (https://github.com/storybooks/storybook/tree/master/addons/storysource)

via `yarn add @storybook/addon-storysource --dev`

and was prompted to choose the install version again:

![Screen Shot 2019

[2019-05-09 19:47] shilman commented on #32
@alechp Not sure what's going on there. @benoitdion have you seen this?

[2019-05-09 19:53] benoitdion commented on #32
I haven't seen this. What does your `package.json` look like?

[2019-05-09 20:02] alechp commented on #32
@benoitdion
Repo: https://github.com/servexyz/react-native-expo-storybook-v5
Package: https://github.com/servexyz/react-native-expo-storybook-v5/blob/master/package.json

[2019-05-10 21:22] alechp commented on #32
@benoitdion @shilman Update: Also getting prompted to select Storybook version on `yarn remove`:

<img width="946" alt="Screen Shot 2019-05-10 at 2 21 48 PM" src="https://user-images.githubusercontent.com/3058939/57557455-11c08e80-732f-11e9-9c06-330c7bbda8d2.png">

[2019-05-11 04:47] leesiongchan commented on #32
Consider using expo 33 with `expo start --web`, it works for me.

[2019-05-19 17:51] alechp opened #38 "`@storybook/addon-actions` & `@storybook/addon-ondevice-actions` are not working"
I'm using `@storybook/react-native` and `@storybook/react-native-server` and having the same issue (or at least same error message) as described here: https://github.com/storybooks/storybook/issues/6471#issue-431269970 (ie. `synthetic event is used for performance reasons error`)

## Summary
* `@storybook/react-native`: No addons are shown on the device (under the `addons` tab on iOS Simulator)
*

[2019-05-19 19:57] alechp commented on #38
Not sure whether this is related or not, but storysource also fails to load. I recall that in a past version storysource was working fine. Unfortunately, didn't document which version it was working on (although I have a strong suspicion it was `@storybook/react-native@4.1.18`)

## `@storybook/addon-ondevice-storysource` & `@storybook/addon-storysource` both fail

![image](https://user-images.gith

[2019-05-27 08:03] TheWeeezel commented on #32
@alechp
Using android I can't get any stories to show on the web. My package.json:

`"scripts": {
    "storybook": "start-storybook -p 7007"
  },
"dependencies": {
    "@expo/samples": "2.1.1",
    "core-js": "2",
    "expo": "^32.0.0",
    "react": "16.5.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz",
    "react-native-elements": "^1.0.0-beta7",
    "reac

[2019-05-27 17:18] benoitdion commented on #32
@alechp @TheWeeezel did you try syncing all storybook related deps to the same version?

[2019-05-28 22:46] nigelsim opened #302 "React Native Storyshots - RangeError: Maximum call stack size exceeded"
**Describe the bug**
When running `storyshots` the following error occurs. Running the storybook within the app on the device works as expected:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Setup React Native Story book and test
2. Add `@storybook/addon-storyshots`
3. Setup `storyshots.test.ts` as per README
4. Run `yarn test`

**Expected behavior**
Snapshots to be generated

**Code

[2019-06-03 18:15] alechp commented on #38
Update: This issue persists in `5.1.0-rc.4`

## Screenshots
### Story `source` loads indefinitely
<img width="1679" alt="Screen Shot 2019-06-03 at 11 10 11 AM" src="https://user-images.githubusercontent.com/3058939/58824322-a8136780-85f0-11e9-9274-d0b51aca66fc.png">

### Story `actions` throws synthetic event issue
<img width="1679" alt="Screen Shot 2019-06-03 at 11 14 52 AM" src="https://user-ima

[2019-06-04 06:47] TheWeeezel commented on #32
Sorry for my late answer. Yes i did. I figured i wait for Expo 33 to release. I tried so many versions but gave up.

[2019-06-07 01:02] jamsch commented on #302
We use Storybook at our business and are having the same exception after upgrading to 5.1.3

We are using it as a component inside our live app which is conditionally bundled based on environment variables. Our minimal repro is the following:

[code]

This, however does work

[code]

The stack trace isn't so helpful either.

![Screenshot_1559869099](https://user-images.githubusercontent.com/129277

[2019-06-12 05:45] nigelsim commented on #302
This is still an issue with React Native 0.59.9 and Storybook 5.1.3

[2019-06-14 12:42] Gongreg commented on #9
@shilman, is there anything left to do here? Emotion is added.

[2019-06-14 15:30] shilman commented on #9
@Gongreg Yeah AFAIK it hasn't actually been styled to match the 5.x design yet.

[2019-06-26 16:39] alechp commented on #32
@TheWeeezel I'm having similar issues

Android emu
<img width="1680" alt="Screen Shot 2019-06-26 at 9 32 43 AM" src="https://user-images.githubusercontent.com/3058939/60198042-8ffcc580-97f5-11e9-8f1e-4a0afdb2485b.png">

iOS sim
<img width="1680" alt="Screen Shot 2019-06-26 at 9 35 48 AM" src="https://user-images.githubusercontent.com/3058939/60198152-d05c4380-97f5-11e9-858b-d725fb275b59.png">

My

[2019-06-26 18:07] Gongreg commented on #32
Hey, if android doesn’t work remember to run `adb reverse tcp:7007 tcp:7007` . Does that help @alechp?

@shilman this issue is really big and talking about 10 different issues, most of them are solved. Not sure what is left to fix here.

[2019-06-26 18:12] alechp commented on #32
@Gongreg I agree re: issue being too big. More generic support thread than actual issue at this point. Worth closing IMO

[2019-06-26 18:14] Gongreg commented on #32
Closing this issue. If you have any issues feel free to open a separate issue!

@alechp if you could notify here does the adb reverse command solve your issue.

[2019-06-26 19:24] ntucker opened #22 "Using vulnerable package https://www.npmjs.com/advisories/815"
**Describe the bug**
Versions of `simple-markdown` prior to 0.4.4 are vulnerable to Cross-Site Scripting. See https://www.npmjs.com/advisories/815 for more info

[2019-06-27 16:51] alechp commented on #38
Update: unable to test in 5.1.9 because of https://github.com/storybookjs/storybook/issues/7017#issuecomment-506420659

[2019-07-01 05:32] Gongreg commented on #38
Hey, @alechp. Regarding story selection issues there is this issue: storybookjs/storybook#4716 .

Regarding storysource addons there is no @storybook/addon-ondevice-storysource addon. Also @storybook/addon-storysource doesn't work in React Native since it uses webpack to do its magic.

Regarding @storybook/addon-actions there seems to be a bug.
@shilman I am not sure we need to separate issues whe

[2019-07-01 16:50] alechp commented on #38
Re: `storysource` - thanks for the heads up

Re: response time - all good. Thanks for taking the time to check it out!

Re: `actions` - is this bug separate from storybookjs/storybook#4716 ?

[2019-07-01 17:46] Gongreg commented on #38
@alechp, regarding actions I think it is a separate issue. Didnt have time to check it. But I think the bug is inside actions addon itself.

[2019-07-02 13:27] joan-saum commented on #34
Any news about this issue ? I have @storybook/react-native in 5.1.9 and still got that warning :/

[2019-07-03 12:06] StuartTbox opened #35 "React native PanGestureHandler not firing events"
onGestureEvent not firing within storybook on react native but is firing outside story book.

`<PanGestureHandler onGestureEvent={this._onPanGestureEvent}/>`

Confirmed this by extracting the component and running the same code outside of a storybook story.

[2019-07-10 18:03] barbieri commented on #34
meanwhile to quiet the warning one can use the following fixup:

[code]

[2019-07-16 12:07] RWOverdijk opened #5 "React Native, addon-links broken?"
**Describe the bug**

The `links` addon doesn't seem to work on React Native.

Simply followed the instructions.

api.on is in the docs though so I'm not sure why it's not working.

https://github.com/storybookjs/storybook/blob/next/addons/links/src/manager.ts#L7

**To Reproduce**

React native app with storybook 5.2.0-beta.0 and @storybook/addon-links@5.2.0-beta.0. Adding the import to rn-addons.

[2019-07-17 06:47] RWOverdijk commented on #5
Calm down github actions, I got this. Much love <3

[2019-07-18 03:18] ntucker commented on #22
Security is important.

[2019-07-22 21:41] META-DREAMER opened #33 "Cannot read property 'name' of undefined"
**Describe the bug**
When running the on device storybook on react native, as soon as I select one of my stories, I get an error: `TypeError: Cannot read property 'name' of undefined`.

**To Reproduce**
1. Go to on device story book
2. Open "Navigator" tab
3. Click on a story

**Expected behavior**
Story should render as usual without errors

**Screenshots**
[video here](https://media.giphy.com/me

[2019-07-24 20:11] andrey-shostik opened #103 "Cannot connect device to react-native-server"
**Describe the bug**
I have run emulator and react-native-server, but I can't see my stories on the web page

**Expected behavior**
On web page should be my stories instead of placeholder

**Screenshots**
![download](https://user-images.githubusercontent.com/13626849/61825070-3d501100-ae68-11e9-8cb0-9baff8ef43f6.png)

**System:**
[code]

[2019-07-25 07:23] hosseinarsheia commented on #103
i have exact same problem too

[2019-07-25 07:26] Gongreg commented on #103
Hello, try out storybook 5.2.0.beta... version.

[2019-07-25 07:47] hosseinarsheia commented on #103
I try "5.2.0-beta.7" version.
 It still dont work

[2019-07-25 07:49] Gongreg commented on #103
Are you using real android/emulator?

Run `adb reverse tcp:7007 tcp:7007`

[2019-07-25 07:56] hosseinarsheia commented on #103
I use real android device,
execute `adb reverse tcp:7007 tcp:7007`
still dont work

[2019-07-25 07:58] Gongreg commented on #103
I can tell you that 5.2.0-beta is supposed to work since I checked it last week. Try to do fresh install, and make sure that all storybook dependencies are 5.2.0-beta...

[2019-07-25 07:59] Gongreg commented on #103
also you are using port 6006, so you have to run `adb reverse tcp:6006 tcp:6006`

[2019-07-25 10:03] hosseinarsheia commented on #103
i did all thing you said but still no sucess here

[2019-07-25 10:10] Gongreg commented on #103
Sorry but I don’t know how to help you more. Unless you can do reproduction that I can run, then I might try to look for issue :)

[2019-07-25 10:55] andrey-shostik commented on #103
@Gongreg Thanks a lot! I managed to connect by changing versions to
[code]
And before install removed whole node_modules
![download-2](https://user-images.githubusercontent.com/13626849/61869301-f99aed00-aee3-11e9-8a08-86fc681c8fbb.png)

[2019-07-25 10:56] Gongreg commented on #103
Glad to hear that you got it working :)

[2019-07-25 12:54] andrey-shostik commented on #103
Sorry I forget to say that as well I changed port to 7007, and actually exactly it helped to me.

[2019-07-25 12:55] Gongreg commented on #103
@hosseinarsheia can you change the port to 7007 and then try things out?

[2019-07-25 16:14] ocano12 commented on #38
Hi im getting the same warning any updates on this?

[2019-07-25 16:19] Gongreg commented on #38
No, sorry.

[2019-07-29 23:52] kenny-inthirath-pear opened #257 "[React-Native][5.1.X] addon-ondevice-notes crash on initial story selection"
**Describe the bug**
Using the Notes add-on for the INITIAL Story that is loaded crashes the app and throws a JS error

Any Story selected after the initial one WILL NOT crash

**To Reproduce**
1. Go to 'ADDONS' on the INITIAL Story loaded
2. Click on 'NOTES'
3. See error `TypeError: Cannot read property of 'selection' of null`

**Expected behavior**
Should see the text passed in (or auto-generate

[2019-07-31 21:59] techgerm commented on #34
This is still the sole issue that's holding us back from upgrading to React Native ^0.60 now that it has been released.
@benoitdion any plans on trying to merge this again soon?

[2019-08-02 07:07] #302 closed, assigned to nobody

[2019-08-07 02:53] techgerm commented on #34
@shilman Was this labeled as `has workaround` since we can quiet the warning?

From my understanding, there is no current workaround to actually upgrade to React Native 0.60 without having this issue resolved and that is the bigger problem here than just seeing a warning.

If this issue is only concerned about hiding the warning, should I open a separate issue detailing how this is preventing folk

[2019-08-07 03:41] shilman commented on #34
@germanp173 Yeah I was referring to the comment above for how to quiet the warning. Re: the upgrade, any interest in putting together a PR for this? I think that would be the easiest way to help push things forward here.

[2019-08-07 07:40] shilman commented on #5
@RWOverdijk do you? :trollface:

[2019-08-07 19:04] techgerm commented on #34
@shilman roger that ... I'll see if I can put one together this weekend, thanks 👍

[2019-08-13 19:32] META-DREAMER commented on #33
@shilman @benoitdion @Gongreg Any update on this? This is completely preventing me from using storybook.

[2019-08-15 09:00] ChuanxuMa commented on #257
meets the same error

[2019-08-15 09:52] ChuanxuMa commented on #257
It's because your default component on initial has no any notes. To avoid it, suggest to add note on every component.

[2019-08-19 12:30] joan-saum commented on #34
@germanp173 did you work on it by any chance ? :) If yes, could you reference your PR here? I think some people like me are subscribe to this issue

[2019-08-19 15:01] Gongreg commented on #34
Hey, Since nobody worked on this I've created a PR for this issue. I am using approach that should support both expo/React Native <=0.59 and React Native >= .60 users. Tell me what you think about it.

[2019-08-24 10:17] sanjeevyadavIT opened #26 "Stories aren't displaying in browser"
**Describe the bug**
My stories don't appear in browser.
On (android) simulator i can see the stories
I have also tried running `adb reverse tcp:7007 tcp:7007` this command and nothing happens
I even changed the port then also nothing happened

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo `https://github.com/alexakasanjeev/magento_react_native.git`
2. cd into the folder
3. c

[2019-08-24 10:19] shilman commented on #26
@alexakasanjeev Have you tried the latest 5.2-beta?

[2019-08-24 10:20] sanjeevyadavIT commented on #26
no, do I need to update all these three dependencies to 5.2-beta
[code]

And what command do I need to run in order to get 5.2-beta
and most current version is `v5.2.0-beta.40` should I switched to that

[2019-08-24 10:33] shilman commented on #26
Yeah all the storybook packages should be the same version. `npx npm-check-updates '/storybook/' -un` should upgrade your `package.json` and then use `npm` or `yarn` to install.

[2019-08-24 10:53] sanjeevyadavIT commented on #26
did that, upgraded storybook to `5.2.0-beta40` stories are loading now but
**story not changing when clicking on any story from browser**

facing the same issue now as storybookjs/storybook#7723

checkout my repo here [storybook-error](https://github.com/alexakasanjeev/magento_react_native/tree/bug/storybook-server-not-working)

[code]

[2019-08-26 02:59] jhau commented on #26
I have the same issue as @alexakasanjeev, when clicking on the link in the webpage, it doesnt change the story on device (or simulator).

[2019-08-26 03:06] shilman commented on #26
Thanks @alexakasanjeev @jhau I've marked storybookjs/storybook#7723 as a high priority bug, so hopefully one of our RN maintainers can address it soon

[2019-08-29 13:56] mgcrea opened #11 "storybook does not handle react-native@0.61.0 new fast refresh mode"
**Describe the bug**

Following the release of react-native@0.61.0-rc.0, legacy "hot module reloading" and "live reloading" have been merged in a single new "fast refresh" mode to hot reload components (more details in this [blog post](https://medium.com/@jonnyburger/first-look-react-native-0-61-with-fast-reloading-ad387e502e6f)).

Unfortunately, this new mode does not work with storybook as I get

[2019-08-30 02:30] shilman commented on #11
@mgcrea Any interest in trying to tackle this?

[2019-08-30 10:23] mgcrea commented on #11
@shilman Yep, could try to fix this, but I'm not sure to know where to look,

The warning does seem purely informative (see [story_store.ts](https://github.com/storybookjs/storybook/blob/next/lib/client-api/src/story_store.ts#L186)).

Any insights on where I should look/fiddle?

[2019-09-02 07:38] losh11 opened #19 "start-storybook crashes with: identifier.indexOf is not a function"
**Describe the bug**
Running `start-storybook` doesn't work. Instead the process crashes and gives the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create new react-native project.
2. `$ npx -p @storybook/cli sb init --type react_native`
3. `$ npm run storybook`

**Expected behavior**
Storybook should work.

**System:**
Environment Info:

  System:
    OS: macOS 10

[2019-09-05 20:50] META-DREAMER commented on #33
@shilman @benoitdion @Gongreg Not stale

[2019-09-15 16:23] RobinLebhar commented on #32
Any news about this issue ? With expo 34 and Storybook 5 Story are loading forever on the left panel.

[2019-09-19 17:52] sanjeevyadavIT commented on #26
@shilman Just tested storybook 5.2.1, finally working fine, thank you

[2019-09-20 16:11] perpetuatingcuriosity commented on #257
Even if I add notes to every story I get `TypeError: Cannot read property of 'selection' of null`

[code]

Can the workaround label be removed here?

[2019-09-21 07:59] ghondar commented on #257
in `addon-ondevice-notes/src/register.js` they have:

[code]

where `active` prop validates the getStoryAndParameters operation, but active props first time is true and the state isn't created, I added this line below if conditional

[code]

to make sure it comes with data before rendering the view.

[2019-09-21 08:15] ghondar commented on #257
here my pr storybookjs/storybook#8152

[2019-09-25 08:26] insidewhy commented on #302
Getting the same thing here, did you guys give up on storyshot or did you find a fix?

[2019-09-26 09:49] fozhao commented on #19
Can't believe this one is ignored. Having the same problem and it's blocking me half of the day. Any luck? @losh11

[2019-09-26 15:29] losh11 commented on #19
No update @fozhao

[2019-09-27 01:59] mphasak commented on #19
Running into this too.  Had it working in a previous node_modules state which I can't now recreate, if that's any clue to anyone.

[2019-09-27 02:24] mphasak commented on #19
I need to set aside the problem for now; here's the diff list of the working node_modules (`node_modules.works`) and the broken one (`node_modules.broke`).  I'll hold on to the folder, feel free to ping me if anyone wants to see the specific diff of one of these files:

[code]

[2019-10-10 11:10] benjaminreid opened #20 "Promise.finally is being overwritten in React Native"
**Describe the bug**
The inclusion of Storybook inside a React Native app seems to remove the implementation of `Promise.prototype.finally`. Causing the `Promise.resolve(...).finally is not a function error` to occur.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh React Native project.
2. Setup Storybook as reference here, https://storybook.js.org/docs/guides/guide-react-nati

[2019-10-15 15:57] tjbenton commented on #20
in case anyone didn't figure out this simple temp fix.

[code]

[2019-10-17 02:44] odjhey commented on #20
Hello, thank you for this
Quick fix is working on OSX but not on windows, any idea why?

[2019-10-17 16:19] tjbenton commented on #20
@odjhey The only reason why I can think of for why this wouldn't work is that the version of node you're using doesn't support it. But if the `node --version` is the same on both Windows and OSX then i'm not sure. You could also try to just import the [pollyfill](https://www.npmjs.com/package/es6-promise) for it if upgrading your node version doesn't work.

[2019-10-21 09:13] miguelSWE commented on #20
Hey there @tjbenton, what if you are running storybook as a View contained in an app?

Doing the same as you did, before/after the imports doesn't change it.

Minor update: If I do your tmp fix  on `@storybook/react-native/index.js` it works. However then I'd have to fork the Storybook repo just for this (or patch-package it)

[2019-10-22 12:32] shilman commented on #11
@Gongreg @benoitdion any ideas?

[2019-11-02 20:18] Gongreg commented on #11
@shilman, I will keep this task open and close the old one, since this format is replacing hot reloading.

[2019-11-02 22:03] Gongreg commented on #11
Hi.
Actually fast reload does work, but it doesn't work when you are using `addDecorator(Story => <Story />)`
.

Edit:

I've played around a bit more and I see that if you are editing the same story you have visible the fast refresh works well. There are other issues, but I think they are related to: https://github.com/storybookjs/storybook/issues/8306

So If you are changing only something deep e

[2019-11-03 14:01] Gongreg commented on #257
This issue is already fixed in 5.3.0-alpha.37 . Closing it.

[2019-11-03 14:26] Gongreg commented on #5
The addon is still broken.

@ndelangen, you've updated link addon to use global story store. React Native does not expose one.

Also React Native is not listening to SELECT_STORY event to update selected story, it actually emits this event itself so the web tree view would update when user select story through simulator.

[2019-11-03 15:22] Gongreg commented on #257
I am taking it back, the issue still persists. Creating a PR.

[2019-11-03 15:26] Gongreg opened #14 "Addons should prioritize using api instead of channel whenever possible"
By using channel we simplify React tree update, since we can fetch info in the middle of the render instead of doing additional setStates.

[2019-11-03 16:33] Gongreg opened #17 "React Native: Vertical split for React Native On Device UI"
Long time ago when I was creating new UI for React Native my first version looked like this:

![](https://media.giphy.com/media/fe9Rx5ABVYUS6tDRYO/giphy.gif)

I see a benefit of having ability to display addons/navigation at the bottom of the screen.

Quite often the components are actually not that big of the size, by using panel
at the bottom we could avoid scaling preview altogether.

The panel

[2019-11-05 12:27] Gongreg commented on #20
Hey,
Currently we cannot give any good solution for this problem. To overcome this issue we would have to change compilation target, but most of storybook packages are targeting web. So fixing it would take a while. But we will try to think of something. :)

[2019-11-05 12:31] benjaminreid commented on #20
@Gongreg Thanks for looking into this, I appreciate it’s a tricky problem. Hopefully someone can find a solution soon.

[2019-11-05 12:35] Gongreg commented on #20
The longer term solution is we are going to try splitting out react native storybook out of monorepo, so we will be able to change build setup. But that will take time.

If anyone has any short term ideas it would be great, because I am also experiencing the issue in our own project. :/

[2019-11-05 14:00] shilman commented on #34
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.39 containing PR storybookjs/storybook#7801 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-11-05 14:00] shilman commented on #257
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.39 containing PR storybookjs/storybook#8692 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-11-06 14:24] Gongreg opened #4 "React Native: Endless story switching loop when notes are open"
When you start react-native-server, open notes tab and select a different story, storybook starts switching between old and new story back and forth.

If you have canvas open it does not happen.

[2019-11-06 15:38] jarodevs commented on #11
Hello, so i am not actually using any hooks neither the addDecorator function. I still have a :
`TypeError: JSON.strinfigy cannot serialize cyclic structures` when using fresh reload on RN.
Any fix to it?

Further description of the error at : https://github.com/storybookjs/storybook/issues/8734

[2019-11-06 15:44] Gongreg commented on #11
Hey. To sum it up, react native storybook simply doesn't properly handle fast refresh at the moment. Even if it works a little bit it is just pure luck.

Everyone is welcome to try to make it work :)

[2019-11-09 08:11] shilman commented on #20
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.42 containing PR storybookjs/storybook#8698 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-11-09 08:15] Gongreg commented on #20
@shilman this issue is a lot bigger actually :| All of the packages that are used in React Native shouldnt have any polyfills. We cant think of an easy solution with @ndelangen . Maybe we could just add the polyfills in entry files for manager/preview and skip them in lib/addons?

[2019-11-18 19:57] code-jenn-or commented on #34
This did seem to resolve, looking forward to next release coming out!

[2019-11-20 13:38] shilman opened #16 "Move react-native packages to their own monorepo"
We should move react-native and its affiliated packages to its own monorepo: https://github.com/storybookjs/react-native

## Why

We want to be able to release and version RN independently of the rest of Storybook:
- Changes in Storybook core force changes in react-native even when RN is not ready
- Changes in RN force breaking changes in `@storybook/react-native` but we are unable to make those c

[2019-11-20 13:42] Gongreg commented on #16
One of the main benefits we will get by moving out, is that we will be able to lock in the dependencies for React Native Storybook and focus on stability.

This way the developer/user experience to work with/on Storybook will be a lot better.

If you have any suggestions/ideas feel free to share them :)

[2019-11-21 12:01] olddustysocksunderthecouch commented on #19
This issue is not resolved

[2019-11-21 16:33] jsjoeio opened #7 "[Documentation]: Update RN documentation around AsyncStorage"
**Is your feature request related to a problem? Please describe.**
I'm new user of Storybook. We're using it on a React Native project. I've upgraded to the `@next` version to remove a warning about `AsyncStorage` per the recommendation here: https://github.com/storybookjs/storybook/issues/6078#issuecomment-549834805

Now, I see a new warning, which suggests I follow the `MIGRATION.md` guide, whic

[2019-11-25 10:14] shilman commented on #14
@Gongreg if you mark the issue with the `todo` label, the stale bot won't touch it

[2019-11-25 10:15] Gongreg commented on #14
Thanks @shilman! :)

[2019-11-29 13:21] kyle-ssg commented on #302
I find that this is an issue when passing an element as a prop, otherwise, it works fine.

[code]

[2019-12-02 15:52] gdedieu92 commented on #32
in my case the think is that main file is different with expo and story book.

The left loading panel forever is because by default story book loads a part of de index.js in --web but the folders with examples of stories are only --ios and --android. So is tricky but you can make a "switch" and define what loader wants.

Example:

I made a switch navigator in my app.
`
const switchNavigator = crea

[2019-12-05 18:30] Madsim commented on #33
I ran into the same problem, today. Any setup steps that could be missing, but are not documented well? I (try to) use CSF.

Sorry did not realize this is labeled with react-native. I have the same problem in react.

Additional Details:
It seems the hookify function expects a decorator name and can't find it.
The error occurs at:
[code]

All decorators I use are defined in config like this:
[code]

[2019-12-05 18:31] Gongreg commented on #33
Hi. CSF is not supported in RN

[2019-12-05 18:37] Madsim commented on #33
I updated my answer

[2019-12-06 08:55] Gongreg commented on #33
@shilman, take a look above.

[2019-12-06 22:10] aloukianova-godaddy commented on #33
@Madsim
I had the same problem - I was importing a decorator in `storybook/config.js` that I had removed. Check that all decorators that you use do, in fact, exist.

[2019-12-07 03:37] shilman commented on #33
@Madsim there is no `withDocs` in `addon-docs`

[code]

[2019-12-07 13:00] Madsim commented on #33
@shilman that solved it for me, don‘t know about the original question asker, though. Thanks :)

[2019-12-20 07:58] ridsameer opened #8 "Invariant Violation - Color Picker in React Native"
**Describe the bug**
Getting the follow error when trying to choose a color in react native on Device knob. Works okay in Storybook Server

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new story
2. Install and properly import addon-ondevice-knobs
3. Create a `color` variable and use in your story
4. Try to click on the color in device

**Expected behavior**
A color picker t

[2019-12-25 17:19] rajatrao777 opened #21 "Not able to view to react native stories on web"
Hi ,
First of all storybook is amazing!.
I am trying to use it for building design system library for react-native.
I have installed react-native through react-native init and configured storybook through sb init
On running storybook server, i am able to view default stories on mobile device but web shows default stories but on selecting it changes in mobile and view is not there in web
![sb](http

[2019-12-26 23:51] vinipachecov commented on #21
@rajatrao777  As far as I know you can't show them on the web unless you use react-native-web project.

Basically you can't render React-Native primitives on the web with storybook.
 One workaround would be to have a specific build, like with environment variables to delivery a storybook app to your testers.
There is react-native-web, which would lead to an extra effort of maintaining another proj

[2019-12-29 06:03] rajatrao777 commented on #21
@vinipachecov Thanks for your response.
what you have suggested with diawi and share storybook app can be considered :+1:
Just wanted to keep it open so people who are facing the same issue/ or solved the same can share their views

[2020-01-02 02:39] zhigang1992 opened #13 "React native fails with JSON.serialization issue"
**Describe the bug**
Default configuration with sb stopped working after `beta.25`

**To Reproduce**
Steps to reproduce the behavior:
1. `npx react-native init testSB --template react-native-template-typescript`
2. `npx -p @storybook/cli sb init --type react_native`
3. Launch the app
4. Launch the storybook server

**Expected behavior**
Should not throw error

**Screenshots**
![Simulator Screen Sh

[2020-01-02 03:40] jamesjara commented on #21
Agreed, It's a bit confusing how the docs are explained, by reading the docs it seemed that you are supporting story books for reaact native. When you read "demos of react native web and react dates...etc" you can assume that those are examples of react native applications with storybook static builds.

So yes adding a flag to build the app with the storybook registered app,  will be the only solu

[2020-01-02 04:06] shilman commented on #21
we DO support storybooks for react native -- on your device in the actual native environment, which AFAIK is what actually matters in the end. there are ways to emulate this in the browser but at the end of the day they are just emulations of varying fidelities.

[2020-01-02 06:54] jamesjara commented on #21
yep, this is because I was understanding (and other guys in stackoverflow) that we can build a static website from the react-native storybook components, just like the title of this thread, because if you go to the docs the title "Exporting Storybook as a Static App" sounds like we can export our mobile application storybook stories to a static app(web-app) just like the linked examples, maybe add

[2020-01-04 15:37] doctyper commented on #13
I just ran into this issue as well.

The error comes from the use of [json-fn](https://github.com/storybookjs/storybook/blob/next/lib/channel-websocket/src/index.ts#L2), which does not guard against circular references in JSON objects.

There is a circular reference in [`hooks.ts`](https://github.com/storybookjs/storybook/blob/next/lib/addons/src/hooks.ts#L179). `context` includes a reference to `

[2020-01-05 05:03] shilman commented on #13
cc @Hypnosphi can we patch this if it makes sense?

[2020-01-05 10:08] Hypnosphi commented on #13
Unfortunately, the proposed change doesn't support mutation of context obtained from `useStoryContext`:

[code]

As an alternative, we can use `telejson` as we do in [`channel-postmessage`](https://github.com/storybookjs/storybook/blob/next/lib/channel-postmessage/src/index.ts#L5)

[2020-01-06 16:12] doctyper commented on #13
I will of course defer to you, but I would suggest exposing a setter API as opposed to encouraging a direct mutation:

[code]

This would support my workaround. But again, I will defer to your judgement.

[2020-01-10 08:17] ghost opened #6 "addon-action error"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to
    <Button
      onPress={action('onPress')}
      label={text('label', 'buttonText')}
      disabled={boolean('disabled', false)}
      loading={boolean('loading?', false)}
      variant="primary"
    />
2. Click on the Button

screenshot
![Screenshot_1578644004](https://user-images.githubusercontent.com/45386134/72136729-1e035c80-3392-1

[2020-01-15 18:30] AlexandreLage commented on #11
Sadly I can't use this package then :'(

[2020-01-16 05:03] JeffGuKang opened #24 "[React Native] No Addon tab in @storybook/react-native-server > v5.3.x"
**Describe the bug**

I cannot find addon tab in @storybook/react-native-server v5.3.3.

I have been using addons well like addon-knobs in v5.3.0-alpha.45 as below.

###  "@storybook/react-native-server": "v5.3.0-alpha.45",

[code]

![image](https://user-images.githubusercontent.com/216363/72494049-06324980-3866-11ea-94b8-442d011a99e4.png)

### "@storybook/react-native-server": **"5.3.3"**

There

[2020-01-16 11:12] Gongreg commented on #7
Hey @jsjoeio .
Sorry for missing the issue.
The benefit of using Async Storage is that when yuo refresh your app, storybook will open your last visited story.

If you can find a place to put this information somewhere in the documentation, the PR is very welcome :)

[2020-01-16 11:13] Gongreg commented on #11
@AlexandreLage, sorry to hear that.
It can definitely be fixed, but someone has to work on it.

[2020-01-16 14:47] AlexandreLage commented on #11
Hey, just `disableWebsocket: false` did the trick.

[code]

[2020-01-16 14:49] jsjoeio commented on #7
Awesome sauce! Thanks for following up on this. I'll find a place an open a PR :)

[2020-01-17 02:09] gmlnchv commented on #24
@JeffGuKang Just had a similar issue with the web-components app. See if pressing <kbd>A</kbd> or <kbd>D</kbd> brings the panel back.

[2020-01-18 18:09] jukben opened #23 "react-native-server can't be reached via local ip adress"
**Describe the bug**
When I run `@storybook/react-native-server` (5.3.6) I can't connect via local network e.g http://192.168.190.232:7007/

**To Reproduce**
I used this guide https://storybook.js.org/docs/guides/guide-react-native/

**Expected behavior**
I can connect via localhost and also via local ip adress. Thus I can develop in simulator but also on real device.

**Screenshots**
If applicabl

[2020-01-20 10:43] stephanos7 commented on #11
But disabling web sockets also cuts communication with the web server to preview stories on the browser correct? disableWebsockets: false allows me to render the stories in the iOS simulator but stories have stopped loading on the browser, is this expected with this workaround?

[2020-01-20 10:45] dbenfouzari commented on #11
@stephanos7 try to insert option `onDeviceUI: false` to make it work again.

[2020-01-20 12:48] Anitorious commented on #11
@shilman @dbenfouzari These work arounds only work if you don't intend to use the features of storybook that make it a good investment. As it stands, it's currently a glorified sandbox environment for static components. Tagging it with `has workaround` may be misleading? I'd like to help in anyway I can to get these issues resolved though.

[2020-01-20 12:50] Gongreg commented on #11
@Anitorious, feel free to try to fix the issue. As it currently stands I see a lot of people who would benefit from having fast refresh working out of the box.

[2020-01-20 14:14] stephanos7 commented on #11
@dbenfouzari thanks, this did load the available stories on the web's side bar - though nothing renders when you select a story. Not entirely sure if my issue is related to this, will dig into it.

[2020-01-23 12:53] mtford90 commented on #4
The combination of this issue + lack of fast reloading support + random warnings about duplicate ids has rendered storybook pretty much useless on react native for us - for months now.

[2020-01-23 12:57] Gongreg commented on #4
@mtford90, what exactly are you trying to achieve with this comment?
If an open source tool is broken and it doesn't work well enough for you you can always fix it yourself. There are plans that we have to make storybook better but I cannot simply work on it whenever I want to. I have plenty of things to do at my work, when I get back home I want to rest instead of working on another serious proje

[2020-01-23 13:46] mtford90 commented on #4
@Gongreg it wasn't meant as a personal attack - apologies if it came across that way. As far as what I was trying to achieve: informing the maintainers that the accumulation of RN issues has rendered it essentially broken and that it has been that way for quite a long time.

I may well make an attempt at this.

[2020-01-23 15:02] Gongreg commented on #4
@mtford90, thank you for clarifying the message. I agree that RN Storybook is in a hard place. For me now the first priority is to set up e2e tests and fix existing issues like broken fast refresh.

As the project stands right now (no tests), we cannot keep it not broken, since a lot of internal dependencies are keeping updated.

Also if you have any questions always feel free to ask, I would glad

[2020-01-24 06:01] rdias-dev commented on #13
+1

[2020-01-25 18:50] mi5ha commented on #13
If I am not mistaken, current version of Storybook is unusable until this is solved right?

Is there some older version of Storybook that doesnt have this bug?

[2020-01-26 03:14] zhigang1992 commented on #13
@mi5ha

[2020-01-26 17:41] mi5ha commented on #24
I have the same issue, and pressing A or D doesnt help.

[2020-01-27 08:10] prabhjodhOYO commented on #24
Having the same issue, not able to see addons tab (only after updating to v5.3.x) on browser but addons tab is available on-device.

Quick-fix: Downgrading the version to 5.2.8 worked for me.

[2020-01-27 08:28] JeffGuKang commented on #24
It works also `v5.3.0-alpha.45` version as my stortbook packages info.

[2020-01-27 12:06] ndelangen opened #2 "Overhaul the UI to use webviews"
The RN UI is currently build all in RN. This makes it very time-consuming.
We're for the most part unable to re-use the web-UI because it depends on loads of dependencies that are not suitable for RN. There's also the polyfill issue that's not easy to resolve.

If we want to make this easier we should consider this:

Using web-views with the manager's UI in it for rendering the explorer & addons.

[2020-01-27 12:08] ndelangen opened #3 "Add tests"
The RN code is not tested as much as it should.

We should add:

- [ ] tests that can be run locally
- [ ] documentation for how to run tests
- [ ] run tests in CI

[2020-01-27 23:41] pang0018 commented on #24
Same issue for me on 5.3.9

[2020-01-28 14:47] matteodanelli opened #18 "_global.__STORYBOOK_STORY_STORE__.getSelection undefined"
**Describe the bug**
I've implemented _@storybook/addon-links_ but when I try to create link Storybook crashes with the error written as the title.
I am using Storybook 5.3.9 for ReactNative.

**To Reproduce**
Configure storybook as follows:
[code]

[code]
I can see both first and second component in the side menu, but when I press the button then Storybook crashes with _global.__ STORYBOOK_STORY_

[2020-01-29 21:54] QuinnRhys89 commented on #13
Dealing with this issue as well. Any traction on this?

[2020-01-30 15:43] abhishek1305 commented on #26
i am facing the same issue while setting up my react-native project. I am unable to access stories from the browse. i am using storybook -v 5.3.9 .

[2020-01-30 19:21] mmeissonnier opened #15 "[React Native] Actions Addon error in withActions"
**Describe the bug**
I use storybook in my RN project. I want to load my storybook only when i'm in dev mode.
To do so in my react navigation stack i do this :
[code]
This seems to cause problems with the action addon. I've got this error
![image](https://user-images.githubusercontent.com/3540204/73481761-c78bab80-439c-11ea-9921-b5e51184732a.png)

However, if in node_modules/@storybook/addon-actio

[2020-01-31 00:34] TGTGamer commented on #13
+1 Same issue, real shame as this tool looks great. Guess while it's unfixed i'll either have to revert or continue without storybook for a bit

[2020-01-31 05:00] arlyon commented on #13
I can confirm that this fix 'works' but can be subtly buggy. For my purposes it is "good enough" to tide me over.

[2020-01-31 20:36] brotsky commented on #13
@arlyon Thanks for posting that diff! It worked for me!

Hopefully, the next version fixes this issue. This has been a huge headache for me!

[2020-02-03 10:26] jenskuhrjorgensen commented on #13
Thx @doctyper - [it](https://github.com/storybookjs/react-native/issues/13#issuecomment-570794970) works for me too!

My 5 cents to folks who are not familiar with patches. To apply the suggested patch (with `npm`):
1. `npm i patch-package`
2. Add script to `package.json` to apply the patch after every install: `"postinstall": "patch-package`
3. Replace
`hooks.currentContext = context;`
with
`hook

[2020-02-04 16:57] simonepizzamiglio commented on #13
@jenskuhrjorgensen you still need to install `patch-package` in your dependencies though?

[2020-02-04 17:01] davidnuvolar commented on #13
@simonepizzamiglio you should add it as a dependency and then, in your package.json scripts phase add the following:
`"scripts": {
...
    "postinstall": "patch-package",
...
}`
This way, every time you run a yarn install, the patch will be applied afterwards.

[2020-02-05 08:23] jenskuhrjorgensen commented on #13
You are absolutely right, @simonepizzamiglio and @davidnuvolar. I've updated my previous comment - thanks!

[2020-02-05 11:59] khrystynapochynok commented on #26
@shilman Having the same issue as described with v5.3.9.
Using storybook in react-native project and typescript.

[2020-02-05 12:02] Gongreg opened #25 "Story list is missing on a web view."
Issue: https://github.com/storybookjs/storybook/issues/7858

Reappeared again on 5.3.9

[2020-02-05 12:03] Gongreg commented on #26
Hey, I've created an issue in storybook for react native repository. The RN project was abandoned for some time but I am trying to get back to it again. I will be working on it on weekend and might have a chance to look into this issue.

[2020-02-05 12:45] shilman commented on #26
@Gongreg you can transfer issues in the right-hand side underneath "lock conversation" and "pin issue". I'm transferring this one.

[2020-02-05 12:46] Gongreg commented on #26
oh, thanks @shilman, found it!

[2020-02-05 12:46] #25 closed, assigned to nobody

[2020-02-05 12:57] Gongreg commented on #21
Hey, in the long run we have a plan to try to support react native web. As it is now, the main recommendation is to put storybook as an easter egg or something in your app. Or if you have multiple releases you could only keep it in dev release. Or if you don't have any native dependencies, an expo app could be created which downloads your storybook bundle from somewhere and renders it (we had a PO

[2020-02-05 13:02] #10 closed, assigned to nobody

[2020-02-05 13:07] Gongreg commented on #18
closing in favour of #5

[2020-02-05 13:07] #18 closed, assigned to nobody

[2020-02-05 13:09] matteodanelli commented on #5
This issue is still around, as mentioned in the referenced one.

[2020-02-05 23:20] brotsky commented on #13
Thanks @jenskuhrjorgensen for the explanation of how to create patches! That worked perfectly for me!

[2020-02-06 10:06] ghost commented on #24
Same issue for me on 5.3.12

[2020-02-07 09:50] arlyon opened #29 "Typing information is incomplete/missing for storiesOf"
**Describe the bug**

The index.d.ts declares this type:

[code]

 This 'breaks' code completion (in that there isnt any) and requires explicitly defining the types of the chain functions.

[code]

`@storybook/react` is typed properly.

[2020-02-11 11:40] brian-perlego commented on #13
Any update on this issue ?

[2020-02-11 11:42] Gongreg commented on #13
Hey, sadly not yet. But this is on my todo list for this week.

[2020-02-12 15:33] dannyhw commented on #7
@Gongreg  after adding asyncStorage I'm not seeing the app return to my last visited story on refresh, is there any other config required for this to work?

[2020-02-12 15:34] Gongreg commented on #7
Hey @dannyhw, how did you enable it? What did you pass to asyncStorage?

[2020-02-12 15:36] dannyhw commented on #7
[code]

However I also tried with `require('@react-native-community/async-storage').AsyncStorage`

[2020-02-12 15:37] Gongreg commented on #7
Did you fully link it? https://github.com/react-native-community/async-storage There is information about linking it.

[2020-02-12 15:43] dannyhw commented on #7
😅 I just changed `import {AsyncStorage}` to `import AsyncStorage` and it started working, now I feel silly haha. I immediately saw this from their example. Thanks for the quick response though!

[2020-02-12 15:44] Gongreg commented on #7
glad that it works :)

[2020-02-12 16:41] ghost commented on #13
This also happened to me with `@storybook/addons@5.3.12` and the patch workaround works for now

[2020-02-12 17:50] jsjoeio commented on #7
I did this but forgot to close the issue:

Closing via https://github.com/storybookjs/storybook/pull/9494

[2020-02-12 17:50] #7 closed, assigned to nobody

[2020-02-15 18:16] Gongreg commented on #13
Hey, I've created a PR to fix it in the main storybook repo.

We still are in the middle of migrating out React Native from Storybook monorepo, so I can't promise when exactly the fix will be available, but I will try to get it out as soon as I can.

I am sorry that RN Storybook was abandoned for a while. Soon RN Storybook is going to be stable (that is why we are moving it out of main monorepo) a

[2020-02-15 19:56] Gongreg commented on #24
Hey, I've looked into this one. I've found why it is happening and now I am trying to find the root cause of it.

Info:

I found out that addons.js file is loaded only after provider.handleAPI() (which calls addons.loadAddons()) is called. I will continue looking into it after I get some updates from other maintainers.

[2020-02-15 20:00] Gongreg commented on #23
Hey.

This issue has to be on your side, storybook doesn't deal with networking on any way, all it does it binds itself to 7007 port on your machine.

So you have to make sure that your machine allows connections to the port 7007 (it depends on the os/firewall/other things so I cannot really help you there).

Good luck!

[2020-02-15 20:00] #23 closed, assigned to nobody

[2020-02-15 21:18] Gongreg commented on #11
Hello. I've managed to get fast refresh to work (no warnings), and actually adding/removing stories works.

There is one issue though, we will have to add a limit of calling only one storiesOf per file.

I would like your opinion regarding it, will it be an issue?

If not I would rather keep it like that, since we will try to also add CSF format in the future.

The technical side:

React Native fa

[2020-02-16 07:37] Gongreg commented on #22
Hey, are you still getting `simple-markdown` version lower than 0.4.4? Which package are you installing? ondevice-addon-notes or addon-notes?

[2020-02-16 20:40] jonathanmachado commented on #13
Sorry I need this fix please.

Thanks

[2020-02-16 22:36] pang0018 commented on #11
@Gongreg FWIW, I personally only call `storiesOf` once per file

[2020-02-19 01:27] jonathanmachado commented on #13
@Gongreg please you can check this thanks

[2020-02-19 05:55] slavik0329 commented on #19
Same issue here!

[2020-02-19 07:37] davidnuvolar commented on #13
Hi @jonathanmachado ,
if you need this fixed urgently, there is already a working patch in this thread, posted by jenskuhrjorgensen.

[2020-02-21 00:04] jonathanmachado commented on #13
Thanks @davidnuvolar it's working with this fix, only one question this fix remove actions logger? because in my stories I don't see actions event loggs, Thanks again

[2020-02-25 10:49] Gongreg opened #31 "Add a warning about single storiesOf usage."
To support fast refresh we need to limit storiesOf usage to a single one in a file.

We should be able to check the amount of calls by checking module.

[2020-02-26 19:31] i-oliva commented on #32
Having the same issue!

[2020-02-26 20:14] i-oliva commented on #26
@Gongreg @khrystynapochynok still have the same issue running expo and TS

changing dependencies back to `5.2.1` doesn't fix it either

[2020-02-26 20:28] Gongreg commented on #26
@pavilion, could you share more information? Exact storybook version, ios/android, physical device or emulator/simulator?

We are still in release of new version which will fix some of the issues. Hope to get a chance to work on rc version by the end of this week or during the next one.

[2020-02-26 23:46] i-oliva commented on #26
@Gongreg

1. `expo init project`
2. *select blank typescript project*
3. Follow https://storybook.js.org/docs/guides/guide-react-native/
4. `yarn storybook`

Stories are being displayed in Android but not on browser.

[2020-02-26 23:54] #32 closed, assigned to nobody

[2020-02-27 11:43] Gongreg commented on #26
You might have to forward port 7007 `adb reverse tcp:7007 tcp:7007`

[2020-02-27 17:51] i-oliva commented on #26
Doing that makes the stories appear on the left bar but they don't render (browser) which is probably expected?

[2020-02-27 17:57] Gongreg commented on #26
Great. That is not a bug. Stories are not rendered in the browser, they are rendered in the app itself. We will add support for react-native-web in the future.

[2020-02-27 17:57] #26 closed, assigned to nobody

[2020-03-02 08:48] brian-perlego commented on #13
Storybook 5.3.14 fixed the issue for me.
Thanks @Gongreg !

[2020-03-03 15:17] davidnuvolar commented on #13
I confirm the fix is working in 5.3.14. Thank you @Gongreg !

[2020-03-04 10:54] jgreen210 commented on #34
https://github.com/react-native-community/async-storage/issues/118#issuecomment-500138053

[2020-03-04 21:38] #34 closed, assigned to nobody

[2020-03-05 14:49] matiushenkoa commented on #11
But still, there will be an issue when you will have 1 `storiesOf` per file, but few `add` calls, isn't it?

[code]

[2020-03-06 09:08] Gongreg commented on #11
Hey @matiushenkoa , actually there shouldn't be, since module.hot.dispose() will take care of it. That is why we will allow only one storiesOf per file.

[2020-03-06 09:10] Gongreg commented on #13
Great! :)

[2020-03-06 09:10] #13 closed, assigned to nobody

[2020-03-09 14:43] hombrew commented on #35
Hello! @StuartTbox were you able to solve this?

[2020-03-09 15:10] StuartTbox commented on #35
Hi @hombrew this was early in the development of the project and did not block me so I didn't dive into the issue much further. Left storybook prototyping a week later I believe. Sorry I couldn't be more help. All the best.

[2020-03-09 15:46] hombrew commented on #35
Oh, no problem. This is not a block for me either so I believe I'll just wait for an update.

Thanks a lot!

[2020-03-11 16:52] erikaperugachi commented on #21
Right, the documentation is not complete.
Please check this video: https://www.youtube.com/watch?v=nWgKVEEI47Q
This explain that you should up both projects

[2020-03-12 06:38] RONAKDHOLARIYA commented on #21
same issue...

[2020-03-12 12:32] frankcalise commented on #21
This is how it is currently implemented if I'm not mistaken. The stories will only be able to be viewed on a mobile device. The web navigator is just to help switch between stories.

[2020-03-19 11:54] patrickjm commented on #36
I don't think relying on Appetize is a good idea due to the pricing. What we could try instead (and what Appetize is probably doing under the hood):

1. Create [docker images](https://github.com/matsawyer/ios-emulator)  for iOS and Android emulators + a VNC server
2. Tricky: Find some way to live update the react native app inside docker containers as you develop
3. Use something like noVNC to con

[2020-03-19 13:57] #36 closed, assigned to nobody

[2020-03-24 05:55] mym0404 commented on #21
I create a simple solution.

In development env, I created a selection process whether to run storybook or general application.

![1](https://user-images.githubusercontent.com/33388801/77392915-589c6300-6ddf-11ea-9714-8b9372dc13b4.gif)

If `__DEV__` is true, I wrapped `App.tsx` with simple HDC.

`LinearGradient` is absolutely useless. It is just for design.

[code]

[2020-03-24 16:07] RONAKDHOLARIYA commented on #21
Thanks, for solution

I will try this if any query I will ping.

On Tue, Mar 24, 2020 at 11:25 AM MJ Studio <notifications@github.com> wrote:

--
By
Ronak Dholariya
IT Branch
At B.H.Gardi college

9904817700

[2020-04-03 20:34] TfADrama opened #37 "React Native, Theme Dark, Unreadable text"
**Describe the bug**
Changing the theme to dark with react native causes some storybook's welcome text to be unreadable...

**To Reproduce**
Change the theme to dark by adding this in your ./storybook/index.js

**Expected behavior**
Storybook server with readable text.

**Screenshots**
![image](https://user-images.githubusercontent.com/1742789/78402804-2666de80-75f3-11ea-89e1-d22dd3f920eb.png)

**

[2020-04-06 15:01] costerik opened #39 "FlowJS Definitions - @storybook/react-native v.5"
It would be awesome to have the FlowJS definitions for Storybook v.5.

[2020-04-06 17:10] FRizzonelli commented on #24
@Gongreg Any updates? Seems you almost got the fix :)

[2020-04-06 17:15] FRizzonelli commented on #38
I think this is still an active issue (at least on latest version). Can we reopen it?

[2020-04-06 17:17] jonathanmachado commented on #24
Same issue for me on 5.3.12

[2020-04-06 17:32] Gongreg commented on #24
Hey, sorry. Got quite demotivated to work on the Storybook for React Native since there isn't a lot of activity happening here.

I hope to get back at it, would be really happy to see some people contributing to the project.

[2020-04-06 18:26] jonathanmachado commented on #24
I will try to help with what I can

[2020-04-07 18:55] costerik opened #40 "React Native Examples"
Are there react-native examples with the last storybook's version?

[2020-04-07 23:30] shilman commented on #40
RN has been moved to its own repo and the examples have moved along with it. Transferring this issue there :)

[2020-04-08 16:16] LuquinhasMoraes commented on #43
I have the some problem ;(

[2020-04-09 09:11] cloud-walker commented on #38
Hi, its working for me, I've installed both `addon-ondevice-actions` and `actions` but I've registered only `addon-ondevice-actions`, but I import `addon-actions` in the stories!

[2020-04-10 06:23] jb9229 opened #41 "keyboard auto dismiss"
**Describe the bug**
1. When I try to write on the Text Input Commonent, the keyboard goes up and down quickly.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![스크린샷 2020-04-10 오후 3 17 22](https://user-images.githubusercontent.com/3200647/78968446-93243080-7b3f-11ea-89d5-d2c49174b04a.png)

**Additional context**
1. Android Env is okay
2. Production Env is oka

[2020-04-10 10:28] pranshuchittora opened #42 "Err: React Native storybook symbolic dependency"
I am using React Native Storybook and to test a custom component library. I know that the metro server doesn't support symlinking. Hence I copied the packages in the app's node_modules manually (via script).

Then I wrote a story for that component. The default demo stories are working perfectly but when I click on my custom story it cashes.

![Screenshot from 2020-04-10 15-52-29](https://user-ima

[2020-04-11 07:29] #43 closed, assigned to nobody

[2020-04-11 08:38] henrikra commented on #29
I have fixed this: https://github.com/storybookjs/react-native/pull/44 Can you test my PR? :)

[2020-04-12 20:40] costerik opened #45 "react-navigation v5 issue"
**Cant use import {useHeaderHeight} from '@react-navigation/stack'**
`Error: Couldn't find the header height. Are you inside a screen in Stack?`

**Code snippets**
[code]

[2020-04-15 09:03] yosimasu commented on #24
Same issue for me on 5.3.18

[2020-04-17 20:16] kiranjd commented on #24
None of the panel are showing - knobs, actions.

Running react-native w/ Storybook version 5.3.18

[2020-04-17 20:20] kiranjd commented on #24
@prabhjodhOYO Could you tell me how to downgrade?
I have tried the following and they didn't work:

1. Cleared node_modules and then changed version numbers to 5.2.8
2. Tried to install version 5.2.8 using `@storybook/cli` - it doesn't look like the cli has that option

Thanks.

[2020-04-18 03:11] JeffGuKang commented on #24
@kiranjd

Just change the  `@storybook/react-native-server` to v5.3.0-alpha.45 as [mine](https://github.com/storybookjs/react-native/issues/24#issue-558649782)

[2020-04-18 19:45] fabien88 commented on #24
In the meantime, I share with you this patch to fix the bug and make add-on tab reappear :

[code]

### Steps to apply the patch :
- add `"postinstall": "patch-package"` in scripts section of your package.json  :
- create the file `patches/@storybook+react-native-server+5.3.18.patch` with content above
- run `yarn add --dev patch-package`

[2020-04-22 22:16] behealy opened #46 "Using addon-ondevice-notes crashes app on startup."
**Describe the bug**
Using the addon-ondevice-notes addon breaks storybook on the device. The following error is seen immediately on startup (or refresh of the simulator as the case may be):

![Screen Shot 2020-04-22 at 3 35 24 PM](https://user-images.githubusercontent.com/20525800/80036535-28fc7b80-84af-11ea-9b1b-3d1d6beba711.png)

In addition to the message about `story` being null when trying t

[2020-04-28 01:19] cjduncana opened #47 "Clean Install of Storybook for React Native causes TypeScript compiler error"
**Describe the bug**
If I run the TypeScript compiler to review the errors in my project, it reports errors from:

- `@storybook/addons`
- `@storybook/client-api`
- `@types/reach__router`

The last one is used by `@storybook/router` as mentioned in [#8095](https://github.com/storybookjs/storybook/issues/8095). By using what is suggested in that issue, I can remove only one of the seventeen errors.

[2020-04-28 21:08] joshglenn opened #48 "What is the difference between this repo and the one at `https://github.com/storybookjs/storybook/tree/master/app/react-native`?"
What is the difference between this repo and the one at `https://github.com/storybookjs/storybook/tree/master/app/react-native`?

[2020-04-29 13:57] joshglenn opened #49 "object addon in @storybook/react-native is not working if results of object function are placed in a variable first"
**Describe the bug**
Object addon cannot be created using variable created with object(), only by direct function

**To Reproduce**
Try to create an addon like this:

[code]

^ doesn't work. The knobs tab simply shows: NO KNOBS.

But this does work:

[code]

**Expected behavior**
Both cases should work the same.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![funct

[2020-05-03 15:13] fabien88 opened #50 "Storysource support for react-native"
**Is your feature request related to a problem? Please describe.**
[Storysource](https://github.com/storybookjs/storybook/blob/master/addons/storysource) addon is not supported on react-native

**Describe the solution you'd like**
Makes react-native storybook server handle the loading of source.

**Are you able to assist bring the feature to reality?**
yes, I developed a simple/naive npm package t

[2020-05-03 16:33] fabien88 commented on #45
I think you need to wrap at least a HeaderHeightContext.Provider around your story since your story is not wrapped in a NavigationContainer as the error message states ?

example :
[code]
By the way, this has nothing to do with storybook ?!

[2020-05-12 11:15] feluxe opened #51 "Native Knobs: Knob menu showing on emulator screen but not in StoryBook web UI"
**Describe the bug**

I use StoryBook with React Native which works nicely. I can use the StoryBook web UI in the browser on my laptop to select different Stories on my device emulator. I was hoping to achieve the same with the `Knobs` addon, but it doesn't really work like I expected: The knobs are only availabe on my emulator screen, but not on the web UI in my browser.

**To Reproduce**

Steps

[2020-05-13 15:13] costerik commented on #45
You're right! Thanks

[2020-05-13 15:13] #45 closed, assigned to nobody

[2020-05-14 04:36] ahmadaafaq commented on #19
same issue, has anyone found any working solution for this.

[2020-05-15 14:05] IShotTheSheriff commented on #51
It's the same on my side. It's like content of `addons.js` is ignored for some reason.

[2020-05-16 15:08] DaviSena opened #52 "addon-ondevice-notes cannot read property 'parameters' of null"
**Describe the bug**
After installing **addon-ondevice-notes** version 5.3.18 and create my welcome story my react native app crashes with the error:

This is the code of my storie:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. yarn add -D @storybook/addon-ondevice-notes
2. add ```import '@storybook/addon-ondevice-notes/register';``` in rn-addons.js file
3. Open de storybook app

**

[2020-05-17 10:56] leotm commented on #24
Cheers @fabien88 , just curious if `@storybook/addon-ondevice-notes` works an intended for you guys.

I'm looking into
- getting our _NOTES_ tab displaying in the browser
- updating the  in the simulator/emulator once updated via the browser

Illustration: https://share.getcloudapp.com/5zu1olrq

[2020-05-17 11:39] fabien88 commented on #24
You're missing `import '@storybook/addon-notes/register';` inside addons.js (you also need to install it if not already).

Notes tab display on the top :
![image](https://user-images.githubusercontent.com/279377/82143366-9f3c9580-9843-11ea-964a-4f245b624f2a.png)

[2020-05-17 13:36] leotm commented on #24
Agh how'd I miss that, cheers again @fabien88.

I've come across https://github.com/storybookjs/react-native/issues/4, looking into that.

Still have the browser/simulator out of sync, I'll raise as separate issue since we're not aware and look into that too.

(Illustration: https://share.getcloudapp.com/z8uxRej8)

[2020-05-17 13:44] leotm opened #53 "addon-notes and addon-onedevice-notes out of sync switching between stories"
**Describe the bug**

_@storybook/addon-notes_ in the browser and _@storybook/addon-ondevice-notes_ in the simulator are out of sync when switching between stories.

Notice however knobs are for example.

**To Reproduce**

Screenshare video: https://share.getcloudapp.com/z8uxRej8

**Expected behavior**
Syncronised behavior, like with _@storybook/addon-knobs_ and _@storybook/addon-ondevice-knobs_.

[2020-05-20 13:30] Gongreg commented on #53
Thanks. Most likely the notes addon is not listening to story change event.

[2020-05-21 22:00] markwindsorr commented on #19
same issue

[2020-05-23 06:24] bouncycatt opened #55 "React Native server stories list infinitely loading"
Hello! I had a problem with loading Storybook web explorer, it doesn't load the left menu. But on a device Storybook works well. I met the problem both during Intro React Native Storybook Tutorial and in my bare workflow project. It just doesn't build a web version.

**Steps**
1. In a terminal to a project folder:
`npx -p @storybook/cli sb init --type react_native`
`yarn add -D @storybook/addon-on

[2020-05-23 18:52] FrenchSam commented on #5
Hi! I just ran into this issue, is there any workaround available (or an ETA for a fix)? Thanks!

[2020-05-27 05:50] compojoom commented on #19
I'm thinking that something is missing in the docs. I added a simple console.log in the enhanced-resolve/lib/Resolver.js and the line with indexOf receives a function.

I guess that we need some kind of config in babel.config to properly resolve the dependencies.

[2020-05-27 06:20] compojoom commented on #19
Ok, just for the protocol. I did a clean RN installation and then installed storybook. Server starts fine.

So it must be something in our project that is incompatible.

[2020-05-29 06:11] Znow commented on #21
I also just tried to get this up and running, and my first thought when reading the documentation, was that the components and stories you define in your app, would be "viewable" on a static website aswell. But this is a lacking feature?

[2020-05-31 07:39] gobengo commented on #5
FWIW, I confirmed that React Native will react to a SET_CURRENT_STORY event. This event requires a storyId, though, but that can be generated like follows:

[code]

I'm not using the addon-links, but doing somehting similar on my own. But it sounds like either:
* addon-links should emit SET_CURRENT_STORY instead of SELECT_STORY (what's the difference?)
* alternatively maybe @storybook/react-native

[2020-05-31 23:46] alaboudi opened #56 "Expo babel config clashes with react native server"
**Describe the bug**
After starting a RN Typescript project from scratch with Expo, it seems like there is a babel config conflict with `@storybook/react-native-server` somehow. I get the following error.

[code]
It seems like the the `loose` option value should be consist between the `@babel/plugin-proposal-class-properties` and `@babel/plugin-proposal-private-methods` packages. You can find more

[2020-06-02 17:12] penumbra1 commented on #49
Looks like the same goes for the select addon.

Environment Info:

  System:
    OS: macOS 10.15.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
  Binaries:
    Node: 12.14.1 - ~/.nvm/versions/node/v12.14.1/bin/node
    Yarn: 1.22.4 - ~/.nvm/versions/node/v12.16.2/bin/yarn
    npm: 6.13.4 - ~/.nvm/versions/node/v12.14.1/bin/npm
  Browsers:
    Chrome: 83.0.4103.61
    Safari: 13.1.1

[2020-06-03 10:19] chundeluoyetian opened #57 "storybook for React Native can't excute resolve of promise"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
When your start a story about react native component, you write a promise in the component and the promise's then does't work.

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react-native 5.3.18
- @storybook/addons 5.3.18

### Screensh

[2020-06-07 06:28] JeffGuKang commented on #55
Did you try it?
1. Connect Android device
2. Run storybook server, you need to check `$ (adb reverse tcp:7007 tcp:7007 || true) && start-storybook` working well.
3. Run react native to your device
4. Reload your app in debug mode

[2020-06-08 09:40] akhudairy opened #58 "The stories do no not load on React Native Tutorial"
**Describe the bug**
The stories on left pane they keep loading forever and I see no errors on console. I am just following the basic steps in first section of the react native tutorial (https://www.learnstorybook.com/intro-to-storybook/react-native/en/get-started/).

Please keep in mind that React.JS tutorial was working just fine for me.
I am using a mac book with Catalina 10.15.4 (19E287).
Reac

[2020-06-09 21:46] dbudziwojski commented on #38
I'm still seeing this issue, `action("clicked-text")` continues to not cause the action logger to appear, whilst the Addons tab continued to show "No adding loaded". Warning appears as per original documentation. I've attempted the import of `addon-ondevice-actions`to no avail.

[2020-06-10 05:48] rzdev commented on #50
@fabien88 i am able to use your storysource transformer package after reading this temporary solution https://github.com/storybookjs/react-native/issues/24#issuecomment-615934280

[2020-06-10 07:15] DevYuns opened #59 "Problem with getting an image"
**Describe the bug**
When I tried to use an image(png) with storybook, it didn't appear on the screen. Even though it doesn't return any error. But when I run expo start, It returns different result. I can see the image. but running from stroybook(yarn web), nothing happened.

please check this out.

**Code snippets**
[code]

**repository**

https://github.com/DevYuns/dooboo-ui/blob/378c49bfd89667

[2020-06-11 21:38] akhudairy commented on #55
Hi @bouncycatt .. How do you run the story book on the mobile or simulator? I have the same problem on web version and I did follow the tutorial steps but I feel something is missing.
For Android and IOS .. when I run "yarn ios" for example it runs the app on the ios but not the story book, so am not sure which commands runs the storybook on the device.

[2020-06-12 06:10] costerik opened #60 "React-Native + Typescript Error"
Hey guys there is an error when I run `yarn tsc`

[code]

Any suggestion?

[2020-06-12 09:25] abdullahizzuddiin commented on #55
Hi,
anyone has solved this issue?

I got same problem too.

[2020-06-12 09:46] abdullahizzuddiin commented on #58
Hi mate,
Have you solved this problem?
I think I got same problem too.

[2020-06-12 09:49] abdullahizzuddiin commented on #26
Hi @Gongreg
Do you have any update with this?

[2020-06-12 09:52] Gongreg commented on #26
Hello. You can follow example of react-native-web, their docs are actually using Storybook.

[2020-06-12 11:58] akhudairy commented on #58
No Sorry not yet. I think some instructions are missing some how.

[2020-06-12 17:55] joelfsreis opened #62 "Knobs Select not working on React Native Android"
**Describe the bug**
Select from knobs not working on React Native 0.62.2 on Android. It works fine on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Addons
2. Click on Select from Knobs to open options
3. See error

**Expected behavior**
It should open a list of options to select. It should behave similarly to iOS and show a list of options and select one on click.

**Screenshot

[2020-06-12 19:45] asciidiego opened #61 "Add Support for NativeScript"
**Is your feature request related to a problem? Please describe.**
[With the rise of NativeScript as an alternative for React Native](https://blog.angular.io/apps-that-work-natively-on-the-web-and-mobile-9b26852495e7), I think it would be extremely useful for developers to use a story-based approach to component development if we had support for NativeScript. Especially since React Native already

[2020-06-12 19:46] asciidiego commented on #61
@NathanWalker do you think somebody could help out with this?

[2020-06-13 10:46] bouncycatt commented on #55
@JeffGuKang Thanks. I tried it but the problem is the same.

[2020-06-13 10:58] bouncycatt commented on #55
@akhudairy Hi! If I'm not mistaken, a Storybook viewer appeared on a device when I tried previous versions of Storybook. Unfortunately, I don't remember. Today I retook all the tutorial steps with `abd` command but nothing happened.

[2020-06-14 11:47] rzdev commented on #62
same issue

[2020-06-15 09:02] Oliveirax commented on #62
I also suffer from this issue. Has anyone found a fix?

[2020-06-22 10:53] jazalizil commented on #60
Same issue, `Window` shouldn't be present in react-native

[2020-06-22 15:20] djMax commented on #60
I fixed this with a manual declaration:

[code]

[2020-06-24 05:46] Esxiel commented on #58
I'm not sure what's wrong, but did you remember to `react-native run-ios`(sorry I'm not sure about the expo equivalent) after your `yarn storybook`? Like did you load up your app on a simulator/device?

[2020-06-24 05:49] Esxiel commented on #51
Perhaps rather than just the knobs, you're missing all the addons? If so, you guys would probably benefit from referring to #24 . I managed to make my addons(including knobs) show up in the web UI.

[2020-06-24 06:53] Esxiel commented on #55
@akhudairy You have to render the StorybookUIRoot. There's a part in https://storybook.js.org/docs/guides/guide-react-native/ where it says

This component is the "storybook on the mobile". Usually I'd have my entry point index.js's AppRegistry render out this component instead of the app component(using an if conditional check in regards to .env). Some people put it on a different screen in their

[2020-06-24 07:02] Esxiel commented on #55
@bouncycatt I'm using storybook on iOS so I can't comment much but my web storybook always looks like this when my app(on the simulator) does not touch/run the getStorybookUI function. This happened to me initially because I didn't know I had to import and render it somewhere in my app(see the comment I made above).

I'm not 100% sure if this is the cause since I don't really know the inner workin

[2020-06-24 08:46] Esxiel commented on #46
I was also having this problem on 5.3.19, and... I'm not good enough in JS to give a definite conclusion, but I can at least share my findings. _(I made mine work in point number 2)_

1. This only happens when I use`require` instead of `import` in my `rn-addons.js` file. (But when I use `import` the addon won't load on the initial load in RN storybook, it will show up only after a fast refresh, sa

[2020-06-25 15:59] singhvivek2503 commented on #19
Same issue.

[2020-06-27 17:36] vhuerta commented on #62
Same here, it's happening after update expo to sdk 38, so probably related to `react-native: "^0.62"`

[2020-06-29 08:58] akhudairy commented on #58
Hi @Esxiel ... Just tried it. It is trying to load the main application and it breaks while it's doing that, but it is not trying to load storybook.

I also find this weird, as I followed exactly the steps of the tutorial so why is the main app also breaking. It breaks at line
 (AppRegistry.runApplication('main', { rootTag });)
with error:
(Element type is invalid: expected a string (for built-in

[2020-06-29 09:03] akhudairy commented on #55
hi @Esxiel ... thanks i will give that ago by adding storybook to my other project using the manual steps.

But the idea is I was following the story book official React Native tutorial. and their app.js file looks very different compared to these manual steps ... here is the code they ask you to add

// App.js
async function loadResourcesAndDataAsync() {
  try {
    SplashScreen.preventAutoHide()

[2020-06-29 11:59] asciidiego commented on #61
@shilman should we close this issue and move it to the storybookjs repo?

[2020-06-29 15:56] #61 closed, assigned to nobody

[2020-06-29 15:57] asciidiego commented on #61
Closing because @shilman moved it to https://github.com/storybookjs/storybook/issues/7708

[2020-07-01 13:56] MatiSera opened #63 "Is the Doc addon in the feature roadmap for RN?"
You know if the Doc addon it would be in RN or if is planned to?
Thanks in advance :)

[2020-07-01 23:19] #52 closed, assigned to nobody

[2020-07-04 02:06] NicolasMarino commented on #62
Same here using:

"react-native": "0.62.2",
"@storybook/addon-actions": "5.3.18",
"@storybook/addon-knobs": "5.3.18",
"@storybook/addon-ondevice-actions": "5.3.18",
"@storybook/addon-ondevice-knobs": "5.3.18",
"@storybook/addons": "5.3.18",
"@storybook/react-native": "5.3.18",
"@storybook/react-native-server": "5.3.18".

[2020-07-06 13:12] robert-nash commented on #23
@Gongreg
This seems like the same problem as discussed in https://github.com/storybookjs/storybook/issues/6674.

I think there is more to this than just the networking setup. It seems to me that if no host is specified then the server defaults to listening on localhost https://github.com/storybookjs/react-native/blob/ea2950016afd1f7c94f2086309ee4dad59ea77bb/app/react-native-server/src/server/cli.j

[2020-07-08 03:42] Esxiel commented on #55
Um @akhudairy , I might be misunderstanding you, but you are referring to https://www.learnstorybook.com/intro-to-storybook/react-native/en/get-started/ right?

You are right in saying that the code in manual steps guide is very different with the App.js in the tutorial, however you'd benefit from understanding a few misconceptions you have...
1. The part of App.js you quote is about is solely abo

[2020-07-08 05:23] lidio601 opened #64 "OnDeviceUI causes stories to inherit SafeAreaView and KeyboardAvoidingView"
When testing simple UI components it's all good.

The problem comes when you're testing a full-screen story like this one:

<img src="https://user-images.githubusercontent.com/579163/86879136-95962680-c13e-11ea-8d76-332277166c25.jpeg"
 width="200" />

as you can see by specifying `{onDeviceUI: true}` the vertical space is reduced because of the SafeAreaView inherited by the [OnDeviceUI component](

[2020-07-15 17:15] amalfra opened #65 "[6.0] support for declarative config like web storybook"
**Is your feature request related to a problem? Please describe.**

Looks like web version supports declarative config but react native one still is in old config. I was wondering whether there is any plan to support declarative config here too? It will be lot easy to share configs for people who use monorepos with web and mobile apps.

**Describe the solution you'd like**

[code]
this web version

[2020-07-16 15:50] alexander-akait commented on #19
Somebody can create reproducible test repo?

[2020-07-20 13:56] vpicone opened #66 "Bootstrap fails on fresh clone"
**Describe the bug**
Running `yarn bootsrap --all` fails with the following error:
[code]

**To Reproduce**
1. clone the repository
2. run `yarn bootstrap --all` (per the contribution docs)

**Expected behavior**
Project bootstraps successfully

**System:**
[code]

[2020-07-20 14:10] skywickenden opened #67 "When viewing stories on Android they clash with the status bar"
**Describe the bug**
When viewing stories on Android they clash with the status bar

**To Reproduce**
Steps to reproduce the behavior:
1. View a react-native storybook on Android

**Expected behavior**
The stories and storybook navigation should appear below the status bar.

**Screenshots**
![Screenshot_20200720-145303](https://user-images.githubusercontent.com/4930551/87946885-8302e200-ca9a-11ea-

[2020-07-20 14:12] skywickenden commented on #67
Would a PR be welcome?

[2020-07-20 14:26] vpicone opened #68 "docs: Contribution docs missing `pod install` step"
Without running `pod install` in the `ios` directory of the `native` example the code fails with the following error. This could be performed during bootstrap or added to the docs as a final installation step?

[code]

[2020-07-20 14:36] vpicone opened #69 "Console warnings from `Animated` usage of react-native-switch"
We don't need this package and can use the native switch element

[2020-07-20 20:55] joaocarmo commented on #20
A good set it and forget it workaround for this issue is a combination of the solutions presented by @tjbenton and @limaAniceto above with [patch-package](https://www.npmjs.com/package/patch-package):

1. Open the entry file

[code]

2. Append the fixes to the start and end of the file

[code]

3. Save and commit the patch to your repository

[code]

This will ensure you do not include in your pro

[2020-07-21 13:50] amalfra opened #71 "Error in React native storybook"
**Describe the bug**
When adding storybook view in react native app as main component using appRegistry, even without loading anything the app is crashing with below error. This is a monorepo setup using lerna.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup storybook for react native in lastest react native and storybook v5.3.19.
2. Run the app after including storybook compon

[2020-07-21 22:29] mdbiscan commented on #58
I'm having the same issue. I tried it with a fresh expo and a fresh vanilla react native app and couldn't get either to work following both the auto and manual setup instructions.

[2020-07-22 10:24] ghost commented on #62
Any update?

[2020-07-22 15:50] amalfra commented on #71
It shows one story if I disable onDeviceUI. Though there is no way to navigate and the story is the top of device overlapping with battery indicator. At least it didn't crash with above error.

[2020-07-22 17:36] amalfra opened #72 "Unable to use start-storybook when having both react and react native storybook servers"
**Describe the bug**
I have a monorepo setup with both storybook react and react native installed. But when I install ```@storybook/react-native-server``` package the command start-storybook is replaced with native's server. Is there any way to use both web and native in same package?

**To Reproduce**
Steps to reproduce the behavior:
1. Install @storybook/react, @storybook/react-native and @story

[2020-07-23 10:00] krakz999 opened #73 "[React Native] Can't get storyshots work with themed styled-components"
**Describe the bug**
Using `storyshots` and `styled-component` in a React Native project. I use a theme for my styled components which I pass with styled-component's `<ThemeProvider/>`. I use a decorator to wrap the stories with the provider.

Everything works, the theme is passed down to the component in Storybook UI, but when I try to run `npm test` to generate a snapshot test for it with `story

[2020-07-23 11:13] amalfra commented on #72
for the time being is there any workaround for this?

[2020-07-23 13:21] #73 closed, assigned to nobody

[2020-07-24 08:26] mikelros commented on #62
Same here... It'd be great to have an update 🙂

[2020-07-24 12:33] Knguyen21 commented on #60
@djMax  what file did you make the fix in?

[2020-07-24 14:49] djMax commented on #60
I have a third party declaration folder, which I include via tsconfig:

[code]

I have a monorepo, so my config is more complicated, but the key line is including the @types folder (which I made, and which has this declaration in it)

[2020-07-24 15:03] igorgidea commented on #32
Windows 10
node 12.18.0
Storybook 5.3.19
expo 38.0.8
In browser Google Chrome   84.0.4147.8 or Firefox 78.0.2 there is "forever stories loading" on the left panel
![изображение](https://user-images.githubusercontent.com/20354531/88405223-99c97180-cdd7-11ea-9df4-ed8785830fae.png)

Any ideas how to fix it? btw its works fine in android emulator when i run command "expo start --android"

[2020-07-24 18:25] igorgidea opened #91 "Stories not loaded for new generated react native application by expo cli."
**Describe the bug**
After adding storybook for new expo react-native blank project and run command "npm run storybook", browser opens up but no stories displayed at all, only "forever stories loading" on the left panel.

**To Reproduce**
Steps to reproduce the behavior:
1. create new react-native project with expo run: **expo init myNewProject**
2. Setup React Native Storybook run command: **npx

[2020-07-24 19:53] Knguyen21 commented on #60
@djMax  sorry, but i'm still confused. Can you outline the steps you did? Based on what you wrote, I see that you created an @types folder and put the declaration
[code]
 in it, but what did you name the file?
And what kind of file did you put this code
[code]
did you add a file to .storybook?

[2020-07-25 01:54] djMax commented on #60
These are generic typescript questions... But, it doesn't matter what you name the file, other than ".d.ts" extension, so mine is `third-party.d.ts`.

[2020-07-25 10:10] amalfra commented on #72
I managed to find a workaround.
[code]

But it would be great if storybook by default supports installing both servers without overriding the binaries with same name.

[2020-07-27 13:40] amahajan87 commented on #71
Same Issue, even after disabling onDeviceUI, it did not work.

[2020-07-28 19:06] matiasfessia commented on #62
Hey there! I'm having the same issue :(

[code]

[2020-07-30 09:39] ghost commented on #62
The React Native Storybook doesn't have the newest version of `react-native-modal-selector`.

Temporary solution on package.json:

[code]

[2020-07-31 11:17] andrestone opened #75 "Single story for React Native and React (react-native-web)"
**Is your feature request related to a problem? Please describe.**
I'm trying to achieve a setup where I can load both React Native storybook (on device) and React storybook (via react-native-web) using the same story source. It seems like, as of today, it's not possible since `storiesOf` has a different implementation for each platform (React / React Native).

**Describe the solution you'd like**

[2020-08-03 10:50] dannyhw commented on #68
These contribution docs seem to be a copy of the storybook core contribution docs and it would be necessary to update them to include any react native specific steps.

[2020-08-03 21:37] dannyhw commented on #71
@amalfra could you include the code where you are using the app registry?

[2020-08-04 06:35] amalfra commented on #71
@dannyhw it's
[code]
this is inside react native index.js file. StorybookApp has config code that exports the view returned by getStorybookUI.

[2020-08-04 10:27] #66 closed, assigned to nobody

[2020-08-04 10:43] dannyhw commented on #71
@amalfra sorry I mean can you show more of the code like for example the getStorybookUI call etc. Or If possible share a fresh github repo that has the problem for example. If not that's fine it just might take longer for me to get around to this.

[2020-08-04 10:47] dannyhw commented on #69
I think that you're right about this, I have tried it with the native switch and it seems ok. I saw that you made a PR for this previously, if you want to re-open it I can take a look.

[2020-08-04 10:52] dannyhw commented on #67
@skywickenden hey is this still an issue?

[2020-08-04 15:49] dannyhw commented on #65
It would be good to get this done, however currently the focus is to fix some bugs and gets things stable. Once things are looking more stable then we will look into bringing the native storybook up to speed with the web.

[2020-08-04 15:53] dannyhw commented on #75
I'm not totally sure about this, I've heard about some people having success with react native for web however it's not something I've tried. If anyone can offer help or more information about how this could work that would be great.

[2020-08-04 15:58] dannyhw commented on #64
I like this idea but I'm not sure how that would effect the UI, would need some testing. I'll try to experiment with this at some point.

In the meantime if you think you can make it work then please feel free to open a PR it would be apreciated :)

[2020-08-04 16:01] dannyhw commented on #63
Will look into this when I can, not sure exactly what that would involve but the idea is to bring react native storybook up to speed with the web version so ideally yes.

[2020-08-04 16:05] dannyhw commented on #62
From my testing there seemed to be some issue with the modal component when used within the storybook ui. There is a PR open that might fix this so there should be some update soon.

[2020-08-04 16:13] MatiSera commented on #63
Great! Thanks for answer :)

[2020-08-04 16:15] dannyhw commented on #60
This seems like an issue with the reach router types. If you're sure this is related to storybook can you provide more details about your dev environment such as the version you have installed and the reach router version in the lock file. It possible that it can be fixed by an update to the reach router dependency on our side that's why I'm asking.

[2020-08-04 16:20] dannyhw commented on #58
Will look into this soon, I think the most likely cause is that something is incorrect on the tutorial because it should be working.

[2020-08-04 17:29] vpicone commented on #69
@dannyhw re-opened. Thanks!

[2020-08-04 21:33] #29 closed, assigned to nobody

[2020-08-04 21:39] dannyhw commented on #57
In my use cases I have no problem executing code with promises so I'm tempted to say that the issue might be something else. If you use the component outside of storybook does it work?

[2020-08-05 12:59] amalfra commented on #71
@dannyhw below is the code that I use.

[code]

And I import this file in mobile app and register it using
[code]

[2020-08-05 18:01] dannyhw commented on #71
@amalfra thanks for the extra info, hopefully I can look at this soon.

[2020-08-05 23:51] dannyhw opened #84 "Date time picker warning using old react lifecycle methods"
**Describe the bug**

Date time picker gives a warning in new versions of react native 62+

**To Reproduce**
Steps to reproduce the behavior:
1. add a date time picker knob to a story
2. open knobs addon tab

**Expected behavior**
Should not give a warning

**Additional context**
might be fixed by updating react-native-modal-datetime-picker dependency

[2020-08-05 23:53] dannyhw commented on #69
Resolved by #70

[2020-08-05 23:53] #69 closed, assigned to nobody

[2020-08-06 22:12] dannyhw commented on #59
I've never seen any problems loading images before, could you please share more about this. For example what is the format of the image? If it's an svg you need to use an [svg library](https://github.com/react-native-community/react-native-svg) to make it work.

[2020-08-06 22:15] dannyhw commented on #56
I'm aware of some issues with expo at the moment and I need to update the expo example in this repo before I can make any fixes. If you are able to offer help with this or anyone else that would help a lot. Anyway either way I will get around to looking at this when I can.

[2020-08-06 22:21] dannyhw commented on #55
Was anyone able to find a workaround? or the config that is needed to fix this.

[2020-08-06 22:26] dannyhw commented on #51
were you able to get things working?

[2020-08-07 00:51] DevYuns commented on #59
I have used `png` in `styled.image` with `styled-component`. `Svg` is ok, but `png` doesn't appeared in storybook.

[2020-08-07 01:19] dannyhw commented on #67
I found this to be an issue when using expo, need to do more testing but I think your suggestion with the statusbar padding would fix it.

[2020-08-07 06:48] yomybaby commented on #23
[code]
😁

[2020-08-09 18:47] amalfra opened #92 "Custom webpack config when using react-native server"
**Describe the bug**
I have lerna monorepo with storybook and react native project in different packages. React native is in mobile project's node_modules. the storybook package has storybook react native and @storybook/addon-ondevice-actions. Is there any way to add custom webpack alias config for allowing the react-native from mobile project package to be loaded by @storybook/addon-ondevice-acti

[2020-08-10 15:29] NicolasMarino commented on #62
@carolinafbarros Still same issue on android :(

![image](https://user-images.githubusercontent.com/26677779/89800353-0dbc8700-db05-11ea-9c9e-5dc0469b03b6.png)

[2020-08-11 06:37] mikelros commented on #62
Thanks for this! Works perfectly now. I hope an update comes soon.

[2020-08-11 13:05] dannyhw commented on #62
@mikelros the change has been made on master and I'm working on getting an alpha release out soon to fix the issues with newer versions of react native. This fix was merged in this PR #74

[2020-08-11 13:14] dannyhw commented on #92
I'm not sure I understand, is there some issue with storybook here or is this a question about configuring lerna? Also you didn't state what happens when you try to run the server, does it fail is there an error?

[2020-08-11 13:15] dannyhw commented on #91
might be a duplicate of #55

[2020-08-11 13:20] dannyhw commented on #58
also seems to be related to #55

[2020-08-11 15:09] amalfra commented on #92
In react storybook I can give aliases/module resolve config like
[code]
But same can't be done in the case of react native storybook. I have folder structure like this:
- mobile: has react-native code and the dependencies
- storybook: has storybook code and some storybook related files
The storybook package addon-ondevice looks for react-native which it's not able to find as it's installed inside

[2020-08-11 17:26] dannyhw commented on #92
Well its possible to have an alias but this isn't a storybook feature, in the react version you are using webpack to do that. In react native by default bundler is metro and webpack is not present. In order to achieve the same results with RN you can use the babel plugin for module resolution, try [this one](https://www.npmjs.com/package/babel-plugin-module-resolver).

Or you can try using some me

[2020-08-11 17:45] amalfra commented on #92
But the error is not in mobile app. it's inside storybook-react-native server. So I don't think it's related to react native metro bundler. Below are the logs that I get when the server is started.

[code]

I also have a module resolver config like
[code]
but don't think that will be applied to this file as it's from node_modules folder.

[2020-08-11 20:59] dannyhw commented on #92
The action addon should probably not be the on device version for the server though, on device is the version that shows on the phone. I'm not sure about the server setup because I don't use it, but maybe try the regular action addon.

[2020-08-11 21:02] dannyhw commented on #48
The one at `https://github.com/storybookjs/storybook/tree/master/app/react-native` has been removed from the next branch which is the current active branch for storybookjs/storybook.

The react native storybook was moved here and all new react native issues are being sent to this repo.

[2020-08-12 09:33] amalfra commented on #92
[code]

When I use the normal addons plugins in my addons file as above, the metro bundler will throw this error:

[code]

[2020-08-13 05:52] s-kuniyoshi commented on #32
@igorgidea
I have same issue.
Please anyone resolve it. ;-(

[2020-08-13 16:17] dannyhw commented on #92
OK I'm not really sure without having an example project to test things, I might be able to try it out next week. Let me know if you find a solution in the mean time.

[2020-08-13 16:22] #62 closed, assigned to nobody

[2020-08-13 16:29] dannyhw commented on #49
Not sure that this is a bug, this behaviour makes sense because the knob should be part of the react lifecycle otherwise it wouldn't update on re-render. Does it work when you do something like this on the web version?
Maybe if you made styleVar a function it would work `styleVar = () => object('CVStyle', {backgroundColor: 'red'}, 'GROUP-ID1')`

[2020-08-13 16:40] dannyhw commented on #42
Please let me know if this is still and issue, I'm closing this due to inactivity in the meantime

[2020-08-13 16:40] #42 closed, assigned to nobody

[2020-08-13 16:41] dannyhw commented on #6
Please let me know if this is still and issue, I'm closing this due to inactivity in the meantime

[2020-08-13 16:41] #6 closed, assigned to nobody

[2020-08-13 16:42] dannyhw commented on #8
fixed by #85

[2020-08-13 16:42] #8 closed, assigned to dannyhw

[2020-08-13 16:47] dannyhw commented on #39
Please let me know if this is still and issue, I'm closing this due to inactivity in the meantime

[2020-08-13 16:47] #39 closed, assigned to nobody

[2020-08-13 16:54] dannyhw commented on #33
Please let me know if this is still and issue, I'm closing this due to inactivity in the meantime

[2020-08-13 16:54] #33 closed, assigned to nobody

[2020-08-13 16:56] dannyhw commented on #35
Please let me know if this is still and issue, I'm closing this due to inactivity in the meantime.

[2020-08-13 17:00] dannyhw commented on #40
examples have been updated or are in the process of being updated.

[2020-08-13 17:00] #40 closed, assigned to nobody

[2020-08-17 07:42] fabicsp opened #96 "Storybook in app rendering"
**Is your feature request related to a problem? Please describe.**

- Is it possible to render the react-native storybook in the app without any dev. server?
- If yes, how?

**Describe the solution you'd like**
- I would like to render the storybook directly in the react-native app

[2020-08-17 08:09] #96 closed, assigned to nobody

[2020-08-17 19:36] warent commented on #32
This happened to me, turned out to be a configuration issue. Following this helped me get it setup:
https://github.com/expo/examples/tree/master/with-storybook

[2020-08-18 22:36] dannyhw commented on #58
You should run storybook server and then after run the react native app then if you refresh the webpage for react native server the stories should load.

[2020-08-18 22:36] dannyhw commented on #55
You should run storybook server and then after run the react native app then if you refresh the webpage for react native server the stories should load.

[2020-08-18 22:37] dannyhw commented on #91
You should run storybook server and then after run the react native app then if you refresh the webpage for react native server the stories should load.

[2020-08-19 21:12] dannyhw commented on #50
@fabien88 I know that some time has passed but if you are still interested in helping with implementing this feature that would be great.

[2020-08-20 18:43] colinta commented on #20
This issue just cost me a night and a morning trying to hunt down what was going on, so to find out it's a storybook issue _and it's been known about_ really has steam coming out of my ears.

[2020-08-20 19:33] benjaminreid commented on #20
@colinta You’ve just reminded me this issue exists, I was hoping with version 6 this may have been closed. Shame if it’s still hanging around.

[2020-08-22 16:08] kiranjd commented on #84
I would like to take up this issue

[2020-08-23 00:29] dannyhw commented on #75
This is actually really easy to acheive if you are using expo because it just works out of the box see in this snack.io example https://snack.expo.io/@dannyhw/expo-storybook-example

[2020-08-23 00:55] dannyhw commented on #84
Hey thats great to hear, however currently I have a PR open for this #86. I've not merged the changes since it would be a breaking change for people not using expo.

This is because by adding the updated date time picker you need to add a new dependency to knobs which would be @react-native-community/datetimepicker.

However please don't be discouraged and feel free to pick up another issue, I rea

[2020-08-23 00:57] dannyhw commented on #68
now resolved #98

[2020-08-23 00:57] #68 closed, assigned to dannyhw

[2020-08-23 00:58] dannyhw commented on #71
loadstories() seems weird here because in configure usually you just have the story imports

[2020-08-23 01:00] dannyhw commented on #48
react native has been removed from the other repository and the link was changed there so I'll mark this as resolved

[2020-08-23 01:00] #48 closed, assigned to nobody

[2020-08-23 01:02] dannyhw commented on #37
a good first issue, I'd say the first steps would be to reproduce this and find what exactly is hard to read and why.

[2020-08-23 01:05] dannyhw commented on #46
If someone still has this issue it would be good if you can follow the reproduction steps in the contributing docs so its easier to test

[2020-08-23 01:09] dannyhw commented on #38
does anyone still have this issue? if so it would be good if it could be reproduced in a branch using the example app. Try the reproduction steps in the contributing doc or make an expo snack based on the one in the readme.

[2020-08-23 08:36] amalfra commented on #71
@dannyhw I use https://github.com/elderfo/react-native-storybook-loader and that function just imports the file generated by that package.

[2020-08-23 09:46] dannyhw commented on #71
Ok, well did you manage to resolve this issue or is it still happening?

[2020-08-23 09:48] amalfra commented on #71
nope, it's still there. I use the version of storybook with the server. Don't use in-app anymore.

[2020-08-23 12:14] dannyhw commented on #71
Does it work if you import a story manually? Also this repo uses a mono repo with Lerna and the example app runs ok so I don't think lerna should be an issue. Do you think you can reproduce this issue with a fork of this repo you can use the example app to reproduce the issue. See the contributing documentation (recently updated).

[2020-08-23 12:29] amalfra commented on #71
No, even if I import stories manually when in-app mode is used I get this error. Let me try with example app.

[2020-08-23 16:57] fabien88 commented on #50
@dannyhw yes ok !

[2020-08-24 21:42] dannyhw commented on #24
This issue is fixed in later versions of storybook/core see https://github.com/storybookjs/storybook/pull/10468 looking into the possibility of getting this fix for 5.3.x

[2020-08-24 21:55] dannyhw commented on #20
looking into a fix for this, seems like just changing the babel config could resolve this.

__

edit: maybe not as simple as expected still investigating

[2020-08-25 02:57] kiranjd commented on #37
Reproduced this setup. Currently, it looks like only the commands as in the description need a change of colour.
To be completely sure, will have to see the add-on tabs which is not possible because of issue #24 at the moment.

[2020-08-25 08:24] allen-hsu commented on #55
I have the same issue, but, I resolve that, plz check your rn storybook port and storybook port are the same, in my case,
default storybook server port is 6006, I change to 7007, or you can follow those document:
https://github.com/storybookjs/react-native#storybook-for-react-native

getStorybookUI Options
port: Number (7007)
        -- port to use

[2020-08-25 09:18] dannyhw commented on #20
This is from corejs and it seems like the problem starts with storybook core because even if I remove all the old polyfills from the @storybook/react-native config then it still happens.

The babel preset env polyfill will cause this when ever 'core-js/modules/es.promise' gets imported, see the following issues:

https://github.com/zloirock/core-js/issues/749
https://github.com/babel/babel/issues/

[2020-08-25 11:59] dannyhw commented on #37
@kiranjd this issue with addons will be fixed soon, you can make it appear for now by changing app/react-native-server/src/client/manager/index.js as follows

[code]

[2020-08-26 10:48] antonigiske commented on #35
I have this issue as well. It only returns State.ACTIVE while inside Storybook.

[2020-08-26 14:57] dannyhw commented on #35
@antonigiske hey thanks for letting me know, would you be able to provide steps to reproduce or a reproduction branch (see migrating.md)

[2020-08-26 19:12] dannyhw commented on #24
Storybook 5.3.20 was released with a fix for this and once #100 gets merged this issue will be fixed. Alpha release will follow in order to confirm everything is working as expected.

[2020-08-27 17:16] dannyhw commented on #51
resolved by #100

[2020-08-27 17:16] #51 closed, assigned to nobody

[2020-08-27 21:59] dannyhw commented on #24
I released an alpha version with this fix install `@storybook/react-native-server: 5.3.21-alpha.0` to try it out

[2020-08-28 02:20] kiranjd commented on #37
Thanks, @dannyhw  that worked.
I have verified dark mode for actions, knobs and notes. They are fine.
I'll issue a PR with the above one fixed

[2020-08-28 03:39] kiranjd commented on #37
Issued a PR #101 with a fix.

[2020-08-28 11:16] dannyhw commented on #59
sorry I haven't been able to investigate this yet. Still having this issue? Have you tried the regular image component without using styled? Can you check if image appears as expected outside of storybook? There shouldn't be any reason that storybook would effect your image.

[2020-09-01 02:02] zlanich commented on #92
I have this issue too, with the following dependencies in a fresh Expo SDK 38 project:
[code]
**Error:** `Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplciation)`

The given expo snack with different dependencies still works for me, though: https://snack.expo.io/@dannyhw/expo-storybook-example

[2020-09-01 21:52] dannyhw commented on #92
@zlanich Not sure without seeing your app entrypoint but it seems like you might be using app registry in expo. When using expo you don't need to use `AppRegistry.registerComponent(appName, () => StorybookUIRoot)` instead you just export default StorybookUIRoot.

Also with react native storybook you should only use storybook dependencies with version 5.3.x since we don't support 6.0 yet.

[2020-09-01 22:02] zlanich commented on #92
@dannyhw I saw that in the docs and took care of that. Here's my App.tsx:
[code]
it appears this error pops up immediately, just by having the addons libraries installed at all. Even if I completely comment out all imports and related code within my project, it still throws the error until I uninstall the addon packages. :-/

[2020-09-01 22:14] dannyhw commented on #92
@zlanich in your package json you had 6.0 dependencies, please revert them to 5.3.21 and see if that helps.

[code]

should be

[code]

If you are unable to fix this then please open a new issue explaining the specific issue and if possible with a reproduction branch as explained in the contributing docs.

[2020-09-02 15:17] thienhaflash commented on #103
I confirm that changing the port from **6006** to **7007** will work, at least for me (I'm on a Mac, connecting to the iOS simulator).

Searched & tried everything before, only need to change the port to 7007 so that it works.

Thanks a lot @andrey-shostik

**Before**
![image](https://user-images.githubusercontent.com/218200/92002848-83b1b800-ed6a-11ea-9169-3e1075ca1995.png)

![image](https://user

[2020-09-02 15:48] mi5ha opened #158 "Does Storybook 6 supports React Native?"
I used previous version of Storybook with RN, now all reference from docs is removed?

Does that mean Storybook does not support RN anymore?

Thank you,
Misha

[2020-09-02 16:07] shilman commented on #158
Not yet. We've created a new repo for RN and are in the process of upgrading it to work with SB6: https://github.com/storybookjs/react-native

@dannyhw might be able to comment more on the current status!

[2020-09-02 16:12] mi5ha commented on #158
Phew its good to know you didn't drop the support 😀

Would be awesome to know the status. We are starting new RN project and I guess we need to use old Storybook for now.

Thx man

[2020-09-02 16:49] dannyhw commented on #158
@mi5ha you can still use the react native storybook in it's current state however it doesn't support the 6.0 dependencies so if you use the addons then for the react native project you would need to use a 5.3.x version of @storybook/addons. See github.com/storybookjs/react-native to see the new repo and some documentation (improvements ongoing).

I plan to start the work for react native 6.0 soon-

[2020-09-02 21:26] mi5ha commented on #158
@dannyhw Thank you Danny, I managed to install and run old Storybook version 5 with:

[code]

I used newest RN version with TypeScript support.

I tried running `npx -p @storybook/cli sb init --type react_native -y` but it breaks for now.

Thanx a lot, will be following the progress of version 6 for RN with great interest 😀

[2020-09-03 00:04] #103 closed, assigned to nobody

[2020-09-04 16:16] kiranjd commented on #63
Curious about this add-on's implementation.

How would it be possible to showcase the components on the web? Even though there is RN web, I would feel it might not cater to a larger number of use cases.

[2020-09-04 19:21] impactro commented on #92
I have a same problem, storybook not working, shows only loading forever.
even after starting the android connection

steps to reproduce:
[code]
![image](https://user-images.githubusercontent.com/1304804/92277917-73b0ea00-eeca-11ea-9af0-0dc2218d1530.png)

[2020-09-04 21:05] dannyhw commented on #63
@kiranjd it won't be possible to do this in a way that suits everyone. If it were to be solved for react-native-server you can't display the components in an easy way.

The way to do it so that it works similar to the web version would be to do it with the on-device UI. Also it makes sense because that's where you usually expect the components to be used. On device UI also works for react-native-w

[2020-09-04 21:10] dannyhw commented on #92
@impactro this does not relate to the issue explained in the initial issue description. There are other issues more relevant to the issue you are describing.

Anyway you should start the server before the mobile app since it usually works better this way in my experience.

[code]

Then in the device try refreshing the device with the shake gesture or ctrl/cmd + R. Usually after refreshing the app

[2020-09-06 13:18] dannyhw commented on #91
I found there is an issue when using a real android device with expo. It can be resolved by specifying your port and host explicitly

When you start up the server you should see something with your IP here
On your network:  http://xxx.xxx.x.xx:7007/

Take this IP and set it explicitly as the host and then the storybookui should be able to reach the server

In code

[code]

In package.json `"storyb

[2020-09-06 13:19] dannyhw commented on #55
I found there is an issue when using a real android device with expo. It can be resolved by specifying your port and host explicitly

When you start up the server you should see something with your IP here
On your network:  http://xxx.xxx.x.xx:7007/

Take this IP and set it explicitly as the host and then the storybookui should be able to reach the server

In code

[code]

In package.json `"storyb

[2020-09-06 13:20] dannyhw commented on #58
I found there is an issue when using a real android device with expo. It can be resolved by specifying your port and host explicitly

When you start up the server you should see something with your IP here
On your network:  http://xxx.xxx.x.xx:7007/

Take this IP and set it explicitly as the host and then the storybookui should be able to reach the server

In code

[code]

In package.json `"storyb

[2020-09-07 13:02] chadmott commented on #55
having the same issue... following the tutorial (twice) exactly as written, and the stories are perpetually loading for react native.

React tutorial is working fine.

[2020-09-07 13:20] dannyhw commented on #55
@chadmott are you using a simulator or a real device or web?

The tutorial is needing some updates so it might not be 100% accurate. Also the auto setup has a bug currently regarding dependency versions.

[2020-09-07 13:23] dannyhw commented on #55
@chadmott check your package.json if there are any storybook packages with version 6.0 or above please downgrade them to 5.3.21 since we don't yet support storybook v6 with react native.

[2020-09-07 18:11] chadmott commented on #55
thanks @dannyhw but that did not solve my issue. I'm just trying to learn Storybook (hence the tutorial) so I'm afraid I don't know why its broken. For now I'll just use the react tutorial

[2020-09-07 19:22] dannyhw commented on #55
@chadmott the part where it says to use "yarn start" should be "yarn web" that should fix the issue.

edit:
Actually the server will continue to show the loading bars but actually that is fine because the stories will only get loaded once you do the later steps in the tutorial. This is because the storybookUI needs to be loaded for the server to receive the stories list.

[2020-09-08 18:55] Brendon127 commented on #92
I believe this is related to the initial question.

My idea is to create an internal component library for our organisation.
The file structure would look like this:
[code]

The packages directory contains two workspaces, components and example (It could possibly contain more in the future).
The example sub directory is a  standard react-native app that would be used to preview the stories defined

[2020-09-08 20:01] dannyhw commented on #92
@Brendon127 the issue here is describing a issue with webpack. Metro is the react native bundler and webpack is only used for react native web so it probably doesn't relate to your problem. Also your issue isn't really a storybook issue, it's more of a react-native or metro one. Don't worry about it though :). If you have general questions about storybook usage like this the discord might be a bet

[2020-09-09 01:42] impactro commented on #92
Hello,
I managed to evolve a bit, but making the navigation work only inside the Android device, but I couldn't via the browser even with the device working

I put all my code in this repository, in case you want to download and evaluate what is wrong
https://github.com/impactro/ReactNativeStorybookExample

[2020-09-09 02:44] JeffGuKang opened #104 "[addon] addon-actions is not working v6.0.21"
**Describe the bug**
A clear and concise description of what the bug is.
`crypto.getRandomValues() not supported` error in debug mode.

Related issue: https://github.com/uuidjs/uuid/issues/416
Solution: https://github.com/uuidjs/uuid#getrandomvalues-not-supported

**To Reproduce**

1. Use action addon
2. trigger action addon
3. boom

**Expected behavior**
no error

**Screenshots**
If applicable, a

[2020-09-09 02:50] JeffGuKang commented on #104
And I just checked `5.3.21`. It is working perfectly. Just use 5.3.21 instead latest version.

[2020-09-09 08:43] dannyhw commented on #92
@impactro are you using expo and a real android device? if so I've made comments in other issues regarding this see here https://github.com/storybookjs/react-native/issues/55#issuecomment-687787740

[2020-09-09 09:07] dannyhw opened #105 "React native server vs On device UI"
An explanation of react native server and on device UI would help avoid confusion around the react native storybook.

I'm opening this issue to try and see what the general consensus is on this.

**Describe the solution you'd like**

A new section in the documentation or an adjustment to the existing readme

**Describe alternatives you've considered**

Also talking with the tutorial maintainer to

[2020-09-09 13:20] impactro commented on #55
ual, this is incredible, it worked now, thank you very much for your help.
I'm using Android emulator BlueStacks, all right now!
thank you very much for your help

![image](https://user-images.githubusercontent.com/1304804/92603750-103a0a00-f286-11ea-8ddc-05006f0cdad4.png)

[2020-09-09 21:19] dannyhw commented on #55
@impactro great to see you were able to get it working :)

[2020-09-10 12:17] nidheeshdas commented on #104
I'm facing same issue on a fresh Expo with just `sb init`. No other code changes.

[code]

[2020-09-13 09:34] Shhhhhreyas commented on #55
I found the solution. Same problem happened with me.

Please start your story book with this argument -> `-h 0.0.0.0`. The whole command would be -> `start-storybook -h 0.0.0.0`,
You can also change it in your "package.json" file, so that you can just use "yarn storybook".

After the server starts, if the browser says "This site can't be reached", for the ip `0.0.0.0`, just open the server with yo

[2020-09-13 11:55] dannyhw commented on #55
@Shhhhhreyas thanks for sharing, hopefully this will help others with the same problem 🙌

[2020-09-14 11:37] bitcrumb commented on #104
Same issue.

[2020-09-14 11:41] JeffGuKang commented on #104
@nidheeshdas Try `yarn add @storybook/addon-actions@5.3.21`

[2020-09-16 02:15] JeffGuKang commented on #55
I am using a custom script for node env as `STORYBOOK=true react-native start`
And `--reset-cache` option is necessary  when I run `STORYBOOK=true react-native start` if I ran `react-native start` before.

[code]

[2020-09-16 08:36] #105 closed, assigned to nobody

[2020-09-16 20:46] dannyhw commented on #104
@nidheeshdas with storybook for react native you cannot use the v6 storybook libraries because it is not yet supported.

You should use the latest 5.3 version which at this moment is 5.3.21 like jeff said.

edit-

to clarify

these dependencies should be using the 5.3.21 version
[code]

[2020-09-16 22:01] WarrenBuffering commented on #38
Thank you @cloud-walker. I've been trying to figure this one out for too long now. Honestly I'm really just struggling to find good docs for Storybook's setup pertaining to RN. There's what looks like an official tutorial, but they contradict the setup instructions on the actual package. Does anyone know what setup instructions are up to date? If you do could you share the link?

[2020-09-16 23:21] dannyhw commented on #38
@WarrenBuffering currently I'm working with the tutorial maintainer to improve it but honestly the tutorial doesn't work for me and that's why I've given my own version of the getting starting guide here on the repo (still a work in progress).

There is also an issue with the cli init command for react native, I've already fixed in the alpha version (@next) so hopefully that will get released soon

[2020-09-16 23:24] dannyhw commented on #38
also in regards to this specific issue it's related to storybook server and I'm thinking it's probably fixed in v6 of storybook so when I'm able to make a v6 for react native that would hopefully resolve this issue. If I can find the root cause I will try to get a patch for 5.3 though.

Just a side note:
From my experience this error doesn't actually cause anything to fail it's just a nuisance. In

[2020-09-17 00:22] JeffGuKang commented on #104
Thank you.

[code]

It is my case. `actions` and `knobs` are working well with `react-native-server`.

[2020-09-17 08:43] dannyhw commented on #104
@JeffGuKang since it's now working I guess I will close this issue, let me know if you want me to open it again :).

[2020-09-17 08:43] #104 closed, assigned to nobody

[2020-09-17 09:43] f4z3k4s opened #106 "[6.0] CSF support on React Native"
**Is your feature request related to a problem? Please describe.**
CSF is not yet supported in React Native.

**Describe the solution you'd like**
CSF is supported in React Native.

**Describe alternatives you've considered**
I can use `storiesOf` which is great, but as I am rendering storybook also on web (where I use and would like to use CSF), I get errors like this: `Illegal mix of CSF default

[2020-09-17 20:00] Joshandrews43 opened #107 "Type 'AsyncStorageStatic' is not assignable to type 'AsyncStorage'"
**Describe the bug**

The typescript type definition of `AsyncStorage` as provided by `@react-native-community/async-storage` does not match the typescript type definition of the `asyncStorage` paramater to the `getStorybookUI` initialization function.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@react-native-community/async-storage` and storybook in a react native expo project.

[2020-09-20 06:33] joielee09 opened #108 "'cannot GET /iframe.html ' and keeps loading."
**Describe the bug**
'cannot GET /iframe.html ' and keeps loading.
I found some issues related to this problems but got no explicit solutions.

**To Reproduce**
Followed the steps from 'Learn storybook for React Native'
https://www.learnstorybook.com/intro-to-storybook/react-native/en/get-started/
1.Setup React Native Storybook -> ok
2.Setup Jest with React Native -> while I was following the tuto

[2020-09-21 18:19] jonniebigodes commented on #108
@joielee09 thank you for bringing this to our attention. Storybook for React Native is currently going through a bit of a rework. I've been coordinating with the person behind it and we're working on getting a better experience for said version of the tutorial shortly. As progress is made, i'll keep you and the rest of the community looped in.

Stay safe.

[2020-09-25 04:45] EsackN commented on #55
@Shhhhhreyas I  followed the steps as you mentioned, still getting the same error.

[2020-09-25 05:07] Shhhhhreyas commented on #55
@EsackN
Did you add `host` in `getStorybookUI({})`. Example -> `getStorybookUI({host:"192.168.43.66"});` (your local IP or the one which storybook mentions in the box after starting)

This function is used in `index.js` inside `storybook` folder in your project.

Also you have to start the app in your phone, without it stories won't show.

[2020-09-25 05:50] EsackN commented on #55
@Shhhhhreyas Yes, I added host in getStorybookUI({}). Also please clarify with the following.

I refered this link: https://stackoverflow.com/questions/60696774/how-can-i-build-my-react-native-storybook-to-web

IS that right?

[2020-09-25 06:49] Shhhhhreyas commented on #55
@EsackN
I think the link maybe correct I didn't setup it this way. It seems long and lot of stuff has to be done.

I used the below steps ->

`# Add Storybook:
npx -p @storybook/cli sb init --type react_native`

(During Storybook's install process, you'll be prompted to install react-native-server, do so as this package will help out immensely throughout the tutorial.)

We'll also want to add anot

[2020-09-25 10:06] dannyhw commented on #55
FYI: the cli is currently a bit broken for react native. I've already updated this but its in alpha. If you need to setup a new project I recommend you use the @next version of the cli

`npx -p @storybook/cli@next sb init --type react_native`

Also please bear in mind that the screenshots in the storybook tutorial actually show the web version of the tutorial and you won't see the same thing on yo

[2020-09-25 18:51] Jpoliachik commented on #57
I'm seeing this exact same issue on a very barebones app with dependencies:

[code]

Prevents me from using Storybook entirely.

[2020-09-25 20:38] dannyhw commented on #57
@Jpoliachik are you using promise.finally? Promise.finally is broken for storybook because of corejs transforms being used upstream by core.

[2020-09-25 20:41] Jpoliachik commented on #57
Not explicitly using `finally`, no. The same promise used in `componentDidMount` in the example above ^ was broken for me.

[2020-09-25 20:46] dannyhw commented on #57
Ok maybe the issue is related. I'll look into it, thanks for letting us know.

[2020-09-25 21:44] dannyhw commented on #84
Expo 39 for web breaks due to these deprecated components so this has become more important to fix now.

[2020-09-25 21:46] dannyhw commented on #107
@Joshandrews43 Can you please include the line where you import AsyncStorage so I can see if you are using the default export.

[2020-09-25 21:50] dannyhw commented on #106
Hey @f4z3k4s you're right currently csf isn't supported for react native storybook. I think this is something that will be added as part of v6. Currently the work for v6 hasn't started but I'm planning to start it once things are more stable and I have some time available.

For now stick with storiesOf to avoid issues :).

[2020-09-25 22:10] Joshandrews43 commented on #107
@dannyhw I've updated my code above to reflect this. I am indeed using the default export.

[2020-09-25 22:32] dannyhw commented on #107
@Joshandrews43 I actually did a release of 5.3.23 pretty much just now, might be worth just quickly checking if it's resolved with the latest version since I did make a few changes related to typescript.

[2020-09-25 22:58] dannyhw commented on #108
I think we already have several duplicates of this issue so I'm going to close this. Let me know if there is some reason to re-open it.

[2020-09-25 22:58] #108 closed, assigned to nobody

[2020-09-26 10:54] dannyhw commented on #37
fixed in the 5.3.22 release thanks to #101 by @kiranjd

[2020-09-26 10:54] #37 closed, assigned to nobody

[2020-09-28 06:41] EsackN commented on #55
No luck guys @dannyhw and @Shhhhhreyas.  It would be grateful, if anyone can connect with me on hangouts to resolve this issue.
esack18nsne@gmail.com

[2020-09-28 06:58] Shhhhhreyas commented on #55
@EsackN Sent you a invite from 'shreyascool.sh@gmail.com'.

[2020-09-28 08:22] dannyhw commented on #55
@EsackN if you still need help I'm usually active on the react native channel in the storybook Discord. I can't do a voice call until the evening (UTC+1) since I have work.

[2020-09-28 08:25] EsackN commented on #55
@Shhhhhreyas Thank you so much. @dannyhw Thanks for the words. @Shhhhhreyas Helped me and the issue got fixed,

[2020-09-28 11:36] EsackN commented on #55
@Shhhhhreyas @dannyhw Now facing another issue. When i click any stories on emulator, web is not previewing the same.

 "@storybook/addon-actions": "^5.3.19",
    "@storybook/addon-knobs": "^6.0.22",
    "@storybook/addon-links": "^5.3.19",
    "@storybook/addon-ondevice-actions": "^5.3.21",
    "@storybook/addon-ondevice-knobs": "^5.3.19",
    "@storybook/addon-ondevice-notes": "^5.3.19",
    "@s

[2020-09-28 11:51] dannyhw commented on #55
@EsackN that's not how it works, the server doesn't show any preview. You'll only see the selected story change. To see it on the web you need to run the on-device UI on the web. Like `yarn web` if on expo.

[2020-09-30 15:46] betoharres commented on #158
I just followed the storybook.js.org guide for React and it created a `.storybook/` folder on my project's root folder; should I delete it?
From what I've tested, those files created inside that folder does nothing, and it's pretty confusing having two storybook folders in my project(one with a dot `.storybook/` and one without `storybook/`)

[2020-09-30 18:50] ahmetcanaydemir opened #146 ""npx sb init" for react-native giving error: Invalid tag name "16.13.1@^16.13.1""
**Describe the bug**
When I tried `npx sb init` in project that created with `npx react-native init` this error occuring.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `npx react-native init projectName`
2. `cd projectName`
3. `npx sb init`
4. Press y for react-native server setup request
4. See error

**Expected behavior**
Storybook should install without problem. The problem caus

[2020-09-30 23:27] dannyhw commented on #158
@betoharres the react native storybook uses a folder without the "." just because of some historical reason and I'm not really sure what that reason is (the project was not created by me). You need a storybook/ folder for react native storybook only if you want to define web addons for the react-native-server otherwise it's not a requirement. For example where I work we use exclusively the ondevic

[2020-10-01 00:42] shilman commented on #158
@dannyhw what's the PR for the CLI? i could patch it back to 6.0 if the change is not too big.

[2020-10-01 08:36] dannyhw commented on #158
@shilman its this one storybookjs/storybook#12405

[2020-10-01 21:09] Jonovono commented on #55
@EsackN how did you resolve your first issue?

[2020-10-02 13:43] dannyhw opened #109 "ondevice select knob doesn't work well with undefined values"
**Describe the bug**

When using ondevice select knob you can cause the "keys are unique error" because the value is being used as the key.

**To Reproduce**
Steps to reproduce the behavior:
1. use multiple select knobs that have a undefined option
2. See error

**Expected behavior**
Might be better to define the key extractor based on the label or a combination of value and label

**Screenshots**

[2020-10-06 07:08] ayusch-apps-curefit opened #112 "Failed to build the manager: React storybook"
**Describe the bug**
I tried integrating storybook for react into a react native project, to render the react native components on the web, but the manager failed.

**To Reproduce**
Run `build-storybook --config-dir ./storybook-website --output-dir dist-storybook-website`

**Expected behavior**
Storybook should output the static website in dist-storybook-website folder in the root.
Instead, it jus

[2020-10-06 16:39] dannyhw commented on #112
@ayusch-apps-curefit I'm not sure I understand the use case. Why do you need this command? You need to use react native for web if you want to render react native components on the web. If on expo use `yarn web` for example, if you can provide more context I'll try and help.

Thanks

[2020-10-06 17:34] dannyhw opened #113 "Font size is inconsistent with ondevice radio knob"
**Describe the bug**

When the radio knob is used the label text is much larger than text in the text knob for example.

**To Reproduce**
Steps to reproduce the behavior:
1. add a story with a radio knob and a text knob
2. see label font is large

**Expected behavior**

Font size should be consistent with the other knobs

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-10-06 17:35] dannyhw commented on #109
closed by #111

[2020-10-06 17:35] #109 closed, assigned to dannyhw

[2020-10-06 17:51] ayusch-apps-curefit commented on #112
@dannyhw I have a react native app with react native storybook integrated. But the storybook doesn't render the components on the web.

So I was following this article: https://medium.com/@majirosstefan/exporting-react-native-storybook-components-as-static-web-app-d72024fbac19
to integrate react native web with storybook to display the components on web as well.

[2020-10-06 20:27] dannyhw commented on #112
Not all react native components will work on the web especially if you are using any external libraries with native implementations so make sure you're not using anything that doesn't work on the web.

I don't really know if I can help you with a setup from a blog post since I don't know it well enough. Maybe the blog author can help you out with that.

Check what version of react native web you a

[2020-10-07 00:51] dannyhw opened #114 "Themed values from emotion styled components are not working on on-device knobs"
**Describe the bug**

Currently the theme values are not being used in the knobs plugin on the device. This caused all the border colors to become much darker and certain UI changes since 5.3.22

**To Reproduce**
Steps to reproduce the behavior:
1. change a value in the theme
2. knobs such as text don't respect the border color for example

**Expected behavior**

Knobs should correctly use colors

[2020-10-07 01:34] MaganAnkur opened #115 "npx sb extract not working"
**Describe the bug**
Trying to create static storybook

**Expected behavior**
storybook-static should create

**Screenshots**
![Screen Shot 2020-10-06 at 11 00 03 PM](https://user-images.githubusercontent.com/42070594/95282554-bcd8be80-0827-11eb-9627-a5a43b38d2cc.png)

**Code snippets**
Main.js
module.exports = {
  stories: [
    '../src/**/*.stories.@(js|mdx)',
    //'../stories/**/*.stories.mdx'

[2020-10-07 09:13] dannyhw commented on #115
I don't understand the context here please provide more information about what you are trying to do. Thanks.

[2020-10-07 16:10] dannyhw opened #117 "Update readme to use the cli for a simpler getting started guide"
**Is your feature request related to a problem? Please describe.**

Previously I had changed the getting started guide to be the manual setup because there were issues with the cli. I've now since fixed those issues with the cli and it would be good to update the readme with a more straight forward getting started guide

**Describe the solution you'd like**

Change the getting started section of t

[2020-10-08 09:43] tommasini commented on #55
Hey guys, I'm here to relate I can't solve the first issue, my stories list are infinitely loading, I did every single step wich one of you said, and my final result is this one:
![image](https://user-images.githubusercontent.com/46944231/95441411-058c9680-0952-11eb-87c6-042646302f36.png)

-If anyone could help me I'm available to do a voice call! I don't know what I can do, I did everything:
- I

[2020-10-08 10:14] Shhhhhreyas commented on #55
@tommasini
Let's connect.. Ping me on hangouts - shreyascool.sh@gmail.com.

[2020-10-08 12:21] dannyhw commented on #55
@tommasini when I mention storybook version you can use the latest for `@storybook/react-native`,  `@storybook/react-native-server`  and `@storybook/ondevice-[addon-name]` but when it comes to storybook packages from the main repo just make sure they aren't using version 6.0 and above. When unsure you can just use the version as `^5.3` which will get you the latest 5.3.x version.

Likely you just

[2020-10-09 11:17] tommasini commented on #55
Hello!!
Thanks to @Shhhhhreyas I was able to configurate the Storybook. We did a call and we can notice I wasn't importing in my app.js my storybook/index.js and rendering that component I will show what it was missing on a image below:
![image](https://user-images.githubusercontent.com/46944231/95576918-2d026280-0a29-11eb-8301-23a15da6e086.png)

- Just need to import the storybook/index.js to you

[2020-10-09 13:29] dannyhw commented on #55
@Shhhhhreyas thanks for going out of your way to help people in the community, its great to see 🙂.

[2020-10-09 14:27] Shhhhhreyas commented on #55
Your most welcome @tommasini 😄. Just happy that your problem got solved.

Happy `coding` 😊

[2020-10-09 14:30] Shhhhhreyas commented on #55
Thank you @dannyhw 😅.
Just trying to help people. 😃

[2020-10-21 10:33] Umair706 opened #120 "react-native-web 0.12.0+ doesn't work with storybook due to deprecated components"
**Describe the bug**
In React Native, while i run the command 'yarn web' storybook gives the following warnings:

Attempted import error: 'ViewPropTypes' is not exported from 'react-native-web/dist/index' (imported as 'RNViewPropTypes').

Attempted import error: 'TimePickerAndroid' is not exported from 'react-native-web/dist/index'.

Attempted import error: 'TimePickerAndroid' is not exported from

[2020-10-22 23:33] sabun123 opened #121 "Running Jest test returns TypeError: _global.WebSocket is not a constructor"
**Describe the bug**
With storybook setup in React Native, running `npm test` hits a snag at:
`TypeError: _global.WebSocket is not a constructor`

I cannot find any documentation relating to setting up Storybook for Jest testing the app to work in React Native.

The error in full:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an RN project (not Expo)
2. Add storybook/react-nat

[2020-10-23 09:04] filozofer commented on #120
Same error here too. I hope we will be able to use Storybook on web for React Native project as soon as possible !

[2020-10-25 19:33] MarceloPrado commented on #55
Hello everyone 👋🏻

I tried everything mentioned but the **only solution was to use my network IP address instead of "0.0.0.0"**. To avoid hardcoding the address in two places (`package.json` and `storybook.js`), I created a simple bash script automates this task for us.

**The final solution looks like this:**

**1**. In `package.json`, under `scripts`, add the following line: `"storybook": "tasks

[2020-10-26 12:50] dd-ssc opened #122 "basic setup fails: error Command "storybook" not found."
**Describe the bug**
Storybook setup fails.

**To Reproduce**
Following [official documentation](https://github.com/storybookjs/react-native#getting-started):

[code]

+ hit ENTER to select _No_ when asked `install dependencies necessary to run Storybook server?`
+ try to run as instructed by the setup tool output:

[code]

**Expected behavior**
Storybook should be usable after basic setup.

**Scr

[2020-10-26 13:29] dd-ssc commented on #122
Also tried [manual setup](https://github.com/storybookjs/react-native/blob/master/app/react-native/docs/manual-setup.md), but `yarn add @storybook/react-native` just installs the package and doesn't seem to set up any scripts in the project, either.

[2020-10-26 13:33] dd-ssc commented on #122
Also tried responding with `Yes` when asked `install dependencies necessary to run Storybook server?` --> Storybook seems to work now.

[2020-10-27 22:02] jkepps opened #123 "Unclear how to properly type stories"
**Describe the bug**
Neither the docs, the examples, nor the code itself makes it particularly clear how to properly type annotate when creating a story. There is a tsc error when I try to use the `addDecorator` method on `StoryApi`. The call back receives an argument `getStory` that has an `unknown` return type.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story using typescript

[2020-10-27 22:13] jkepps commented on #123
It appears that a simple solution for this is to update the type definition for `storiesOf` to be the following:
[code]

[2020-10-30 22:53] har0ld-scl opened #126 "Native knobs: Knobs disappear when using group ids"
**Describe the bug**

Using knobs with different group ids between stories causes the knobs of the other stories to not load or display properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a pair of stories (story A and story B).
2. Add some knobs to both stories.
2. Set different groupId names on those knobs.
3. Open story A and click on one tab (group) that doesn't exists in s

[2020-11-02 19:29] chasepoirier opened #127 "Storybook server continuously changing story variant"
**Describe the bug**
When clicking through story variants somewhat quickly (<2s) the server begins to continuously change the active variant without clicking anything new. Only resets once the page has been reload.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a story with multiple variants
2. Click between variants quickly
3. See server begin changing variants on its own

**Expected

[2020-11-03 21:03] dannyhw commented on #126
Thats a strange issue, thanks for reporting this, will look into it when I can.

[2020-11-03 21:15] dannyhw commented on #120
This is an issue with the latest version of expo/react-native-web they included a new version of react native web which deprecated many of the components we are using. Currently expo 39 for web specifically won't work because of the update to react native web in that version.

See the breaking changes of version 0.12.0 https://github.com/necolas/react-native-web/releases/tag/0.12.0, both DatePicke

[2020-11-03 21:30] dannyhw commented on #121
An option might be to mock the getStorybookUI with a jest mock.  Something like `jest.mock("@storybook/react-native", ()=>({ getStorybookUI: jest.fn() }))`. I haven't tried this to check it works yet but something like that would probably work. I will investigate this at some point to find a proper fix and update this comment.

You can also just remove this default test file because I don't think

[2020-11-03 21:34] dannyhw commented on #122
@dd-ssc the command to run storybook for react native would be `yarn ios` or `yarn android`. The command `yarn storybook` is only added to project if you want storybook server because the `yarn storybook` command starts "react-native-server" which is an optional package. Sorry if this caused confusion but actually this was working as intended since you initially chose to not install react-native-s

[2020-11-03 21:34] #122 closed, assigned to nobody

[2020-11-03 21:36] dannyhw commented on #123
Sorry that you've had issues with type support for react native storybook, it's something I want to work on in the project as I have also noticed some issues. Thank you for creating a pr and contributing to storybook, appreciate it 🙏.

Will leave this open until I create a patch version with this fix included.

[2020-11-03 21:37] #117 closed, assigned to dannyhw

[2020-11-03 21:41] dannyhw commented on #120
Also apologies for the slow response I've been really busy recently.

Another thing If anyone wants to create a pr for this, the fix is to change the ondevice-knobs package to use the packages that have been made to replace the deprecated components in react native and remove the deprecated components from the code. In the case of the datepicker the version of the modal datepicker package needs to

[2020-11-03 23:20] filozofer commented on #120
Thanx for your answer on this !
Maybe an another way to "fix" this without adding new dependencies is to disable the DatePicker behaviour for web ? A simple text-input allow to modify knobs even if it's not so great for ergonomic reason.
At least it will allow us to use storybook on web too which is really usefull as our manager / designers team members use mostly the web interface rather than a s

[2020-11-04 18:35] jkepps commented on #123
@dannyhw happy to contribute! will continue to look for more ways i can help out 🙂

[2020-11-04 20:36] dannyhw commented on #120
@filozofer I guess that might be a possible solution however I worry that the problem stems from the import and not the usage.  I need to spend a weekend or something to really dig into this issue and try out a few things. I'll definitely update here if I find out anything new.

[2020-11-05 13:05] filozofer commented on #120
@dannyhw You may already know that but you can adapt the import base on the OS. In my project I've got sometimes two files :
MyComponentImports.web.js MyComponentImports.android.js and when I do the import { Something } from './MyComponentImports' it choose the proper one.
In the web import file you can do something like export const Something = null and then check for null value inside your compo

[2020-11-05 23:32] jeremyeaton89 commented on #71
@amalfra any luck with example app? i'm seeing same issue.

[2020-11-06 09:34] k-sav commented on #12
Any progress?

[2020-11-06 10:56] walterholohan opened #128 "Invalid hook call error when adding @storybook/react-native to a yarn workspace monorepo"
We have a react native project as part of a yarn workspace monorepo. However when we add the library `@storybook/react-native` the app crashes on startup with the dreaded `INVALID HOOK CALL` error from React (https://reactjs.org/warnings/invalid-hook-call-warning.html).

[code]

This is due to duplicate versions of React been loaded as React is defined as a dependency in `@storybook/api`.

Has any

[2020-11-08 19:22] dannyhw commented on #128
@walterholohan have you tried adding react and react-native to no-hoist?

[2020-11-09 15:06] mohsinulhaq opened #129 "Error in web on integrating Storybook Native with Expo"
**Describe the bug**
Error in web on integrating storybook native with Expo
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `expo init my-project`
2. `cd my-project`
3. `npx -p @storybook/cli sb init --type react_native`
4. Replace contents of App.tsx with `export {default} from './storybook';` to run storybook on expo.
4. `yarn web`

**Expected behavior**
Get the working web storybo

[2020-11-09 20:11] mohsinulhaq commented on #75
@andrestone any luck with this?

[2020-11-10 04:09] andrestone commented on #75
Not that I recall.

[2020-11-10 16:00] dannyhw commented on #75
@andrestone  @mohsinulhaq Storybook works with react native web prior to version 0.12.0

Version 0.12.0 of react native web removed deprecated components that we have been using (datetimepicker) even though it's not removed yet in react native.

[2020-11-10 17:14] mohsinulhaq commented on #75
I was finally able to achieve this by installing both `@storybook/react` and `@storybook/react-native` in my project. I run the native storybook via `react-native run-ios` and the web storybook via `start-storybook`.

[2020-11-10 17:46] dannyhw commented on #75
@mohsinulhaq that really shouldn't be necessary if you are using react-native-web. What it sounds like is that you are running a web storybook and a react native storybook separately.

[2020-11-10 17:47] dannyhw commented on #129
duplicate of #120, let me know if you want to reopen.

[2020-11-10 17:47] #129 closed, assigned to nobody

[2020-11-10 17:49] mohsinulhaq commented on #75
I'm running the CLIs separately, but the source of the stories for both of them is the single React Native stories folder.

[2020-11-10 17:53] dannyhw commented on #120
I've changed the name of this so that others can find it more easily when having issue with react native web.

Also an update, I had tried all weekend to update the expo example in the project and I kept running into dependency issues from yarn/node modules. I might have to recreate the example project to get it working properly.

[2020-11-10 17:58] dannyhw commented on #75
I'm not sure I understand correctly however if you see the link I commented above there is an example of storybook working via react-native web and it doesn't require @storybook/react. However as you see with #120 there is an issue with v0.12.0+ of react-native-web since it removed components. This also means that it doesn't work for expo 39 also since they upgraded to react-native-web v0.13.0+ in

[2020-11-10 18:01] mohsinulhaq commented on #75
Yes, I understand with older versions of RNWeb, Expo, and storybook/react-native work properly. But since the newer version broke this, I have now switched to native app rather than an Expo one.

I'm talking about that setup.

[2020-11-10 18:05] dannyhw commented on #75
@mohsinulhaq I see, well you might be able to get the Expo one working if you just downgrade the react-native-web dependency. Otherwise I'd be interested to see how this setup you're describing is working, is the code public?

[2020-11-10 18:20] mohsinulhaq commented on #75
It's not public, but here's the gist of what I did:
- Initialized react-native storybook (`npx -p @storybook/cli sb init --type react_native`)
- Initialized react storybook (`npx -p @storybook/cli sb init --type react`)
- Native config is left untouched.
- For web, I added the following webpack override to `.storybook/main.js`:
[code]

[2020-11-10 19:22] dannyhw commented on #75
@mohsinulhaq thats very interesting I've not seen that approach before, thanks for sharing that 👍

[2020-11-11 04:01] shubhamzanwar opened #130 "Will this not work in the browser?"
I'm trying to get this working for my new react-native app.
I run `yarn start` - to start the metro bundler
I run `yarn storybook` - to start storybook.

Once everything is ready, I can see the output only on my device screen. Is there no way to see the output on my web browser?

Also, everytime I've to comment out my entire app to use Storybook?

[2020-11-12 14:18] dannyhw commented on #130
There are different ways of using storybook, you can use an environment variable or flag to choose between each one or even add the storybook ui as a screen in your navigation setup.

You can see the the app in the browser if you use react-native-web however it's not like we can just render native android or IOS components in the web, it's just converting the components to dom elements via the rea

[2020-11-12 14:25] dannyhw opened #131 "React native Storybook 6.5"
**Is your feature request related to a problem? Please describe.**

Update react native storybook with the new api changes from storybook 6.0 and improvements.

**Describe the solution you'd like**

- [x] csf support
- [x] main.js/preview.js config style supported
  - [x] support for importing stories automatically
- [x] args
- [x] controls
- [x] Improved docs and tutorial
- [x] server for v6
- [x

[2020-11-13 19:51] sgonzalez-orangeloops opened #132 "number knob ignores comma as decimal separator"
**Describe the bug**
The number knob ignores numbers written after a comma. This is not desired when the device is configured with certain regions, like Russia, because in those cases iOS will pop up a keyboard with no option to write a dot.

**To Reproduce**
1. Set the region of a iOS device to russia (no need to change the language).
2. Add a number knob to a story.
3. Try to write number with d

[2020-11-13 20:00] sgonzalez-orangeloops commented on #132
Found [this commit](https://github.com/storybookjs/react-native/commit/1e787fa5bcd2e4504cdf7a0cb8f0b14382062558) that removes logic that might be helpful in this case, but I couldn't find context for that removal.

[2020-11-14 01:05] jeremyeaton89 opened #134 "React Native Crash: `undefined is not an object (evaluating '_this.props.updateCellsBatchingPeriod')` when using @babel/proposal-decorators"
**Describe the bug**
Once i provision Storybook into a branch new React Native app (via react native cli, **not** expo), add `@babel/plugin-proposal-decorators` to dev dependencies, and provision the plugin in babel.config.js, app builds but crashes on launch (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:

1. `npx react-native init StorybookIssue && cd StorybookIssue`
2. `npx

[2020-11-14 01:42] jeremyeaton89 opened #133 "Crash: `undefined is not an object (evaluating '_this.props.updateCellsBatchingPeriod')` when using @babel/proposal-decorators"
**Describe the bug**
Once i provision Storybook into a brand new React Native app (via react native cli, **not** expo), add `@babel/plugin-proposal-decorators` to dev dependencies, and provision the plugin in babel.config.js, app builds but crashes on launch (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:

1. `npx react-native init StorybookIssue && cd StorybookIssue`
2. `npx

[2020-11-14 01:43] jeremyeaton89 commented on #134
realize i'm in the wrong repo. [here's the issue](https://github.com/storybookjs/react-native/issues/133) on the RN one.

[2020-11-16 01:46] dannyhw commented on #134
duplicate #133

[2020-11-16 01:46] #134 closed, assigned to nobody

[2020-11-16 12:57] dannyhw commented on #133
@jeremyeaton89 hey, thanks for reporting this issue. I'm not really sure where to start with this one, any idea what is needed to support these decorators?

Also does it make sense to support something that is only in a proposal stage?

[2020-11-16 12:59] dannyhw commented on #130
Since there is no activity here I will close this issue. Let me know if you want to reopen this.

Thanks :)

[2020-11-16 12:59] #130 closed, assigned to nobody

[2020-11-16 13:00] dannyhw commented on #115
Since there is no activity and the issue is unclear I be will closing this issue, please let me know if you want to reopen. Thanks.

[2020-11-16 13:00] #115 closed, assigned to nobody

[2020-11-16 13:02] dannyhw commented on #112
Since there is no activity here I will close this issue, let me know if you want to reopen. I'm also not really sure that this is a supported feature for a react native storybook considering build-storybook looks like a react web storybook command.

Let me know if you want to reopen. Thanks.

[2020-11-16 13:02] #112 closed, assigned to nobody

[2020-11-16 13:06] dannyhw commented on #92
Most of the discussion here is off topic and the actual issue has no activity for some time. I'm working on a guide for using storybook in a mono repo which could help with these issues. However I believe the issues experienced are more related to react native and metro rather than storybook itself.

I'll be closing this issue due to inactivity, let me know if you want to reopen. Thanks.

[2020-11-16 13:06] #92 closed, assigned to nobody

[2020-11-16 18:19] jeremyeaton89 commented on #133
@dannyhw unfortunately i don't have any great ideas for where to start except to look at `updateCellsBatchingPeriod` and go from there. Fortunately, I am no longer blocked by this issue as we are no longer using the decorator syntax. I suppose you're free to close this issue unless this is affecting anyone else. Thanks for your responsiveness :)

[2020-11-16 21:09] dannyhw commented on #133
@jeremyeaton89 ok no problem :) I'll leave it here for now and if we get no activity for a while then I'll close it 👍

[2020-11-17 10:27] badkos commented on #133
Have the same issue. How can I solve it (without disabling decorators)?

[2020-11-17 16:33] dannyhw commented on #133
@badkos hey, like I said I don't really know anything about these decorators so if anyone can provide more information about why this might not be working that would help a lot. Otherwise I will need to just blindly debug this without knowing where to start. I appreciate that this might be frustrating but I'll try to debug this at some point when I have time and hopefully I can find out something.

[2020-11-18 19:51] krystofmatejka commented on #55
I was struggling for 2 days to make this work.

In my case, the problem was in networking.

Run storybook on IP 0.0.0.0 and test with some tool (for example nmap -p 7007 YOUR_NETWORK_IP) if is port open on the network IP. If is not try to run storybook with **--ci**.

[2020-11-18 20:57] dannyhw commented on #55
@kxmatejka sorry to hear that, if you have issues like this is the future feel free to ask questions on the [Discord](https://discord.gg/sMFvFsG) I'm active there and I can help with these types of issues :)

Another thing is that the server isn't needed for a normal use cases and I would advise people to use the on device ui without the server for most cases.

[2020-11-18 21:56] krystofmatejka commented on #55
@dannyhw I really appreciate your work. Now everything runs smoothly. But the setup process was a nightmare. Every tutorial/guide/blog shows the same: run init and there you go. Then if something failed, it is almost impossible for the newcomer to find out what is wrong and how to fix it.

It would be nice add to docs some scheme with an explanation where should run what and where to look if is so

[2020-11-19 02:41] dannyhw commented on #55
@kxmatejka I totally understand where you're coming from and a big part of the issue is that the official tutorial is inaccurate. I've done some work to help get it changed but it's been hard to get the right people together to make the changes needed.

I'm hoping to solve a lot of issues in 6.0 that will make the setup much easier.

Most likely server won't be part of 6.0 since it just causes con

[2020-11-19 05:25] krystofmatejka commented on #55
@dannyhw that will be really nice. I really want to understand how it works, but there aren't any resources.

[2020-11-20 06:00] ewnu commented on #107
`@react-native-community/async-storage` is Deprecated.
devs migrated packages to `@react-native-async-storage/async-storage`.

[2020-11-21 20:53] stereodenis opened #138 "Problem with storyshots + react-native-screens"
When I try to run storyshots tests with native screens from react-native-screens I got:
[code]
**To Reproduce**
Steps to reproduce the behavior:

Use native screens and try to create storyshot snapshot
[code]
**Expected behavior**
Snapshot is created

**System**
[code]

**Additional context**
[code]

[2020-11-22 14:16] dannyhw commented on #138
@stereodenis hey, I really never used story-shots so I have no idea if it would work. If you could provide a reproduction of this in a branch or an example repository that would really help.

[2020-11-22 14:55] DenisVASI9 opened #139 "I have infinity loading"
**Describe the bug**
I have infinity loading after start in storybook react-native edition. Without errors or warnings. How does it fix or find?

**To Reproduce**
Steps to reproduce the behavior:

1. npx -p @storybook/cli sb init --type react_native
2. add export {default} from "./storybook" to index.js
2. npx react-native start
3. npx react-native run-android
4. npm run storybook
5. infinity-load

[2020-11-22 15:03] dannyhw commented on #126
Published:
 - @storybook/addon-ondevice-knobs@5.3.24-alpha.0
 - @storybook/react-native@5.3.24-alpha.0

### Bug Fixes

* size of radios is inconsistent with other knobs (#118)
* type annotation for storiesOf method (#124)
* ondevice select knob undefined value causes key error (#111)
* reset groupId in selectStory handler (#137)

Your change is live now in 5.3.24-alpha.0

[2020-11-22 15:03] #126 closed, assigned to nobody

[2020-11-22 15:04] dannyhw commented on #123
Published:
 - @storybook/addon-ondevice-knobs@5.3.24-alpha.0
 - @storybook/react-native@5.3.24-alpha.0

### Bug Fixes

* size of radios is inconsistent with other knobs (#118)
* type annotation for storiesOf method (#124)
* ondevice select knob undefined value causes key error (#111)
* reset groupId in selectStory handler (#137)

Your change is live now in 5.3.24-alpha.0

[2020-11-22 15:04] #123 closed, assigned to nobody

[2020-11-22 15:05] dannyhw commented on #113
Published:
 - @storybook/addon-ondevice-knobs@5.3.24-alpha.0
 - @storybook/react-native@5.3.24-alpha.0

### Bug Fixes

* size of radios is inconsistent with other knobs (#118)
* type annotation for storiesOf method (#124)
* ondevice select knob undefined value causes key error (#111)
* reset groupId in selectStory handler (#137)

change is live now in 5.3.24-alpha.0

[2020-11-22 15:05] #113 closed, assigned to nobody

[2020-11-24 13:28] MarceloPrado commented on #55
I ended up writing a bash script that automates all of this, fixing my issues. However, it wasn't trivial at all. Let me know if you need any help @dannyhw, I believe the 6.0 will be a great addition to react-native 🙂

[2020-11-25 13:26] tsvetan-ganev commented on #47
I was able to remove the errors caused by lodash by installing its type definitions:

[code]

Then go to your `package.json` and remove the `~` or `^` in front of the version:

[code]

If you install the latest version of the type definitions you will encounter the following error:

[code]

That's why you must explicitly forbid any possible updates to this package (even minor ones usually cause br

[2020-11-25 21:38] jonathanm-tkf commented on #104
Same issue

[2020-11-27 14:18] dannyhw commented on #104
@jonathanm-tkf please see my previous comment.

[2020-11-27 16:34] stereodenis commented on #138
Problem was on my side, sorry

[2020-11-27 16:34] #138 closed, assigned to nobody

[2020-11-30 23:27] pjivers-bom opened #140 "Storybook Core versions"
When you say:

Do you mean that Storybook Core versions should be `5.3.0` or `5.3.x`? I'm assuming the latter but it's not 100% clear to me.

[2020-12-02 00:12] soullivaneuh commented on #139
I have a infinite loading too, but on the menu only:

![image](https://user-images.githubusercontent.com/1698357/100811677-72487c80-343b-11eb-93f1-b245018c02cf.png)

I just followed the tutorial steps: https://www.learnstorybook.com/intro-to-storybook/react-native/en/get-started/

[2020-12-02 23:17] soullivaneuh commented on #139
I just figured out I spoke too fast and didn't read the documentation show on the default content.

However, I also run `npm run android` and opened the expo project on my phone, but I still don't see any change about the menu.

I keep digging, however this is maybe not related with the original issue.

[2020-12-03 04:00] apedroferreira commented on #20
@dannyhw any updates? has this been fixed?

[2020-12-03 09:51] intergalacticspacehighway commented on #57
@Jpoliachik @dannyhw this is something to do with core-js promise polyfill. We were facing the same issue i.e. Promises never resolved. I commented the es.promise.js from core-js and it started working.
Also, rn-host-detect.js never imports promise polyfill but due to some reason it's still being imported. Not sure how.

[2020-12-03 10:02] dannyhw commented on #20
@apedroferreira unfortunately not since the issue is upstream I wasn't able to make progress on this. I'm hoping that maybe upgrading dependencies to 6.0+ will help. I'll test it in the 6.0 upgrade branch.

From what I understand there would need to be a version of storybook client that isn't polyfilled or at least with a different browser target. So I think a workaround is the best chance we have

[2020-12-03 10:08] dannyhw commented on #57
Yes this issue is the same as the promise.finally one, it comes from the storybook client or core package which is polyfilled. It's a direct dependency of react native storybook. It's hard to solve because it requires changes to how to main repo gets built/released. At least that's the impression I got when I investigated last time around.

[2020-12-03 12:40] intergalacticspacehighway commented on #57
Okay. Thanks for the quick response @dannyhw!
Just putting it here as a temp fix till a permanent solution is achieved.
We ended up using patch-package - https://www.npmjs.com/package/patch-package.
- Go to `node_modules/core-js`, comment the `es.promise.js` file in the `modules` directory and run the patch-package command.

[2020-12-03 17:43] soullivaneuh commented on #58
@danny-andrews This indeed works.

According to this info on storybook run:

[code]

Storybook is able to detect the network IP. It would be great if this information can be transmitted and use as default. :+1:

[2020-12-03 18:56] dannyhw commented on #58
@soullivaneuh I appreciate that this can be frustrating when following the tutorial, however in my opinion the tutorial shouldn't even include the server because it's not required and mostly creates confusion about how storybook works.

If someone can contribute a PR with a fix for this connectivity issue I'll happily accept it, however currently my focus is on making 6.0 happen, so I likely won't

[2020-12-03 19:00] dannyhw commented on #139
@soullivaneuh hey this issue is actually already a known one and this is a duplicate of an existing issue #55. Please read through that issue and try some of the solutions there and if necessary add your comments on that issue instead.

I'll close this for now as to not have many duplicates of the same issue, let me know if it needs to be re-opened though :)

[2020-12-03 19:00] #139 closed, assigned to nobody

[2020-12-03 19:10] dannyhw commented on #140
Basically if you install a storybook package make sure it doesn't install the 6.0 or higher version. Take the latest version from 5.3.x where x is what the latest minor version.

So if a storybook package like @storybook/addons has a latest version of 6.0 don't use that version instead use the latest minor version from 5.3 onwards, for example if the latest version before 6.0 for that package is 5

[2020-12-03 19:12] dannyhw commented on #140
If you can think of a better way of explaining it I'll happily update the readme to be more clear. I had a hard time figuring out the best way to explain it 😅.

[2020-12-03 19:17] selrond commented on #128
@walterholohan @dannyhw have you arrived at some solution? Dealing with same error

[2020-12-03 19:27] dannyhw commented on #128
It's hard to know what the issue is without seeing the code, I use storybook in a yarn workspace monorepo in two separate projects. Usually the problem is more generally to do with react native/metro configuration than with storybook.

[2020-12-03 19:37] walterholohan commented on #128
The solution we arrived on was to remove the monorepo structure. As Danny mentioned above it was something to do with hoisting react versions and using metro bunder. We found our monorepo structure with RN and React web was getting harder and harder to add new libraries so we decided to scrap the monorepo approach all together. We have been very happy ever since.

[2020-12-03 20:00] dannyhw commented on #128
There are ways to make it work but it can be difficult sometimes because metro doesn't support symlinks and so you end up kind of fighting with metro to get things working

[2020-12-03 23:48] soullivaneuh commented on #58
Why? After understanding it, I found it great to have the control of our Storybook app directly from a web browser! :+1:

I understand your focus on Storybook 6, however I found a quite simple workaround thanks to [`internal-ip`](https://www.npmjs.com/package/internal-ip) package.

On your `app.config.ts` file:

[code]

And then on your Storybook app entrypoint:

[code]

Then my local network IP i

[2020-12-04 13:32] dannyhw commented on #58
Personally I've never been a user of the server and the main issue for me is that it's not portable. Something important to storybook is non developers having access to the storybook so it should be portable.

Sure the server has some nice features, however I see more potential in making the on device UI better.

The reason I say it creates confusion is that many times when speaking to users they

[2020-12-04 18:48] LeonardoRepetto opened #141 "Events are not recorded if we quickly access the 'Actions' section."
**Describe the bug**
When I press a button using delaypressOut with TouchableHighlight or TouchableOpacity and move very fast to 'Actions', the OnPress event is not logged, but if I wait a few seconds after clicking, the action is logged successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a button with delayPressOut in 1000 and TouchableHighlight or TouchableOpacity.
2. Clic

[2020-12-07 22:45] dannyhw commented on #141
Hey thanks for reporting this, will investigate when I can :)

[2020-12-07 22:47] dannyhw commented on #140
@pjivers-bom were you able to figure it out?

[2020-12-09 05:41] s5unanow opened #142 "addDecorator() argument typing."
Have a problem with TypeScript using addDecorator() function
![image](https://user-images.githubusercontent.com/58434753/101589577-65a2c600-39f1-11eb-96b5-50ff8edb720f.png)

So there probably should be a way to add typing to addDecorator() argument.

Managed to solve adding an interface to CenterView component like that
![image](https://user-images.githubusercontent.com/58434753/101589726-b0244280

[2020-12-11 09:23] dannyhw commented on #142
Hey thanks for creating this issue, this is something I myself have run into so I understand how annoying it can be. My workaround is usually to do `(story:any)` on the decorator rather than changing the components prop typing. Ideally storybook shouldn't change the way you use your component.

Anyway this will get fixed, however I'm focused on 6.0 now so it might have to be with that release.

[2020-12-11 09:24] dannyhw commented on #140
Closing due to no response.

[2020-12-11 09:24] #140 closed, assigned to nobody

[2020-12-15 15:04] elsurudo commented on #133
@dannyhw did you ever figure this out?

[2020-12-15 15:33] dannyhw commented on #133
@elsurudo sorry I haven't had time, I should be able to have a look this week maybe. I still don't really know much about this proposal but I'll give it a go.

[2020-12-15 15:36] dannyhw commented on #133
Looking at the error it looks like an issue with a flatlist or sectionlist since that's where the updatebatchcell prop is used

[2020-12-16 15:55] ajacquierbret commented on #20
@dannyhw Today, after doing an upgrade of the Expo SDK (40), the same error appeared.

After some investigations, more or less dumb tries of making my app working, I discovered something quite interesting.

If I add `import 'core-js/features/promise/finally'` to `@storybook/react-native/dist/index.js` it still shows an error.
But if I remove the import and add it again after my app is fully loaded

[2020-12-16 17:14] ajacquierbret commented on #20
Ok I managed to get my app working !

Adding an import of `core-js/features/promise` AFTER importing Storybook is the fix. Above workarounds and patches don't work because `Promise.prototype.finally` keeps being overwritten even after the execution of `@storybook/react-native/dist/index.js`, maybe because of some Storybook plugins.

In my case, I had to import `core-js/features/promise` a bit deep

[2020-12-16 18:53] dannyhw commented on #20
@ajacquierbret hey thanks for posting your workaround hopefully that will save some people a lot of frustration.

I've tried different things in the past to resolve this and the proper fix always seems to require changes upstream. It's hard to coordinate these changes since it's only rn with this problem. I think in the web versions it's fixed via webpack wizardry.

I was kind of hoping that 6.0 m

[2020-12-17 13:36] aelesia opened #144 "Basic Support for react-native-macos"
**Is your feature request related to a problem? Please describe.**

Storybook layout is broken in react-native-macos.

![storybook2](https://user-images.githubusercontent.com/7008316/102493328-fa6e8900-40ad-11eb-981f-5d318cca41ad.gif)

1) There is a giant white section blocking half of Storybook
2) Story list cannot be viewed
3) Stories cannot be selected
4) Addons cannot be selected
5) Component

[2020-12-19 17:32] dannyhw commented on #144
@aelesia hey thanks so much for the detailed issue! I actually tried to run this recently and I wasn't able to get the example project to work with macos at all, I think due to issues with yarn workspaces.

Are the examples in your gif from your own project? I'm having troubles getting things working on the example project, what steps did you follow to make this work?

I'm definitely intrested in

[2020-12-22 06:24] samiksha-syn opened #145 "Stories not rendering on windows"
**Describe the bug**
My storybook runs successfully but stories are not visible on windows. When i ran my storybook on mac it loaded successfully.

**To Reproduce**
run react native project and it's storybook on windows 10

**Screenshots**
<img width="857" alt="storybook" src="https://user-images.githubusercontent.com/67738198/102856019-cbf50300-444b-11eb-8216-d1d4e5db7602.PNG">

**Code snippets**

[2021-01-02 15:53] dannyhw commented on #145
Hey this seems like a duplicate of #55 so I'm closing this as a duplicate. Please see the solutions outlined there and if that doesn't help then let me know and we can re-open this issue if necessary.

Thanks :)

[2021-01-02 15:53] #145 closed, assigned to nobody

[2021-01-02 16:32] Man-RP commented on #55
struggling the same issue, tried the 0.0.0.0 ip thing - did not work.
the shel script is not working for me too :S
![image](https://user-images.githubusercontent.com/46972103/103461646-a360e900-4d28-11eb-84da-d9975a474b02.png)

getting:
![image](https://user-images.githubusercontent.com/46972103/103461694-ede26580-4d28-11eb-86aa-c617a258afff.png)

edit: @dannyhw helped me to solve it. thanks a lot

[2021-01-14 12:54] WookieFPV commented on #133
I had the same issue, but the cause was another babel plugin:
`@babel/plugin-proposal-class-properties`

Removing it fixed this issue for me

[2021-01-14 15:20] elsurudo commented on #133
Thanks @WookieFPV. Ended up using the same fix, but unfortunately not having this plugin makes MobX a bit more annoying to use.

[2021-01-14 18:17] omonk opened #147 "Main app does not load when importing and then conditionally rendering storybook in root index.js"
**Describe the bug**
We're trying to run storybook-native alongside our main react-native app and conditionally loading storybook or the main app based off of an env variable. Problem is is that anytime we set our STORYBOOK_NATIVE env variable to false the main app fails to register and the simulator is blank.

**Expected behavior**
Main app loads when env variable is false

**Code snippets**
[cod

[2021-01-15 20:22] dannyhw commented on #133
Hey sorry for not updating with anything but it's been hard to make time for this issue among other things. Really it would help a lot if someone could point to something specific in this repo that is the cause of this so that I know where to look.

[2021-01-18 13:22] jenskuhrjorgensen opened #148 "ondevice-notes requires "git" installed"
**Is your feature request related to a problem? Please describe.**
Hi guys

I'm running into problems on my CI being unable to run `npm i` because your Storybook addon `ondevice-notes` depends on `react-native-simple-markdown` which in turn depends on `simple-markdown` which is installed with [`git://...`](https://github.com/CharlesMangwa/react-native-simple-markdown/commit/8c8242323bb272abed03728

[2021-01-18 21:20] dannyhw commented on #147
did you try reloading the app using the dev menu or cmd + R / ctrl+R

Also whats the purpose of this here ? @storybook/preset-create-react-app: ^1.5.2 => 1.5.2

Also can you please provide any errors that you have in the logs.

[2021-01-18 22:26] dannyhw commented on #148
@jenskuhrjorgensen hey thanks for raising this issue.

in response to your suggested solutions

"Make a fork of react-native-simple-markdown and make ondevice-notes depend on that"
1. I can't really maintain a fork of react-native-simple-markdown, I barely have the time to maintain this project by myself 😅

"Get the maintainer of react-native-simple-markdown make a new release and bump it in ondev

[2021-01-18 22:29] dannyhw commented on #146
@ahmetcanaydemir hey I must have missed this, I think this is fixed already. Could you check?

you should run
npx -p @storybook/cli sb init --type react_native

[2021-01-19 08:01] jenskuhrjorgensen commented on #148
Hi @dannyhw

That is totally understandable - I'm also very much looking forward to v6. :)

I hope I can get them to release a new version and I will create a PR here if that ever happens.

Should I leave this feature request open or close it?

[2021-01-19 10:00] dannyhw commented on #148
@jenskuhrjorgensen leave this issue open as a reminder for me to fix this.

Thanks for understanding :)

[2021-01-23 18:04] expelledboy commented on #92
@dannyhw Did you ever manage to create that guide?

I want to achieve the same as @Brendon127, basically

- Yarn workspaces with Typescript through out the project
- Utility and Model packages which are dependencies everywhere
- Separate package with React Native components
- Components are testing with storybook
- Another separate package for an expo app
- Storybook can be run both in the browser

[2021-01-23 19:41] dannyhw commented on #92
@expelledboy I didn't make the guide yet but if you want you can message me on discord I can try and help you with your project. You can find me in the react-native channel of the storybook discord.

[2021-01-26 22:19] alemanza commented on #121
I had the same problem, maybe this will help you.

[code]

[2021-02-05 12:31] MorelSerge commented on #142
Also running into this issue, anyone found a decent workaround?

[2021-02-09 14:49] JanithaR commented on #5
Yo, still happens in 2021!

[code]

[2021-02-09 16:13] icaru88 commented on #120
HI @dannyhw, may I ask if this issue is resolved in 6.0, will the issue for web launching in storybook-reactnative be resolved?

[2021-02-09 16:50] dannyhw commented on #120
@icaru88 yes this will be resolved in 6.0.

I'd like to find a temporary solution for 5.3 without making breaking changes however I've got some doubts about whether its possible.

----

Looking at my previous comment I had some issues with the tooling in the repo to test any changes the last time around. I'll take another look as soon as I can.

[2021-02-10 02:23] icaru88 commented on #120
Thank you so much @dannyhw. your quick response is very much appreciated.

[2021-02-15 21:33] ghmendonca opened #149 "ERROR in ./node_modules/react-native/index.js 13:7"
**Describe the bug**
Just followed the react native getting started tutorial (https://www.learnstorybook.com/intro-to-storybook/react-native/en/get-started/), added typescript support and when I try to run yarn storybook I get this error

![Capturar](https://user-images.githubusercontent.com/29390554/107994706-ed8de900-6fbb-11eb-8905-6e77ed49e540.PNG)

**To Reproduce**
Steps to reproduce the behav

[2021-02-17 06:41] aliceInWahed commented on #75
Hi @mohamedmansour, is that possible for u to push the code as public?

I was not sure how do I add the web pack into my project while was created natively following the @storybook/react-native tutorial (NOT expo)

<img width="1023" alt="Screenshot 2021-02-17 at 2 27 14 PM" src="https://user-images.githubusercontent.com/79141836/108164706-411f4480-712c-11eb-9de3-f274e0b8481a.png">

While browsing

[2021-02-22 14:36] DanielRamosAcosta commented on #104
We are havving this same issue at version:

With Expo 40.

[code]

Did you manage to solve the issue @JeffGuKang?