[2021-02-22 16:51] dannyhw commented on #104
@DanielRamosAcosta  You cannot use addon-actions v6+ please downgrade the version of @storybook/addon-actions@6.1.18 to 5.3.21.

Version 6 of storybook is not compatible with version 5.3.

[2021-02-22 17:22] DanielRamosAcosta commented on #104
Yes! Thanks @dannyhw !

[2021-02-26 10:49] dannyhw commented on #132
Was released as part of ondevice-knobs v5.3.24

[2021-02-26 10:49] #132 closed, assigned to nobody

[2021-02-26 10:50] dannyhw commented on #67
fixed in v5.3.24

[2021-02-26 10:50] #67 closed, assigned to nobody

[2021-02-26 10:50] dannyhw commented on #146
This should be resolved.

[2021-02-26 10:50] #146 closed, assigned to nobody

[2021-02-26 10:51] dannyhw commented on #142
Can you check with the latest version 5.3.25?

[2021-02-26 11:36] dannyhw commented on #149
@ghmendonca hey thanks for raising this issue, I will look into it when I can :).

[2021-02-26 12:28] StampixSMO commented on #142
@dannyhw typing changes, but not fixed :/
![image](https://user-images.githubusercontent.com/79153163/109300215-89c6b400-7836-11eb-8aa5-d67b496059ae.png)

[2021-02-26 15:39] dannyhw commented on #142
Ok well it seems like I need to take another look at it, thanks for letting me know. If anyone want to take this one I'm open to PR's :)

[2021-03-02 15:49] AichaK1 commented on #92
@dannyhw I am having the same problem with the sidebar not loading I did everything but still can't solve it

[2021-03-02 16:23] dannyhw commented on #92
@AichaK1 hey, whilst I understand this issue can be frustrating, I would really appreciate it if you could keep discussion relating to the sidebar not loading in the relevant issue: #55  🙏

[2021-03-07 13:27] barnardb commented on #149
I tried following the same "Storybook for React Native tutorial" to add Storybook to an existing expo application. I'm using MacOS. I get the same `ERROR in ./node_modules/react-native/index.js 13:7` when running `yarn storybook` after adding `import '@storybook/addon-ondevice-actions/register';` to `addons.js`. (When I don't include that import statement, `yarn storybook` emits no errors and open

[2021-03-07 13:44] barnardb commented on #149
I had changed `addons.js`, but the tutorial directs that `rn-addons.js` should be changed. @ghengeveld is it possible you made the same mistake that I did?

(Now I just need to figure out why the sidebar never finishes loading for me.)

[2021-03-09 19:22] dannyhw commented on #149
@barnardb not sure if you already solved it but there is an open issue with some solutions at #55

[2021-03-15 12:58] GuillaumeHemmen commented on #121
To complete @dannyhw's answer (thanks a lot, by the way), don't forget to include other function like `addDecorator` or `configure` depending on your needs.

[code]

[2021-03-15 19:34] jo-finndian commented on #58
I'm facing the same problem. The server is running, but the stories never load...

The other problem I'm facing is that HomeScreen does not exist in the tutorial download, and neither do some of the initial components needed. It's almost as if the tutorial template is for a different tutorial all together..? The files also do not work unless .tsx is used instead of .js, which is what the tutorial

[2021-03-15 19:58] jo-finndian commented on #55
Omg, I've been banging my head against the wall for hours. I feel like such a dolt. Thank you!

[2021-03-16 12:04] oleksandr-dziuban opened #152 "React Native Storybook doesn't work with iOS/Android Hermes Engine in React Native v0.64.0"
**Describe the bug**
When I run react-native storybook with React Native v0.64.0 and Hermes enabled for iOS/Android platform it throws en error:

[code]

If Hermes JS Engine disabled everything works fine for iOS/Android platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup basic React Native Storybook app according to Docs
2. Use React Native v0.64 app template
3. Enable iOS Herm

[2021-03-16 12:06] wenzelua commented on #152
same here

[2021-03-16 16:04] mrbalov commented on #152
Faced the same issue.

[2021-03-16 17:39] dannyhw commented on #58
@jo-finndian the expo template changed a lot since the tutorial was made and so the tutorial is somewhat outdated. I would suggest following the getting started steps here on the repo or finding a different tutorial instead. I plan to work with the maintainers of that tutorial to create a new one for 6.0 once it's done.

I'm going to close this issue and ask that any further comments are directed

[2021-03-16 17:39] #58 closed, assigned to nobody

[2021-03-16 21:23] ghmendonca commented on #149
Any progress?

[2021-03-17 17:30] dannyhw commented on #149
@ghmendonca what version of react-native-web are you using? It's probably using v0.13 or something. If you downgrade it to 0.11.7 it might work.

Please bear in mind that this tutorial is very out of date now and even the expo taskbox template is drastically different since when the tutorial was written.

[2021-03-19 14:15] ivan-khr85 commented on #131
Please, add support for React v17.0 and React-Native v0.64

[2021-03-19 16:41] dannyhw commented on #131
@ivan-khr85 hey, yeah I haven't had a chance to check this however I don't see any reason it wouldn't work. I will update the examples to 0.64 when I get a chance and check it out.

Did you already try it and had issues or something?

[2021-03-20 19:24] dannyhw commented on #152
Hey guys thanks for reporting these issues, I haven't had a chance to test this yet. I wasn't aware of any incompatibly with hermes, I'll look into it.

Are you able to provide a repository that reproduces the issue?

[2021-03-20 19:39] dannyhw commented on #152
If anyone is able to offer their time to help on this issue that would be really great, it might take some time for me alone to test everything with 0.64. This is all done in my free time outside of work hours so please be patient with me 🙏 .

I've just made a fresh react native project for testing this out and I'll be doing some debugging tonight.

[2021-03-20 20:34] dannyhw commented on #152
@oleksandr-dziuban @SlaUA  @balovbohdan I just tried this on my machine and I had no issues getting it working without making any changes.

Could you please share a repository where you are able to produce this error?

[2021-03-20 22:07] dannyhw commented on #152
I've found a bit of an issue when using the code generated by cli alongside existing projects, I'm not sure if it's related however I think I will need to update the generator in the cli.

If it is relatedThere are some changes you could make that might resolve your issue however I need to see some of your code to be sure.

[2021-03-20 22:15] dannyhw commented on #147
I've actually been able to reproduce this and its possible to resolve this by changing the way you call the getStorybookUI function.

instead of using
[code]

do this

[code]

Then whenever you use the storybook ui make sure that you call this function like

[code]

I'm still investigating the cause of this but this should help those that come across this. If you have any issues please let me know

[2021-03-21 18:07] oleksandr-dziuban commented on #152
Hello @dannyhw Sorry, can't share a repo, as this e-commerce project is under NDA. Which issues did you find and what we can do to help you to test it?
Thanks

[2021-03-21 18:27] dannyhw commented on #152
@oleksandr-dziuban its not necessary to share the project itself but if you could try to recreate the issue in a fresh project and then share that with me it would be really useful.

Otherwise you could share  just the parts of the code that include the storybook configuration and the place where you use the component returned from getStorybookUI.  Of course feel free to take out any code specific

[2021-03-22 18:54] dannyhw commented on #152
Just want to re-iterate that in order to fix any issues I really need someone to show me an example of this not working so that I can help the best way possible. Doesn't need to be the issue creator or any real world code, just any example or steps to reproduce. I've not found any issues with hermes or 0.64 personally when I try it so I need to understand better where this issue is coming from.

[2021-03-22 18:58] dannyhw commented on #152
@oleksandr-dziuban in your issue description you have given some steps but its not clear to me exactly the steps you followed.

"Setup basic React Native Storybook app according to Docs" - which docs are you refering to? the readme?
"Use React Native v0.64 app template" - which template are you using? typescript or normal? expo or not expo?

[2021-03-23 18:43] chitra591 commented on #142
@dannyhw - I could give it a try :)

[2021-03-23 19:04] dannyhw commented on #142
@chitra591 that would be great, if you need any help I'm available :). If you want to chat you can find me in the react-native channel on the discord: https://discord.gg/sMFvFsG

[2021-03-24 13:46] apostopher commented on #152
@dannyhw here is the repo to reproduce the errors below: [Storybook with hermes](https://github.com/apostopher/StorybookNative) please see the commit messages for the steps i followed.

<img src="https://user-images.githubusercontent.com/270924/112320312-e14b2900-8ce9-11eb-8c31-a6fc3678c4cc.png" width="300" />
<img src="https://user-images.githubusercontent.com/270924/112320336-e7d9a080-8ce9-11eb-

[2021-03-24 20:40] dannyhw commented on #152
@apostopher thanks a lot for providing this, it will definitely help a lot 👍.

[2021-03-25 21:37] oleksandr-dziuban commented on #152
Readme, yes, simple project without typescript and without expo

[2021-03-25 21:38] oleksandr-dziuban commented on #152
For me it reproduced without storybook server and on device ui enabled

[2021-03-26 15:55] dannyhw commented on #152
@oleksandr-dziuban if you could provide an example of this then that would help alot, so far I haven't been able to reproduce anything without the storybook server

[2021-03-26 16:53] dannyhw commented on #152
@apostopher I was able to see the issue when running your example. It seems the issue is caused by trying to connect with the server, perhaps hermes doesn't support web sockets? Anyway I'm looking into it.

[2021-03-26 17:16] dannyhw commented on #152
@oleksandr-dziuban @apostopher I found something interesting when I was investigating and I was able to make the error go away. From what I can tell the issue is that "JSON" was coming up as undefined, through some googling I found that hermes might have an issue with "inlineRequires". When I change metro config to have `inlineRequires: false` the issue seems to go away.

[2021-03-26 20:09] pang0018 commented on #131
@dannyhw  One issue I am running into is thatReact-Native 0.64 uses the the latest of @testing-library/jest-native which breaks Storyshots (see [thread](https://stackoverflow.com/questions/61706963/typeerror-require-requireactual-is-not-a-function). Getting React Native storybook to version 6.x should resolve the issue.

[2021-03-27 00:55] apostopher commented on #152
@dannyhw thanks mate! i tested it with `inlineRequires: false` and it builds perfectly. i'll try to make it work with inlineRequires`. I read about it and it seems its an issue with `core-js` and `inlineRequires`. But that is not related to this issue.

Thanks a lot for investigating. i can confirm that it works for me now.

[2021-03-29 14:21] jellyfish-tom commented on #19
still happening in 2021 :S

[2021-03-29 14:35] ssilverberry commented on #147
@dannyhw Hello, I faced the issue too. Tried your workaround but it did not help. Storybook renders every time till I totally removed it from render. Want to admit I've restarted my app and metro server every time after any changes being provided.

I used the storybook in a such way.
[code]

But it does not work even if use conditional render in the App, e.g.
[code]

[code]

[code]

**My System In

[2021-03-29 15:18] dannyhw commented on #147
@goraug hey I'm not sure what exactly you tried but I'm pretty sure it would work if you changed it to be like:

[code]

[code]

The key thing is not calling getStorybookUI unless storybook is actually being rendered.

[2021-03-29 15:24] ssilverberry commented on #147
Thank you, I try and let you know. My key point was to control storybook rendering via env variable cuz for some builds I would like to switch it on/off and don't edit code manually every time.

[2021-03-29 15:41] ssilverberry commented on #147
@dannyhw Okay, I guess the problem is in the `react-native-config` lib or exposing env variables because if I do the same but change `ENV.USE_STORYBBOK` to a local variable instead then it works perfectly without any problems.

[2021-03-29 16:36] dannyhw commented on #147
@goraug I usually will just create a json file and have a flag in there like

[code]

Then if you want you can make a simple node script to change the value there. Then you can use that in your package.json to automate swapping between storybook and the app.

There is a somewhat relevant article here where they do something similar:
https://itnext.io/the-easiest-way-to-setup-multiple-environments-

[2021-03-29 18:34] ssilverberry commented on #147
@dannyhw Thank you, appreciate your help!

[2021-03-30 07:13] TurtleWolfe commented on #158
I was doing good following the tutorial until it says to update `screens/LinksScreen.js` which doesn't exist in the tabs template. I went ahead and created the file, but then the next step is to edit `navigation/BottomTabNavigator.js` which no longer loads a home screen. Is there a better tutorial to get started with StoryBook in ReactNative or any suggestions on how I should update these files to

[2021-03-30 11:23] dannyhw commented on #158
@TurtleWolfe the template from expo has changed since the tutorial was made. I made a new template in order to update the tutorial however I started work on 6.0 in the meantime.

What kind of stuff would you want in the tutorial? I could try put something quick together with the basics if that would help.

[2021-03-30 15:23] oleksandr-dziuban commented on #152
@dannyhw Thanks a lot for thsi research! it works perfectly with ``inlineRequires: false``.
Are you planning to fix ``inlineRequires: true`` case ?

[2021-03-30 16:00] dannyhw commented on #152
@oleksandr-dziuban In short yes I would love to fix that case, at the moment I'm just not sure how.

If its related to corejs it would be difficult to resolve. The storybook client api is using babel transforms to support older versions of javascript and I think even the typescript compiler will transform using corejs. Even if I were to provide the react-native code without transforms there isn't

[2021-03-30 16:31] TurtleWolfe commented on #158
Really? That would be awesome, this is my repo for how far I got. I put my bash history in the README.MD and used the `--npm` flag. Where it says to update `screens/LinksScreen.js` I just added that file. But then where I'm supposed to edit `BottomTabNavigator.js` I wasn't sure what to do.  I think if I just saw how to add the 3rd tab to the expo tabs I'd be in pretty good shape.

[https://github.

[2021-03-30 16:49] dannyhw commented on #158
@TurtleWolfe in my opinion the focus of the current tutorial is wrong. It instructs the user to use react-native-web which currently doesn't work well with react native storybook. Also all the screenshots are taken from the reactjs (web) version of storybook and not the react native one. Until the tutorial is reworked I wouldn't consider it worth your time.
I do intend to work with the tutorial ma

[2021-03-31 08:10] TurtleWolfe commented on #158
ok, this is the ReadMe, Bash history, and a few screenshots when I started to go off the rails with confusion where I've tried to merge my understanding of the two tutorials. All I'm really trying to do is start with the Expo Two Tab template and then load the StoryBook UI into the second tab.

# [https://github.com/TurtleWolfe/rnStoryBook](https://github.com/TurtleWolfe/rnStoryBook 'React Native

[2021-03-31 14:38] oleksandr-dziuban commented on #152
Thanks

[2021-03-31 19:28] dannyhw commented on #158
@TurtleWolfe just to let you know it might not work very well inside a tab, react native storybook's ui is generally designed to work full screen and has its own tab navigation. So when its inside a tab it looks weird, you'll see in the screenshot later in this comment.

Other things you should consider:
are you interested using react native web or just android/ios?
and are you interested in using

[2021-04-02 10:42] henrymoulton opened #153 "Appium Compatibility / Accessibility Changes"
**Is your feature request related to a problem? Please describe.**

To enable Visual Testing using AWS Device Farm, we're looking at using Appium to click through our Storybook and take screenshots on every story. We would ideally choose Detox, however Device Farm doesn't support Detox due to Detox not supporting real devices.

If this solution works, it will enable automated Visual Testing using

[2021-04-02 13:26] henrymoulton commented on #153
Actually just seen

https://github.com/storybookjs/react-native/blob/master/app/react-native/src/preview/components/StoryListView/index.tsx#L60

for the `StoryListView`

[2021-04-06 19:03] dannyhw commented on #153
@henrymoulton hey, does the id in the story list view solve it for you or do you think it would be good to have more acessibilityIDs? I would be happy to accept these changes if you would like to make a PR just let me know if you need any help or direction :)

[2021-04-06 19:04] henrymoulton commented on #153
Believe a few more a11yIds would help :)

I'll make the PR soon, thanks for replying!

[2021-04-13 21:42] mandajoan commented on #149
Getting this error when running on react native expo project (project is inside a NX monorepo for context. As the error is the same as reported here with other react-native projects, I think this is an issue with storybook vs nx).

Package Versions:
[code]
Followed setup instructions in this tutorial that has steps to upgrade to storybook v6: https://nx.dev/latest/react/storybook/overview

[2021-04-14 00:10] dannyhw commented on #149
@mandajoan there is currently no support for 6.0 with react native storybook so you'll need to downgrade otherwise I can't guarantee it will work. These two versions (5 and 6) are not intended to be compatible because 6.0 has breaking changes.

[2021-04-15 04:26] OkhaifoOikeh opened #287 "Unable to build storybook, "command not found""
**Describe the bug**
The `yarn build-storybook` command is not working in react native
**To Reproduce**
Steps to reproduce the behavior:
`yarn add @storybook/cli --dev`
`yarn sb init`
`"scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject",
    "storybook": "start-storybook -p 7007",

[2021-04-16 19:24] mandajoan commented on #149
ah thank you!

Also what we were missing in our webpack.config.js in the .storybook of the project to get past this error was:

[code]

[2021-04-19 13:38] henrymoulton opened #154 "Document how to get all Storybook Story IDs"
**Is your feature request related to a problem? Please describe.**

I'm looking into Visual Testing with React Native and want to be able to get all Storybook Story IDs from the Storybook.

From what I can understand there's a way of doing this on Web with `extract`: https://github.com/storybookjs/storybook/blob/master/lib/cli/src/extract.ts

However that requires building the storybook on web.

*

[2021-04-22 23:34] Yasin-Ali commented on #55
I did everything above and it is still not working :-/

[2021-04-23 08:34] assimovt opened #155 "Dynamically changing dark/light mode of the navigator"
Hello.

I've got a question regarding theming the storybook navigator. I've followed the example in this repository and configured the theme like this:

[code]

It works well, but I have to reload the simulator every time I change the appearance. So, how can I dynamically apply the theme of the storybook navigator (_not_ UI components, they're handled outside with my custom theme context), for ins

[2021-04-23 16:33] dannyhw commented on #55
@Yasin-Ali If you share more details I could help you get it working. What's the server command look like in your package.json and the getstorybookui arguments you are using.

[2021-04-26 13:36] LeSerrurier opened #156 "Infinite loading with Expo and React + Installation is not 100% automated"
### **Introduction**
Hello everyone !

I have an issue for which I would need your support.

At first, with Expo i had the same issue than [this one](https://github.com/storybookjs/react-native/issues/55) (React Native server stories list infinitely loading). Nothing has work for me. So i tried to bypass the problem.

Again with expo, i replaced the default export in App.tsx by `export {default} f

[2021-04-26 21:30] 4lun commented on #20
Posting in case I can help save someone a few hours of their time, it looks like this polyfill behaviour of Storybook breaks `promise.resolve` in [Native Module contexts](https://reactnative.dev/docs/native-modules-android#promises) too.

Example in a [native Android module](https://github.com/4lun/react-native-awesome-module/blob/eb033343f242cccfe604fcdee308227a751d2efe/android/src/main/java/com/

[2021-04-26 23:43] dannyhw commented on #20
@4lun thanks for providing information and examples.

I will try out your example and see what comes up. In my projects I don't have issues with promises so I'm sure there is a way around this.

[2021-04-27 20:31] dannyhw commented on #20
@4lun I've experimented a bit and the promise not returning only happens if you run the `getStorybookUI({})` function call from what I can tell.
I'm still investigating so I don't have all the details, nor can I offer a proper solution yet.

Heres some stuff that may or may not be useful 🤷 .
In some cases you can get around this by not calling this function in the top of your app.tsx and instead h

[2021-04-27 21:03] dannyhw commented on #20
@4lun So I actually ended up finding what I think is the cause of the problem.

If you open up
node_modules/@storybook/addons/dist/index.js

and comment out line 11 `//require("core-js/modules/es.promise");` like this then it starts working.

Again not an actual solution yet but from here I can try and figure out if there is a way around this.

I'm going to need help from someone on the storybook

[2021-04-28 20:46] 4lun commented on #20
Thanks @dannyhw, I've ended up doing something similar to your suggestion, wrapping up all references to Storybook and conditionally loading it via an env flag.

The native module I'm working on shouldn't ever be utilised in a storybook context so this works quite well for the time being.

[2021-04-30 07:04] costerik opened #157 "Empty Screen"
I created a new barebone project
  - `npx react-native init AppTest --template react-native-template-typescript@6.5`

Then I ran this command
  - `npx -p @storybook/cli sb init --type react_native`

 After that on my main `App.tsx` file I added this line
  - `export {default} from "./storybook";`

Finally, I run `npx react-native start` and then `npx react-native run-ios`
The app loads but the scr

[2021-05-01 15:47] dannyhw commented on #154
when you say you want story id's what specifically do you mean?

[2021-05-01 15:48] dannyhw commented on #155
@assimovt hey sorry for the slow reply, will have to check and get back to you.

[2021-05-01 15:52] dannyhw commented on #156
Hey I'm sorry you've had trouble with the documentation, I know that it is a bit lacking but I haven't gotten around to making all the improvements I would like to. I will take your feedback into consideration when working on it :).

To run storybook include the component that is given when you run getstorybookUI() into your app then run the app like a normal react native app

`yarn start` then `y

[2021-05-01 15:57] dannyhw commented on #157
with react native cli you need to add the component you want to render to the app registry

`AppRegistry.registerComponent(appName, () => App); `

normally you put `export {default} from "./storybook";` in the app.tsx and then in index use `import App from "./App";`

[2021-05-01 18:49] costerik commented on #157
I did it, and still, the issue persists :-(

[2021-05-01 20:06] dannyhw commented on #157
can you share more of your code otherwise its hard to say what the issue would be

[2021-05-02 12:20] ahendessi commented on #157
I Have encountered the same problem using both RN and Expo cli.

I have narrowed the problem down to `@storybook/react-native` imports. Importing this package causes the Expo Go or installed app on android emulator to stuck on splash screen or showing a blank screen and after a while the app will crash.

@dannyhw any idea on why it's happening?

FYI: This issue was not happening a week ago!!!

[2021-05-02 12:22] dannyhw commented on #157
Try setting inline imports to false in the metro config.

[2021-05-02 12:54] ahendessi commented on #157
I'm using `expo-yarn-workspaces` to generate metro config which has set **inlineRequires** to **false** by default.

[2021-05-03 02:18] shoes22 commented on #157
Hey guys, I am also experiencing this issue, ever since updating to Expo SDK 41 in my app. (Bare config). It is preventing my app from loading at all.

Like @ahendessi,  inlineRequires is already set to false in my metro config.

[2021-05-03 02:35] ahendessi commented on #157
We've tested it with Expo SDK 38, 39, and 40 as well. Both managed and bare setup faced the same issue. So I don't think it's an Expo related issue.

[2021-05-03 03:41] elisechant commented on #158
Any update on this @dannyhw ? the lack of Hooks support makes it _very_ hard to sensibly use 5.0

[2021-05-03 06:21] LeSerrurier commented on #156
Thanks for your reply !

Well, it's my fault, i should have highlighted it more in my message. I know and i can run storybook in the emulator :

But it is very not pratical, i want to launch it in the browser.

OK for the "Storybook for React Native tutorial", thanks for noticing me !

[2021-05-03 08:13] dannyhw commented on #158
@elisechant sorry I don't understand what you mean. Are you unable to use hooks? I don't think there should be anything stopping you.

[2021-05-03 08:17] dannyhw commented on #156
@LeSerrurier if you want to see them on the web then use react native web to open as a web app.

The server UI does not show any preview because that's not what it's intended for. It's purpose is to provide a way to remotely control multiple devices.

[2021-05-03 08:20] dannyhw commented on #157
Is there any error? Have you done any debugging to find what is happening? Can you share the code where you intialize storybook?

[2021-05-03 08:45] LeSerrurier commented on #156
But in your documentation it [said  ](https://storybook.js.org/docs/react/get-started/install):
![image](https://user-images.githubusercontent.com/65590507/116856022-a991a400-abfa-11eb-8afb-6f00e5321965.png)

So I understand it's possible to render Storybook with the server UI. Plus, in other issues, users reply like it was possible to render it with the server UI. Like [here](https://github.com/s

[2021-05-03 09:05] dannyhw commented on #156
Firstly the documentation you linked is for react storybook not for react native so it doesn't apply here.

Secondly I have 100% certainty that you cannot render it in the server UI because the code isn't there.
[All it does is render PreviewHelp which is the text you see on screen](https://github.com/storybookjs/react-native/blob/1fd61890534dee184b1aaffd169dd83211ef487a/app/react-native-server/sr

[2021-05-03 09:10] dannyhw commented on #157
@costerik I followed the steps in you provided in the issue description and was not able to produce the same issue. The storybook UI loads fine for me. Please provide an example repo which produces the issue.

[2021-05-03 09:12] dannyhw commented on #157
@ahendessi Nothing has changed with storybook since a week ago so you must have changed something on your side. If you can provide some steps to reproduce the issue I will happily try to assist. When I test it everything is working, so you will need to provide more information about your setup.

[2021-05-03 09:34] dannyhw commented on #157
I was actually able to find some issues when trying to use expo 41 however that is not the issue described in the initial description here so I would suggest making an issue for expo41 and moving expo related discussion there.

[2021-05-03 09:36] LeSerrurier commented on #156
1. Effectively, i think I got confused in my research ^^'

2. I went to read the issues and i misunderstand some things ^^''. I was thinking other people who used RN, used the server UI for render too, but no. Sorry

3. OK ! Thanks for yours replies !

[2021-05-03 10:00] dannyhw commented on #156
@LeSerrurier thats ok I understand that its hard to find the information currently and I hope I can improve it soon. If you need any more help let me know :).

For now I will close this issue since it seems to be resolved. If you want to re-open it for any reason let me know.

[2021-05-03 10:00] #156 closed, assigned to nobody

[2021-05-03 10:05] dannyhw opened #159 "In Expo 41 the app never loads due to promise not being fulfilled"
**Describe the bug**

Due to #20 the expo loading screen never goes away probably because it's waiting for a promise to resolve.

**To Reproduce**
Steps to reproduce the behavior:
1. expo init APPNAME
2. npx -p @storybook/cli sb init --type react_native
3. add `export {default} from "./storybook"` in app.tsx
4. app never loads

**Expected behavior**
App should load and promises should resolve corr

[2021-05-03 10:06] dannyhw commented on #157
@ahendessi @shoes22 please see #159 and continue discussion regarding expo there

[2021-05-03 10:19] bernhardoj commented on #157
I also experience this problem with my existing project using the react-native cli. Before, it was the problem with the inlineRequires. After setting it to false, it worked. But, a few days ago, I installed Chromatic and then removed it. Just today, I tried to run my app again and this problem occurs. I follow this solution and it solved for now.

[2021-05-03 11:47] shoes22 commented on #157
@dannyhw Yes, I can confirm on my side the issue is stemming from the Promise polyfill in @storybook/addons. Patching that file to remove the polyfill require does fix this as a workaround, but hopefully a more sustainable solution is figured out ASAP, as I imagine this problem is going to become more prevalent in the future, since some core react-native library packages are now relying on the pro

[2021-05-03 20:38] rodctech opened #160 "Storybook doesn't load when linkTo from '@storybook/addon-links' is imported"
Storybook doesn't load when  importing  { linkTo } from '@storybook/addon-links'

**To Reproduce**
Setup fresh storybook project,
with the default config. Couldn't load Storybook until this line on Welcome.stories.js was commented out

**Screenshots**

![image](https://user-images.githubusercontent.com/45049806/116930274-276aa500-ac25-11eb-8be8-02dbf1e3b935.png)

**System:**
Please paste the resul

[2021-05-04 00:52] elisechant commented on #158
@dannyhw yes unable to use hooks with 5.3 without interventions as described here https://github.com/storybookjs/storybook/issues/5721.

I use the native install option not react-native-web, and currently have to use this decorator in my index.js:

[code]

Which has down stream implications with re-rendering, since the `storiesOf` func returns anonymous function and can't remount correctly.

[2021-05-04 09:54] dannyhw commented on #158
@elisechant OK, I wasn't aware of that. However I'm not sure what the fix was for this. The CSF syntax actually uses the storiesof function under the hood so it wouldn't change a lot. The thing about storiesOf returning an anonymous function I'm not sure is the issue here because wouldn't the function in .add("", ()=>{}) be the more important one?

Either way version 6 for react native is ongoing

[2021-05-05 09:51] henrymoulton commented on #154
Every story has a StoryID, I'd like to be able to access them.

[2021-05-05 09:59] henrymoulton commented on #154
It looks like the Client API has the ability to do this

https://github.com/storybookjs/storybook/blob/v5.3.21/lib/client-api/src/story_store.test.ts#L137

[2021-05-05 10:03] henrymoulton opened #161 "initialSelection takes a storyId string not object"
**Describe the bug**

`initialSelection` actually takes a storyId string because `checkStory` takes a storyId string

https://github.com/storybookjs/react-native/blob/1fd61890534dee184b1aaffd169dd83211ef487a/app/react-native/src/preview/index.tsx#L187

[code]

[2021-05-05 10:08] henrymoulton commented on #161
Follow up questions:

1. What is the function that generates storyIds? It's clearly generated based off a Kind + Story but because Storybook is split across lots of small packages it's hard to follow.

I've written an initial guess:

[code]

2. This relates to my other question in https://github.com/storybookjs/react-native/issues/154, how can we access all storyIDs?

[2021-05-05 11:11] dannyhw commented on #154
so I was looking at the code and the id is created using the toId function in the csf package

[code]
see: node_modules/@storybook/csf/dist/index.js

or the source on github
https://github.com/ComponentDriven/csf/blob/next/src/index.ts

As to how you would get the id's as a user, I will check that for you and respond soon.

[2021-05-05 11:13] dannyhw commented on #161
it seems like it would make sense for the initial selection to take an object, it's strange that it doesn't.

If you would like to open a PR to fix this I'd happily accept it. Otherwise I will add this to my backlog and change it when I can.

Thanks for reporting this :)

[2021-05-06 19:05] dannyhw opened #162 "[6.0] Change the workspace to use hoisting"
Currently in the monorepo no-hoisting is being used in the examples and throughout the project. This is generally used to make react native work in mono repo, however it would be better to hoist dependencies to improve install time and reduce the size of the repo.

This could also fix issues with hooks in the repo.

[2021-05-06 19:09] dannyhw opened #163 "Fix sidebar on web ui - rework sidebar"
When using the ondevice-ui with react native web the side bar will take up 70% of the width of the screen and makes it pretty unpleasant to use a wide screen view of storybook.

The sidebar (storylist) should be reworked to work for both mobile and web.

[2021-05-06 19:13] dannyhw opened #164 "[6.0] Auto import stories"
Implement auto importing for stories for 6.0.

Currently there is a basic setup with a pre-script based on a similar idea as the react native storybook loader.

Some things were attempted with pre-val and using a custom transformer in metro however we encountered issues with caching and things of that nature.

We should investigate if there is another option or continue with the pre-script approac

[2021-05-11 18:47] dannyhw commented on #131
For more information please see the comments I made in this PR #135

[2021-05-11 19:43] dannyhw opened #166 "[6.0] update version in repo package.json files to 6.0.0-alpha.1"
Mostly self explanatory, the version number in the next-6.0 branch should be 6.0.x.x

[2021-05-11 19:45] dannyhw opened #167 "[6.0] update storybook dependencies to the latest stable versions."
in the next branch update the dependencies to the latest ones available.

[2021-05-11 19:48] dannyhw opened #168 "[6.0] update react native dependency to 0.64.1 and react to 17"
There might be some issues with other dependencies here.

Make sure that @storybook/api doesn't cause a clash with react versions.

- update react native version in example project to 0.64.1
- update all react dependencies in the project to 17
- update the resolutions field for react to 17

[2021-05-11 19:51] dannyhw opened #169 "[6.0] update dependencies for ondevice addons to 6.0"
the ondevice addons haven't had the storybook dependencies updated

- go to each addon in addons/ and update storybook dependencies such as @storybook/addons and @storybook/core-events

[2021-05-11 19:54] dannyhw opened #170 "[6.0] add react native web to the example app"
As part of the work by @oblador to remove no-hoisting we removed some of the example projects to slim down the project. This meant removing the expo example which had a web example.

We should add react-native-web to the example app and get something basic rendering.

There may be some changes needed in the project to make this work. Making this work with ondevice knobs will require #120 to be fix

[2021-05-11 20:09] dannyhw commented on #131
Tasks have been split into smaller parts that are tracked in the 6.0 project [here](https://github.com/storybookjs/react-native/projects/2)
#164 auto import stories
#166 update version of repo to 6.0
#167 update storybook dependencies
#168 update react native to 0.64.1 and react to 17
#169 update dependencies for ondevice addons
#170 add react-native-web example

[2021-05-11 20:12] dannyhw opened #171 "investigate/fix theming issues"
There are issues with the theming currently where custom values won't be passed down to addons. Additionally types for emotion were greatly improved in v11.

- update emotion to v11 or get rid of it
- verify if the issue #114 is resolved or not
- if updating emotion doesn't work consider whether a custom solution would be valuable.

[2021-05-11 20:32] dannyhw commented on #159
I've been talking with the storybook maintainers about a possible solution to this. Ideally there would be a modern build of storybook/addons available or atleast one without the es.promise polyfill.

Recently i.e11 support was separated out into a separate repo so this could make it possible to provide a solution without the promise polyfill since ie.11 is the only browser without support for pro

[2021-05-11 20:32] dannyhw commented on #157
I've been talking with the storybook maintainers about a possible solution to this. Ideally there would be a modern build of storybook/addons available or atleast one without the es.promise polyfill.

Recently i.e11 support was separated out into a separate repo so this could make it possible to provide a solution without the promise polyfill since ie.11 is the only browser without support for pro

[2021-05-12 11:53] dannyhw commented on #106
Partial support for CSF is now in the next-6.0 branch (not yet finished). Will continue this work after some cleanup in the repo.

[2021-05-12 14:40] #162 closed, assigned to oblador

[2021-05-17 11:03] dannyhw commented on #159
A [PR](https://github.com/storybookjs/storybook/pull/14954) was created on the main storybook repository with a fix for future version of storybook. This means that this issue will be resolved in 6.0 of react native storybook. The PR enables provides a modern version of the distributed files, in your project you would add the following config `resolverMainFields:['sbmodern', 'main']` and the story

[2021-05-17 11:06] dannyhw commented on #20
A [PR](https://github.com/storybookjs/storybook/pull/14954) was created on the main storybook repository with a fix for future version of storybook. This means that this issue will be resolved in 6.0 of react native storybook. The PR enables provides a modern version of the distributed files, in your project you would add the following config `resolverMainFields:['sbmodern', 'main']` and the story

[2021-05-20 21:04] #20 closed, assigned to Gongreg

[2021-05-20 21:04] #167 closed, assigned to dannyhw

[2021-05-20 21:04] #169 closed, assigned to nobody

[2021-05-20 22:10] #166 closed, assigned to dannyhw

[2021-05-24 10:08] henrymoulton commented on #152
@dannyhw thanks for the workaround.

Is this something that might be resolved in V6?

[2021-05-24 11:17] dannyhw commented on #152
@henrymoulton I hope so, however I'll have to do some debugging since I've not identified the cause yet.

[2021-05-25 09:53] henrymoulton commented on #152
Going to try and dig, I've got a version I just setup where Android works with a fresh setup

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/30093692/119478099-6e8d1700-bd47-11eb-8e80-471c8f181f85.png">

https://github.com/henrymoulton/storybook-hermes

Will branch off `main` and try enabling Hermes on iOS see if that causes a crash.

[2021-05-25 10:01] henrymoulton commented on #152
Yep that works...

https://github.com/henrymoulton/storybook-hermes/tree/ios-hermes-enabled

<img width="982" alt="image" src="https://user-images.githubusercontent.com/30093692/119479227-57025e00-bd48-11eb-8d2b-55876ca92ed3.png">

@apostopher I noticed that your repro uses TypeScript whereas mine uses vanilla JS... other than that couldn't spot differences

[2021-05-25 17:28] henrymoulton commented on #152
Lock diff: https://gist.github.com/henrymoulton/9edca423242ce5a03198296741f13452

[2021-05-25 18:16] dannyhw commented on #152
@henrymoulton I noticed a difference in the lock diff that that one has react native 0.64.1 and the other 0.64. Is it possible that there was a fix in 64.1?

___

edit: I checked the release notes and 64.1 just includes the fix for xcode 12.5

[2021-05-31 10:01] #106 closed, assigned to dannyhw

[2021-05-31 10:07] dannyhw opened #177 "[6.0] ondevice-controls"
Now that args and CSF are supported its time to add in controls support.

Controls will
- allow for changing props in real time similar to knobs
- detect prop types automatically
- utilise args to provide a simpler api than knobs

[2021-05-31 10:10] dannyhw opened #178 "[6.0] create react-native-web(server) prototype"
I have a vision of react-native-server giving way to a more complete web version of react native storybook.

The idea is to have a web storybook using reactjs storybook being independent of the ondevice UI. Then potentially with the use of addons allowing for the syncing of the current story etc similar to how the server works currently.

This would basically be the server but better and with a us

[2021-05-31 12:16] dannyhw commented on #131
CSF Support and ARGs are now complete with #175 being merged

[2021-06-01 05:48] hariszulfiqar054 commented on #58
This solution work for me on real android device

[2021-06-01 14:38] dannyhw commented on #168
this was done in #176

[2021-06-01 14:38] #168 closed, assigned to nobody

[2021-06-01 15:59] dannyhw opened #179 "[6.0] improve fast reload by refactoring to use function components"
Based on the react native documentation fast reload works best for function components and will use a full reload for class components. By converting to function components we might be able to improve the fast reload experience.

[2021-06-01 20:25] nickplee commented on #159
A workaround for Storybook 5.3 that worked for me, assuming you're ok with another dependency, was to add the following to my app's `index.js`:

[code]

[2021-06-01 20:26] nickplee commented on #20
https://github.com/storybookjs/react-native/issues/159#issuecomment-852422659

[2021-06-01 20:26] nickplee commented on #57
https://github.com/storybookjs/react-native/issues/159#issuecomment-852422659

[2021-06-04 05:12] TurtleWolfe commented on #107
Does that mean this is closed? I was searching the first issue tag..

[2021-06-05 21:21] dannyhw commented on #107
This prop will no longer be required in 6.0 the `@react-native-async-storage/async-storage` package will become a dependency instead of being passed as a param.

[2021-06-07 08:48] dannyhw opened #181 "refactor components to a lib folder (like the storybook repo)"
I think it would be cool to have the components together they can be re-usable. The addons panel for example would be worth re-using. This should make ondevice addons easier to develop.

in the storybook repo they have a folder like this

lib/components/src/addon-panel/

this is the package @storybook/components

we can do a similar thing for react native

I think there are other things that could

[2021-06-09 16:39] FrederickEngelhardt commented on #41
@dannyhw
Same issue. Any solutions discovered?

My hope was to use the device keyboard to demo some features. In order to continue development I had to disable the device keyboard and use hardware keyboard.

Pressing CMD+K will cause the same behavior as noted above.

<img width="349" alt="Screen Shot 2021-06-09 at 9 46 08 AM" src="https://user-images.githubusercontent.com/31741411/121395709-8e0b6

[2021-06-10 01:37] dannyhw commented on #41
I will take a look tomorrow and see what I can find.

[2021-06-14 22:23] defrex commented on #20
Since as yet there is no `@storybook/react-native@6`, I've found a more elegant workaround.

The below example lazy-loads Storybook. Convenient both to avoid polyfill downgrades as well as tree-shaking the code out of production builds.

[code]

[2021-06-15 07:39] JessieLiullkk opened #183 "Always show the welcome page. How to switch to other pages?"
**Describe the bug**
When l  clicked the sidebar, nothing will change.

**To Reproduce**
Steps to reproduce the behavior:
1. yarn storybook
2. Click on a menu to change page
3. nothing will change

**Expected behavior**
show the page which l clicked

**Screenshots**
![image](https://user-images.githubusercontent.com/37792083/122012193-7ba1a100-cdef-11eb-945f-a0e9c13f98bc.png)

**System:**
System:

[2021-06-15 16:54] dannyhw commented on #183
This is the server UI and doesn't have a preview, you must use the ondevice UI to see the stories. You can use the server to control the ondevice UI if you wish to.

[2021-06-16 06:08] JessieLiullkk commented on #183
I got it. Thx.

[2021-06-16 12:56] #183 closed, assigned to nobody

[2021-06-16 22:13] wolverineks opened #184 "gap at bottom of story list"
my guess is this is caused by `{ marginBottom: 40 }`
https://github.com/storybookjs/react-native/blob/3a199cce9cd8c4563683930247cc1777f02d4399/app/react-native/src/preview/components/StoryListView/StoryListView.tsx#L209

is the marginBottom necessary?

<img width="212" alt="Screen Shot 2021-06-16 at 15 12 36" src="https://user-images.githubusercontent.com/8462274/122301266-4a8ba400-ceb5-11eb-90f8-

[2021-06-17 12:02] dannyhw commented on #184
@wolverineks could you please provide information about your setup such as the storybook version, which OS and react native version

[2021-06-18 01:25] sammiepls commented on #185
Am facing this issue when using global decorators for React Native storybook. Seems to be okay when I add a decorator to each story individually though, only gets affected by hot reload when it's a global decorator.
On version 5.3.25.

[2021-06-20 10:52] dannyhw commented on #185
@sammiepls Thanks for reporting this, I'll keep it in mind. Likely a fix will be part of the 6.0 release I'll make sure to test this once I have an alpha ready.

[2021-06-21 00:08] wolverineks commented on #184
os: macos 11.2.3 big sur
react-native: 0.63.4
storybook: @storybook/react-native: 5.3.23

ive only verified this on android emulator, Pixel_3_XL_API_29

[2021-06-21 13:11] dannyhw commented on #184
@wolverineks ok thanks I'll test it soon and put a fix probably in 6.0 alpha coming soon-ish.

[2021-06-25 09:33] lauriharpf opened #186 "Examples cannot be run on Android & macOS on the next-6.0 branch"
**Describe the bug**
React Native Storybook examples cannot be run on Android & macOS with 3a199cce9cd8c4563683930247cc1777f02d4399

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository:

[code]

2. In another terminal window:

[code]
3. Metro reports an error and the application fails to start:

[code]

**Expected behavior**
The example app starts and examples can be used to

[2021-06-25 09:46] lauriharpf commented on #179
If this work helps get 6.0 out, I would be interested in giving it a go. Made https://github.com/storybookjs/react-native/pull/187 as an example to check understanding of the task & your interest in getting contributions for this.

https://github.com/storybookjs/react-native/issues/186 and my lack of familiarity with the codebase hinder the ability to spot regressions, so some QC would be necessar

[2021-06-25 10:42] dannyhw commented on #186
you might need to run yarn start manually inside the native example folder for the bundler to work properly. The example works for me but I always manually run the bundler.

[2021-06-25 11:10] lauriharpf commented on #186
Thank you! 🙏 👍

The example app starts fine by replacing step 2 in this report with

[code]

![Screen Shot 2021-06-25 at 13 56 09](https://user-images.githubusercontent.com/6605505/123414884-1d2dad00-d5bd-11eb-9377-d66fa2ac6e0e.png)

It also works on iOS. I'll make a PR to document this to https://github.com/storybookjs/react-native/blob/3a199cce9cd8c4563683930247cc1777f02d4399/CONTRIBUTING.md#nat

[2021-06-25 11:10] #186 closed, assigned to nobody

[2021-06-25 11:13] dannyhw commented on #186
@lauriharpf great, glad that it worked :).

Just one more note, you only need to run yarn install once in the root of the project due to the mono repo setup. So you shouldn't need to run `yarn` before running the example if you already ran the install in the root.

Running yarn start manually is required because of the hoisted node_modules. The react native package assumes that the bundler should

[2021-06-25 11:20] dannyhw commented on #179
@lauriharpf for sure you're welcome to take on this issue. Happy to have your contribution 🙂 .

I'll happily provide any assistance and test your changes as required. If you want to discuss anything we can do it here or you can find me in the react native channel of the storybook [discord](https://discord.gg/sMFvFsG).

[2021-06-25 22:36] grahamlyus commented on #159
Thanks for this. I just encountered the same issue in a bare react-native app using expo-font.

[2021-06-27 09:56] lauriharpf commented on #179
Thank you! 🙂

Had some spare time and felt like it, so continued this a bit in https://github.com/storybookjs/react-native/pull/189 . Also pushed some minor changes to https://github.com/storybookjs/react-native/pull/187. Joined the discord, let's sync up here or there as needed 👍 .

[2021-06-27 16:20] lauriharpf commented on #120
Opened https://github.com/storybookjs/react-native/pull/190 to try to tackle this. Note the list of known issues and limitations, any improvements & fixes are most welcome!

[2021-06-29 08:20] sanjeevyadavIT opened #194 "Unable to run example provided in the repo for StoryBook v6.0.0-alpha.0"
**Describe the bug**
I want to setup storybook v6.0.0-alpha.0 on my own code. So I tried running the example present in this repo, but when I'm trying to run, it is giving me an error

**To Reproduce**
1. Go to examples/native folder
2. do `yarn install` in terminal
3. Open Android Emulator
4. Run `yarn android` in terminal
5. Run `yarn start` in another terminal
6. See the error

**Expected behav

[2021-06-29 12:54] dannyhw commented on #194
@sanjeevyadavIT hey thanks for raising this however it does seem like you haven't ran the `yarn bootstrap` command in the root of the project. Either run bootstrap or go to the app/react-native folder and run `yarn prepare` and it should run fine.

[2021-06-29 12:55] dannyhw commented on #194
also please note that 6.0 is not even remotely ready to use on your own projects 😅

[2021-06-29 17:36] sanjeevyadavIT commented on #194
@dannyhw Thanks, running `yarn bootstrap` on main repo worked, and thanks for pointing it out

I have one question, sorry if it sounds silly

I have installed storybook v5 in react-native, and all the dependency are in `devDependency` section in package.json as it will be, my question is, does adding storybook, increase the bundle size in production build???

I am talking specifically all the stor

[2021-06-29 17:36] #194 closed, assigned to nobody

[2021-06-29 18:37] dannyhw commented on #194
it depends, it shouldn't increase bundle size if you don't import those files in the production build, however I personally haven't done testing to confirm that. I recommend doing some tests with your build.

[2021-07-03 17:00] soullivaneuh opened #198 "Errors and warning on a fresh startup"
**Describe the bug**

After a fresh install of storybook on a fresh new expo typescript app, I have the following errors and warning app loading:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `expo init -t expo-template-blank-typescript`
2. Go to the created project
3. Run `npx -p @storybook/cli sb init --type react_native`
4. Replace the default `App.tsx` code by the following

[2021-07-04 02:01] dannyhw commented on #198
Please can you provide information about your system

[2021-07-06 08:40] pierpo commented on #57
I just faced the same issue. It seems critical, since it happened to _all_ my colleagues that were using storybook on RN 0.64. Most of them simply removed the library.

It broke in many different ways, and it lead to obscure bugs that are very hard to investigate.

Thanks for the workarounds! But the hardest part is finding this issue 😞

Is there any plan to solve this?

[2021-07-06 09:10] anhdn commented on #55
<img width="912" alt="note" src="https://user-images.githubusercontent.com/864385/124574202-71197b00-de74-11eb-95e3-bd55d6909b79.png">
I read it on this repo document. Maybe we can not run storybook on web independently. We have to run web and simulator at the same time.

[2021-07-06 09:55] dannyhw commented on #55
@anhdn

Yes the storybook server is not a web storybook for react native it's just a server for controlling the device.

[2021-07-06 09:57] dannyhw commented on #57
@pierpo

There won't be a fix in 5.3 because it's not possible without the 6.0 version of storybook dependencies. The fix is already in the 6.0 alpha that is in progress however the first alpha release has not been done yet. The initial alpha release will be done once the controls PR is completed.

[2021-07-06 10:31] pierpo commented on #57
Amazing @dannyhw! Thank you 😊

[2021-07-06 13:43] pierpo commented on #57
If someone encounters the same issue, the following changes together solved it:

- upgrade `@storybook/react-native` to `6.0.0-alpha.0`
- in `metro.config.js`, set the `inlineRequires` to `false`

(only upgrading wasn't enough, disabling inline requires was necessary as well)

[2021-07-06 17:58] dannyhw commented on #57
@pierpo the 6.0.0-alpha is a very old build of the alpha (over a year) I don't recommend using it.

[2021-07-07 08:38] pierpo commented on #57
Oh! That's the only alpha build I found, I thought it was okay.

![image](https://user-images.githubusercontent.com/6313316/124727827-5b0cc880-df0f-11eb-9bc2-76c9d7c22521.png)

Any other recommendation besides waiting? From our perspective, an unstable storybook build where our promises work is still better than broken promises or no storybook at all 😅

[2021-07-07 11:40] dannyhw commented on #57
@pierpo there might be some solutions here #20

You can try making a patch with this change

If you open up
node_modules/@storybook/addons/dist/index.js

and comment out line 11 `//require("core-js/modules/es.promise");`

[2021-07-08 17:42] TurtleWolfe commented on #158
@dannyhw
I think you were ahead of me on this one. I'm not sure if I should be trying to add a drawer navigator, what you mention about putting it in the stack navigator sounds promising.. do you mind elaborating on that?

[2021-07-11 12:10] dannyhw commented on #158
@TurtleWolfe in react navigation you can nest navigators. For example you could have the following setup
[code]

This way you can navigate to storybook from one of your app screens and there would be no tabs at the bottom of the screen when in the storybook screen.

You would probably want to disable the stack navigator header that comes by default.

[2021-07-11 12:22] dannyhw commented on #179
This work was completed by @lauriharpf 🙏 . Closing this issue.

[2021-07-11 12:22] #179 closed, assigned to nobody

[2021-07-11 12:23] dannyhw opened #199 "[6.0] Add remaining control types from knobs to ondevice controls"
In #182 the core of ondevice controls is added.

This piece of work is to re add the remaining controls.

The remaining controls to re-add are

ArrayType
DateType
ButtonType
RadioType

[2021-07-11 12:35] dannyhw commented on #164
An initial implementation is included in #182 including some other features of the new config style.

[2021-07-11 12:38] dannyhw commented on #65
in #182 a large part of this work is already completed for the [first 6.0 alpha milestone](https://github.com/storybookjs/react-native/milestone/1)

[2021-07-11 12:41] dannyhw opened #200 "[6.0] reintroduce all ondevice addons into example and verify functionality with 6.0"
In #182 some of this work was completed however backgrounds and actions havent been looked at yet.

We should re-add all addons to the example and include example usage.

[2021-07-11 12:45] dannyhw opened #201 "Add unit tests to app/react-native"
In order to improve the dev experience tests should be added where possible.

[2021-07-11 12:48] dannyhw opened #202 "[6.5] v6.5 readme and contributing"
As part of the 6.0 alpha a lot has changed in the setup and so new documentation is needed for both contributors and users.

- contributing
- migration guide
- manual setup guide
- cli setup (getting started guide)

[2021-07-11 12:50] dannyhw opened #203 "[Spike] investigate the possibility of refactoring Preview to be a normal component"
This would enable things like changing the theme during runtime without a reload since everything would be props.

This also might might fast reload work better.

The idea of this task is to investigate if its possible and if so implement it or raise other tasks to enable its development.

[2021-07-11 12:52] dannyhw opened #204 "[6.0] refactor ondevice addons to use typescript"
All code in the repository should now use typescript where possible. With a preference to building with typescript rather than babel.

This way it will be easier to provide proper types to users.

Some of this work was done in #182.

[2021-07-11 12:54] dannyhw opened #205 "[6.0] allow for organising stories by category in Story-list"
In the web version on storybook it is easy to organise stories by type and we should attempt to implement this here

[2021-07-12 07:33] TuanKhoi273 opened #208 "How I deploy Storybook to web with UI like React Web, Left Panel replace Bottom tab."
**Describe the bug**
I build some component in React native Storybook and build to web with Netlify, but UI Web so difficult to see, it has a bottom tab, I want Left panel menu to Easy to change tab like some web Example of StoryBook.

**Screenshots**
A web I deployed.
<img width="1439" alt="Screen Shot 2021-07-12 at 14 30 52" src="https://user-images.githubusercontent.com/27020077/125248108-e1fdd

[2021-07-12 11:23] dannyhw commented on #208
@TuanKhoi273 Hey, currently the ui is built more for a device. There will be improvements to the UI for web coming in the future, currently planned for the alpha 3 milestone of 6.0 see #163.

One option is that you could use a web storybook with the react native components and add a config change to the webpack that applies the react-native-web transforms.

[2021-07-12 19:34] #65 closed, assigned to nobody

[2021-07-12 19:34] #164 closed, assigned to nobody

[2021-07-12 19:34] #177 closed, assigned to dannyhw

[2021-07-12 20:46] dannyhw opened #211 "[6.0] After opening the keyboard the android UI shrinks"
This behaves in a strange way for me on the Android Emulator, can you reproduce it? Seems to work fine on the iOS emulator, can't reproduce the issue there.

1. Open the story Navigator.
2. Select the "Basic" story.
3. Open "Addons -> Controls"
4. Click on the "first" field so that the keyboard comes up.
5. Click back to "Navigator"

## What happens
The story list in the navigator gets truncated a

[2021-07-12 20:48] lauriharpf commented on #211
@dannyhw , I could start working on this tomorrow :+1:

[2021-07-12 20:54] dannyhw opened #212 "[6.0] Remove FunctionComponent type"
As a follow up on #182

_Originally posted by @lauriharpf in https://github.com/storybookjs/react-native/pull/182#discussion_r667507872_

We might want to not use `FunctionComponent` or `FC`, as the React core team seems to lean on the side of "don't use it": https://github.com/facebook/create-react-app/pull/8177

We could tackle this by running https://github.com/gndelia/codemod-replace-react-fc-

[2021-07-12 21:04] dannyhw opened #213 "Rework scripts in the mono repo and update tooling"
We need to take a look at the scripting for various things in the repository to make sure it all works considering the changes that have been made for 6.0.

These changes are things like moving to typescript for all packages and some of the changes that were included in #182. In that PR some changes were made to the way ondevice controls and @storybook/react-native are compiled and those packages

[2021-07-12 21:13] dannyhw opened #214 "[6.0] ondevice controls remaining work"
in #182 an intial iteration of controls was created, this issue serves to document the remaining work and track the progress of that work.

~~The remaining controls to re-add are~~
~~- ArrayType~~
~~- DateType~~
~~- ButtonType~~
~~- RadioType~~
~~see #199~~

After those are done I'm thinking to release the first real v6 alpha, I expect there might be a lot of issues with this alpha but it would he

[2021-07-12 21:22] dannyhw commented on #131
The first basic iteration of ondevice controls was added with #182 along with more of the declarative config features.
The first alpha of 6.0 will be created once the issues in the first milestone are completed https://github.com/storybookjs/react-native/milestone/1

[2021-07-12 21:27] dannyhw opened #215 "[6.0] Validate whether groups should be added to controls"
In ondevice-knobs it was possible to group knobs together based on a group id. Since the knobs code was mostly re-used for controls it would be relatively easy to add this feature back in for controls. The idea with this issue is to figure out if that makes sense and validate if the web storybook has groups for controls.

Based on this then either implement the groups feature or remove all referen

[2021-07-12 21:30] dannyhw commented on #211
When working on this consider just checking if the issue #41 still exists and more broadly if the changes will affect other text/number inputs that are in the preview.

[2021-07-12 21:39] dannyhw opened #216 "[6.0] Add a guide for using the 6.0 alpha"
After releasing the first alpha we should have at least a simple guide for using the 6.0 alpha so that it can be more easily accessible. There should be a link to the guide on the main readme (near the top).

The guide should cover at least briefly:

- setting up a fresh project
- changes necessary for an existing project
- running the example app

[2021-07-13 07:39] TuanKhoi273 commented on #208
Thank you.

[2021-07-13 14:13] pierpo commented on #57
Indeed, it works better. It turns out I still had issues... on iOS 😱  (I thought this was Android specific...)

To sum up:

If someone encounters the same issue, the following changes together solved it.
Using the following versions:

[code]

Then:
- in metro.config.js, I set the `inlineRequires` to `false`
- I used the `patch-package` to remove the `es.promises` import in `node_modules/@storybook

[2021-07-13 14:48] Patil2099 commented on #212
I would love to work on this

[2021-07-13 15:30] dannyhw commented on #57
@pierpo glad that you're able to get it working 🙂

[2021-07-13 16:19] lauriharpf commented on #41
Did some testing, but couldn't reproduce this 🤔 .

## Next-6.0 branch (commit 69c176a5f3af3b52bfcc12745c9daad77432d4ba)
Couldn't reproduce the issue here with controls. At approx. 32 seconds pressed CMD+K to disable the device keyboard for a while, then re-enabled it with CMD+K at approx. 37 seconds.

https://user-images.githubusercontent.com/6605505/125478858-1f715cc4-c1aa-42dd-bf77-d358c7910a81.

[2021-07-13 18:01] #211 closed, assigned to lauriharpf

[2021-07-13 18:23] #212 closed, assigned to Patil2099

[2021-07-13 19:05] dannyhw opened #219 "[6.0] When editing a story the app will always fully reload"
**Describe the bug**

When editing a story fast reload is not working correctly.

This section of code was removed from the loadCsf file and might be related (line 251)

[code]

The dispose part is not need however perhaps maintaining the hot.accept part would be useful... this needs some investigation probably.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. run example app
2. edit

[2021-07-13 19:07] lauriharpf commented on #219
I could take a stab at this! :)

[2021-07-13 20:03] dannyhw commented on #199
Working on ArrayType

[2021-07-13 21:18] dannyhw commented on #199
working on the DateType

[2021-07-14 15:03] Patil2099 commented on #184
I would love to work on this @dannyhw

[2021-07-14 17:11] dannyhw commented on #184
@Patil2099 would be very happy to have your contribution 🙇 . Let me know if you need any help 👍

[2021-07-15 10:34] dannyhw commented on #199
working on button/radio

[2021-07-15 15:05] dannyhw commented on #219
I've moved this to alpha2 milestone. I think that we can go ahead without fast reload for now considering that the full reload now takes you back to the previous story. This seems like a difficult issue to solve so I'd rather not delay on the first alpha due to this.

[2021-07-15 16:11] Patil2099 commented on #184
How to run this example locally I just want to be sure that my changes fix the issue @dannyhw.

[2021-07-15 16:23] dannyhw commented on #184
@Patil2099

first run
[code]

If for ios run
[code]

Then run the bundler manually in examples/native like `yarn start` then in another terminal either `yarn ios` or `yarn android`

if you want to run a watcher for your changes in one of the packages like app/react-native then run `yarn dev` in the root.

[2021-07-15 17:25] cdedreuille opened #227 "Vulnerabilities found in dependencies"
**Describe the bug**
I installed the latest version of storybook. It works great locally but I couldn't push it to production as there are some vulnerabilities found in the dependencies on `@storybook/react-native-server`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install storybook on a react native app
2. yarn audit
3. See error

**Expected behavior**
No errors when testing with `yarn

[2021-07-15 21:18] dannyhw commented on #227
Thanks for reporting this, I'll try to make sure we keep the audit clean in future versions 🙏 .

In terms of updating the old versions of packages from 5.3 it depends on if I can find time to do that.

[2021-07-16 19:04] #184 closed, assigned to Patil2099

[2021-07-17 08:29] #199 closed, assigned to dannyhw

[2021-07-18 15:19] #200 closed, assigned to nobody

[2021-07-18 15:22] dannyhw commented on #204
This has been completed since #182

[2021-07-18 15:22] #204 closed, assigned to nobody

[2021-07-18 15:25] dannyhw opened #235 "[6.0] Refactor addons to use function components"
It would be nice to continue the work that was done on app/react-native to improve fast reload by making all components function components with hooks etc.

[2021-07-18 15:28] dannyhw opened #236 "Compare functionality of ondevice-controls to the web version"
We should compare the functionality that we have currently and raise issues for any disparity between the two.

Ideally we would have all the same functionality, or at least the majority.

[2021-07-18 17:36] dannyhw opened #237 "[6.0] util and util-deprecate are not listed as dependencies and break unless installed"
**Describe the bug**

When setting up with the 6.0 alpha util and util-deprecate must be installed or the app breaks. Probably they need to be included in the @storybook/react-native package.json dependencies.

**To Reproduce**
Steps to reproduce the behavior:

Follow the steps at https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md without installing util and util deprecate and y

[2021-07-18 17:41] dannyhw opened #238 "[6.0] See if storybook.requires and Storybook.tsx can be moved to .storybook"
**Is your feature request related to a problem? Please describe.**

Currently by adding storybook to project you add multiple files to the root of the project, it would be nice if we could reduce that to the minimum required.

**Describe the solution you'd like**

We should see if we can more storybook.requires.js and Storybook.tsx to .storybook.
Also would be interesting if you could provide a pa

[2021-07-18 17:43] dannyhw commented on #131
Now that all the issues in the first milestone have been completed I have released the first alpha.

I've also created an initial guide on how you can get setup with a fresh project. Migration guide to come in the future.

Find the guide here:
https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md

[2021-07-18 17:44] dannyhw commented on #20
This issue should be resolved for good in 6.0 and I have some good news if you're waiting for that.

Now that all the issues in the first milestone have been completed I have released the first alpha.

I've also created an initial guide on how you can get setup with a fresh project. Migration guide to come in the future.

Find the guide here:
https://github.com/storybookjs/react-native/blob/next-6

[2021-07-18 20:13] leotm opened #240 "2 warnings in new example project, require cycle and duplicate decorator"
**Description**

2 warnings in new project

**To Reproduce**

1. Fork/clone this repo
2. `yarn`
3. `yarn bootstrap`
4. `cd examples/native`
5. `cd ios && pod install && cd ..`
6. (Revert `project.pbxproj` to run on M1)
7. `yarn start --reset-cache`
8. `yarn ios`
9. 2 warnings present
10. Remove cause (details below)
11. `yarn start --reset-cache`
12. `yarn ios`

_Or_

1. Clone https://github.com/l

[2021-07-18 21:56] dannyhw commented on #240
@leotm

Thanks for this detailed issue I appreciate it 🙏 .
Actually I had noticed the dependency loop warnings when setting up a project to test the new alpha. I've not had a chance to look into it yet but now that we have this issue I'll plan it into the alpha2 milestone and hopefully we can have a fix soon.

With the duplicate decorator that sounds like it's probably related to fast reload, not

[2021-07-18 22:12] dannyhw opened #241 "[6.0] Provide a quick guide for having storybook alongside your app"
**Is your feature request related to a problem? Please describe.**

I often am asked how can you run storybook along side your existing app. Usually the answer is that it's the same as any component so you can do it how you would any other component. However I think that a simple guide could useful for many people and be linked to when these questions come up.

There are a few methods of creating

[2021-07-19 10:26] pierpo commented on #57
I don't get it. I still have issues with promises on iOS, despite the fix above.

I even tried the new 6.0 alpha... But I still get the issue.

I just did something that worked, but it's probably not a good idea: I did a patch that deleted the content of all `es.promise.*` files in `core-js`. At least I'm sure that _no one_ will import the polyfill.

Any idea on why this keeps happening?

[2021-07-19 12:05] dannyhw commented on #57
@pierpo in the new alpha you need to use `resolverMainFields: ['sbmodern', 'main']` in your metro config to get the modern build of storybook packages. Many of the packages have this polyfill and others that cause problems, in the new alpha it's fixed and I've added an example in the example project specifically to verify this bug is fixed.

To test the new alpha check this guide:
https://github.c

[2021-07-19 12:07] pierpo commented on #57
Amazing. I'll try this out.

Thank you for your commitment to this 😊

[2021-07-22 15:10] dannyhw opened #242 "[6.0] an action appears in the controls tab as an invalid control type"
**Describe the bug**

When I specify the argType is an action then when navigating to the controls tab it shows an invalid type for the control.

**To Reproduce**

Steps to reproduce the behavior:
1. In example app go to the action example story
2. open addons tab and navigate to controls tab

**Expected behavior**

An action shouldn't appear as a control since it's not something that you adjust.

[2021-07-23 18:27] pvinis opened #243 "`Can't find variable: document` [v6]"
**Describe the bug**
A clear and concise description of what the bug is.

I am trying to use storybook v6 with react native + server, and I can't.

I have the deps:
[code]

then I have the scripts:
[code]

At this point, I
- `yarn storybook-server` in one terminal
- `yarn start-storybook` in another terminal

The server terminal gives me
[code]

and it opens my browser, and everything is "loading"

[2021-07-24 02:49] dannyhw commented on #243
Hey apologies for not making it clear in the release notes, currently the server is not included in this alpha. Additionally main.js in this case is only implemented for ondevice addons.

I'm not sure yet how the server will fit in with 6.0, but I appreciate all feedback regarding that.

[2021-07-26 13:01] dannyhw commented on #170
Try https://aureliomerenda.medium.com/create-a-native-web-app-with-react-native-web-419acac86b82

If that doesn't work either change the example project to an expo one or you can try doing a more involved setup with custom webpack config.

Here is a guide with more custom webpack stuff that might be useful also (not tested this)
https://levelup.gitconnected.com/react-native-typescript-and-react-na

[2021-07-27 20:58] #237 closed, assigned to lauriharpf

[2021-07-28 16:05] csauvage commented on #58
Any solution on iOS, I'm still having this issue :(

[2021-07-28 17:30] dannyhw commented on #58
@csauvage this issue is a duplicate, please check #55

The issue is not related to android or ios really since the server is separate. I've never seen a case of this that wasn't fixed by setting the host and ip correctly. So if you check my comments on #55 or in the comment above by hariszulfiqar054 then it should be fixable. Also make sure that storybook is open on the device and bear in mind tha

[2021-07-28 17:38] #242 closed, assigned to lauriharpf

[2021-07-28 20:34] lauriharpf opened #247 "[6.0] 6.0.1-alpha.1 does not work with Expo"
**Describe the bug**
Attempting to follow the [6.0 alpha test instructions](https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md) with Expo causes an error:

[code]

**To Reproduce**
Do these steps (slightly modified from the [script version of the 6.0 alpha test instructions](https://gist.github.com/dannyhw/9b84973dcc6ff4fa2e86e32d571d294e)).

[code]

This causes the error regard

[2021-07-28 21:18] dannyhw commented on #247
Personally I'd like to avoid anything lower than es6, there have been many issues caused by corejs polyfills (#20) and I think that es6 is already supported by the majority of devices at this point. Also I think this will only effect react-native on web and I don't really think its important to support internet explorer since it's on the way out.

[2021-07-28 21:20] dannyhw commented on #247
Does the ios/android app still work? From the log it looks like you're using the web version.

[2021-07-30 10:31] lauriharpf commented on #247
Both `yarn ios` and `yarn android` fail, but the error is different - it is about a missing module:

[code]

![Screen Shot 2021-07-30 at 12 59 12](https://user-images.githubusercontent.com/6605505/127636926-3c5a9091-0cff-4366-899f-ccd99c2d7dc7.png)

After finding an informative Stackoverflow thread on this (https://stackoverflow.com/questions/52697108/unable-to-resolve-module-crypto-in-reactnative

[2021-07-30 10:37] lauriharpf commented on #247
Thanks, wasn't aware that dropping the target would cause issues. Got the original error message when attempting to run `yarn web` that launched in a Brave browser window.

[2021-07-30 11:44] dannyhw commented on #247
React native crypto? Is this a bitcoin miner or what? 😂

I guess that crypto is being used as a random number generator for uuid? Weird that uuid is included as part of expo though. From that same stackoverflow link someone suggested crypto-js so maybe that would work? Looks like a polyfill for the nodejs crypto module.

I think I'll install this locally as well and investigate a bit.

[2021-07-30 12:26] lauriharpf commented on #247
My thoughts as well 😂

Yeah. If you install this locally, then the problematic file `node_modules/uuid/lib/rng.js` looks like this:

[code]

Adding `crypto-js` might not be enough due to the `require('crypto')`, but let's see. This might also be an issue related to the  Expo & RN versions I happened to get, to the Node version or something else entirely. For reference, here are the Expo and React

[2021-07-31 14:03] dannyhw commented on #247
I saw someone comment somewhere that after updating npm and node it got resolved. Maybe it doesn't apply here but could be worth trying. What version of node are you using?

Could also try expo-crypto
https://docs.expo.dev/versions/latest/sdk/crypto/

[2021-07-31 18:30] dannyhw commented on #247
maybe using `expo install` instead of yarn install would make a difference?
__
nevermind I tried it and it didn't work.

Check this out though, seems to be a common issue.
https://github.com/uuidjs/uuid/issues/375#issuecomment-703272379

__

Initially I was looking into this thinking that maybe it's an expo bug or something because there is no reference to crypto or uuid in the project. However I

[2021-08-01 19:53] mashaalmemon commented on #38
I just started using storybook and noticed us react-native folks are still on 5.3 whereas the rest of the storybook ecosystem is on 6.3!

For anyone still experiencing this error on 5.3 with react native, looking at the error experienced closer it says:

_Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `isPropagationStopped` on a

[2021-08-02 08:06] RitikaGupta8734 commented on #55
Following steps will work in case you are able to load stories on your emulator and control them via on-device navigator, preview and addons and just `want to add the server control along with on device one`.
I faced this problem and @dannyhw helped me.

Advantages:
1. Storybook server is used to control the component visible on the device via a web ui.
2. It is useful to control multiple devices

[2021-08-02 15:33] tsepen commented on #158
<img width="428" alt="Снимок экрана 2021-08-02 в 18 29 58" src="https://user-images.githubusercontent.com/26823179/127886504-468d82bc-88e5-4aca-b8d4-96219e10e69b.png">

How to fix?
`"@storybook/react-native": "^6.0.1-alpha.1",
    "@storybook/react-native-server": "^6.0.0-alpha.0",`

[2021-08-02 17:39] dannyhw commented on #158
@tsepen

There is no @storybook/react-native-server implemented for 6.0 yet, this version you installed is a very old version before I even started work on v6.

Currently you can't use the server with this version of the alpha (6.0.1-alpha.1). I'm still deciding what to do with the server for v6.

Did you follow the guide for using 6.0?
https://github.com/storybookjs/react-native/blob/next-6.0/v6R

[2021-08-06 19:31] mdobroggg commented on #57
@dannyhw When I use `resolverMainFields: ['sbmodern', 'main'],` in my metro config it breaks node-base imports like http and https

[code]

[2021-08-06 20:06] dannyhw commented on #57
Are you using expo? You can try extending the default main fields, something like
`: ['sbmodern', ...defaults.resolver.resolverMainFields]`

[2021-08-08 12:47] #235 closed, assigned to nobody

[2021-08-10 19:00] lauriharpf commented on #247
@dannyhw, troubleshooted this a bit today. This seems to be the part that breaks `yarn ios` and `yarn android` on Expo:

[code]

If I omit that and only do this:

[code]

then both `yarn ios` and `yarn android` work. `yarn web` still fails for me with

[code]

but I'm unsure how important that is. There's a visual issue on Android: the app paints outside the safe area (see screenshots below). This

[2021-08-11 18:57] mmoio commented on #20
Following the approach of @defrex [comment](https://github.com/storybookjs/react-native/issues/20#issuecomment-861033581) i've been able to get it to work with react lazy and suspense:

StorybookScreen.tsx
[code]
App.tsx
[code]

[2021-08-11 20:19] lauriharpf commented on #247
We discussed the need for `metro.config.js` with @dannyhw. Seems that omitting it (as I suggested above) would cause issues with promises, see https://github.com/storybookjs/react-native/issues/57 .

After some experimenting and reading Expo's [customizing Metro docs](https://docs.expo.dev/guides/customizing-metro/) , this looks like a promising Expo version of the `metro.config.js`:

[code]

So,

[2021-08-15 15:51] lauriharpf opened #253 "[6.0] Controls tab display looks broken when story has no controls"
**Describe the bug**
The message displayed in the Controls tab when story has no controls configured has some issues:

1. The text layout makes the view look "broken", as the two sentences are joined together  ("controlsLearn how"...)
1. The second sentence ("Learn how to add controls") is a link that opens the browser, but there's no visual hint - the text looks identical to the one that is not a

[2021-08-15 17:20] #253 closed, assigned to lauriharpf

[2021-08-15 17:24] dannyhw commented on #247
This got auto closed by merging. @lauriharpf Do you think this should be marked as resolved or are there still more things to resolve?

[2021-08-15 18:28] lauriharpf commented on #247
@dannyhw, good observation! We could still try to investigate and fix at least the hooks problem mentioned in https://github.com/storybookjs/react-native/issues/247#issuecomment-897124231 within the scope of this, as that seems like a pretty nasty one.

[2021-08-17 02:05] jd20 opened #255 "[6.0] resolverMainFields breaks uuid library / crypto polyfill"
**Describe the bug**
Per #174, it's necessary to set `resolverMainFields: ['sbmodern', 'main']` to get SB 6.0 working with React Native. However, this seems to break projects that depend on `uuid` (probably due to the way `crypto`  module is polyfilled in the `index.js`, see https://github.com/uuidjs/uuid#react-native--expo).

Removing the `resolverMainFields` will fix the `uuid` error on app star

[2021-08-18 15:03] #147 closed, assigned to nobody

[2021-08-18 18:20] dannyhw commented on #255
are you using expo?

can you try changing your resolverMainFields to extend the existing metro config instead of overwriting it?

it would be something like this, depends what your setup is though.
`resolverMainFields: ["sbmodern" , ...default.resolver.resolverMainFields]`

[2021-08-18 19:58] jd20 commented on #255
Yes, that works! We are not using Expo. Extending the default config was a bit complicated, here's what I did below, but a much easier fix might be to just set `resolverMainFields: ["sbmodern" , "browser", "main"]`.

[code]

Would you like me to submit a PR to update the 6.0 instructions, with either of these approaches?

[2021-08-18 22:10] dannyhw commented on #255
@jd20 great news! Yes please, It would be awesome If you could open a PR. Go with the solution you would suggest then we can discuss further in the PR, how does that sound?

[2021-08-19 00:18] jd20 commented on #255
Created #256 .

[2021-08-23 04:08] cyrfer commented on #247
I bumped into this following the v6 README as well.

I am hoping to target `web`. I'll give the `ios` and `android` targets a try later.

[2021-08-23 17:59] leotm commented on #257
jus curious how to fix on preview screen on 5.3

[code]

https://user-images.githubusercontent.com/1881059/130494019-136510d3-0f8f-4c11-a738-822a43f59d53.mp4

the rest work well (besides need to switch tab to update)

https://user-images.githubusercontent.com/1881059/130494260-24bf24d4-c51a-484c-9248-b96a3cedbf82.mp4

(repro [repo](https://github.com/leotm/react-native-template-typescript))

[2021-08-24 01:04] #257 closed, assigned to nobody

[2021-08-24 10:24] dannyhw commented on #257
@leotm the issue you are commenting on is a very old one, not sure it would be the same issue. I appreciate you providing a repro though that will help with discovering the problem.

I'll take a look when I can, however I'll probably open it as a new issue.

[2021-08-26 16:50] wahyunurrosyid commented on #253
mantap

[2021-08-26 16:58] dannyhw commented on #253
@wahyunurrosyid please don't leave comments like this that provide no value, I look through all issue comments so this just wastes time.

[2021-08-31 18:02] DohertyC12 opened #260 "× Unhandled Rejection (Error): Cannot load null or undefined font source: { "percolate": undefined }. Expected asset of type `FontSource` for fontFamily of name: "percolate""
**Unhandled Rejection (Error): Cannot load null or undefined font source: { "percolate": undefined }. Expected asset of type `FontSource` for fontFamily of name: "percolate"**

Does anyone have a working repo of the Storybook for RN?

**To Reproduce**
1. Follow Storybook for RN tutorial
2. https://storybook.js.org/tutorials/intro-to-storybook/react-native/en/get-started/
3. Links were out of date

[2021-09-01 14:09] dannyhw commented on #260
This seems to be related to the tutorial and not to the storybook code, please raise this issue on the learn storybook repo instead.

https://github.com/chromaui/learnstorybook.com

If you feel that this issue should be re-opened let me know.

[2021-09-01 14:09] #260 closed, assigned to nobody

[2021-09-01 20:53] dannyhw commented on #255
This was fixed by merging #256

[2021-09-01 20:53] #255 closed, assigned to nobody

[2021-09-06 23:10] trajano commented on #131
Can you make the list a checklist style

[ ] e.g.
[x] so it looks nicer.

Also can you add the following to the list?
[ ] migration guide

[2021-09-06 23:37] dannyhw commented on #131
Sure if that's useful I can update it like that 👍

[2021-09-07 16:49] abhishek-netizen commented on #55
please refer above post by @RitikaGupta8734 .  its working for me

[2021-09-09 20:53] #238 closed, assigned to lauriharpf

[2021-09-12 19:44] dannyhw commented on #247
should be fixed in 6.0.1-alpha.3 which was released today

[2021-09-12 19:44] #247 closed, assigned to lauriharpf

[2021-09-13 11:12] dannyhw opened #265 "Top margin not working on some android devices on expo (pixel 4a)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run the expo script from the v6readme
2. setup pixel 4a emulator
2. run `yarn android`
3. preview is partly covered by the notch

**Expected behavior**

Top margin should make all of the preview visible

**Screenshots**

![image](https://user-images.githubusercontent.com/3

[2021-09-13 17:31] dannyhw commented on #120
This is probably fixed but we need to test all the controls before confirming this is done

[2021-09-13 17:49] dannyhw commented on #214
should split into more issues

[2021-09-13 17:59] dannyhw commented on #216
duplicated by #202

[2021-09-13 17:59] #216 closed, assigned to nobody

[2021-09-13 18:04] dannyhw commented on #241
Will investigate this for 6.0, if it's complicated might delay to 6.1

[2021-09-13 18:27] dannyhw opened #266 "[6.5] Update learnstorybook tutorial"
**Is your feature request related to a problem? Please describe.**

Update the tutorial, talk with @jonniebigodes to coordinate on this.

**Describe the solution you'd like**
tutorial works for 6.0

**Are you able to assist bring the feature to reality?**
yes

[2021-09-13 18:33] dannyhw commented on #152
We believe that this is fixed in the v6 alpha and using inlineRequires:false is a workaround for 5.3. For those reason I'll close this issue. Please let us know if you continue to have this issue in the v6 alpha.

[2021-09-13 18:33] #152 closed, assigned to nobody

[2021-09-13 18:36] dannyhw opened #267 "Update example project to 0.65"
**Is your feature request related to a problem? Please describe.**
0.65 came out and we should update the example.

The example project is under examples/native

**Describe the solution you'd like**
0.65 on the example project works

use the upgrade helper https://react-native-community.github.io/upgrade-helper/?from=0.64.1&to=0.65.1

**Are you able to assist bring the feature to reality?**
yes

[2021-09-13 20:29] luciddr34m3r commented on #185
I'm bumping into this issue when I attempt to decorate stories with the auth providers necessary to work with firebase/reactfire, regardless of hot reload status.

[2021-09-13 22:04] dannyhw commented on #185
@luciddr34m3r What version of storybook are you using? If you can provide a repo with a minimal reproduction that would be awesome for helping debug the issue.

[2021-09-13 22:11] luciddr34m3r commented on #185
Here's all my storybook deps:

[code]

Unfortunately the project is in a private repo but I can provide some snippets.

The decorator looks like this:

[code]

  The FirebaseAppProvider initializes a connection to firebase, but if the project has already been initialized, it will throw an error, so if I flip between stories, it seems to wrap the new story in a new decorator which re-initializes th

[2021-09-13 22:29] dannyhw commented on #185
@luciddr34m3r this is the react-native repo, you might need to post an issue on the main repo https://github.com/storybookjs/storybook/issues

[2021-09-13 22:31] luciddr34m3r commented on #185
Derp. Seemed nearly identical to the linked thread.

Thanks.

[2021-09-14 07:28] dannyhw commented on #185
@luciddr34m3r no problem it's an easy mistake to make :)

[2021-09-15 14:29] kenchoong commented on #55
Hey wanna ask, do u run your expo on device by scan qr code or connect with cable? Cause now both android, ios I scan with Expo Qr code, both cant connect with storybook.

What I have done:

1. set the storybook UI like this
[code]

2. expo start
3. iOS scan expo QR code
4. android scan expo QR code
5. yarn storybook

Outcome now:
1. Android and iOS both having the Storybook present
2. In storyboo

[2021-09-15 15:12] dannyhw commented on #55
@kenchoong

Make sure you aren't connecting over the "tunnel" connection mode in expo, try to use local LAN network option.

Also make sure you changed the server port in your package.json to the same as your getStorybookUI one.

[2021-09-15 15:17] kenchoong commented on #55
Yes, I use LAN connection, I tried both "Scan QRCode" and also connect with cable.. both cant connect(forever loading in `http://172.30.48.1:7007/?path=/story/*`).

In package.json, this is my script.

[code]

Then getStorybookUI is this.

[code]

and `172.30.48.1` is get from `yarn storybook` output for the 1st time

I also `yarn storybook` first, then only `expo start`

In android device, storyb

[2021-09-15 15:23] dannyhw commented on #55
@kenchoong have you tried `adb reverse tcp:7007 tcp:7007` ?

[2021-09-15 16:08] kenchoong commented on #55
Yes,

1. yarn storybook
2. expo start
3. adb reverse tcp:7007 tcp:7007

run each command after another. What I got now:

1. android got the preview of Storybook
2. http://172.30.48.1:7007/?path=/story/* in this path, storybook menu infinite loading.

Connected using cable and Scan QRcode as well , weird..

[2021-09-15 16:11] lauriharpf opened #269 "[6.0] Add 6.5 project setup to the cli"
Add support to initialize a React Native Storybook v6 project with the [Storybook CLI](https://www.npmjs.com/package/@storybook/cli).

## Initial implementation plan
The relevant Storybook CLI code is here:

* Triggering of the generator: https://github.com/storybookjs/storybook/blob/next/lib/cli/src/initiate.ts#L120
* Generator: https://github.com/storybookjs/storybook/blob/next/lib/cli/src/gener

[2021-09-15 16:56] dannyhw commented on #55
try changing it to this
[code]
I don't think that the port should be a string.

[2021-09-15 17:16] dannyhw commented on #269
I think that commits are cherrypicked into releases rather than including everything from next. I need to check that though.

[2021-09-16 10:10] kenchoong commented on #55
Yes, this is one of the reason.

And state here for future references as well, the reason of this is because `host:'172.30.48.1'` this value of host(I got from the output after yarn storybook) is wrong. After I restart my computer, yarn storybook again, it gives a new value which is `192.156.1.2` (a totally new value), replace that, the whole thing works which means sidebar menu can see the compon

[2021-09-16 17:31] dannyhw commented on #269
Actually spoke with them about this and commits are only cherry picked for patches so we would have to do something like a temporary project type

[2021-09-16 21:06] pang0018 commented on #269
@dannyhw, @lauriharpf and other contributors, I just wanted to say TY for all your work putting in the work to get this next release for story book. I am big user of storybook for React Native and I can't wait to start using the new features.

[2021-09-23 09:59] ENT108 commented on #302
It's still an issue :/

[2021-09-23 12:36] chakravarthy-mm opened #270 "metro resolver sbmodern not working properly"
I have few stories that's tied up with mobx. So mobx has a check of react-dom. when I use resolver in metro config the bundle looks like it's trying for web and throws error react-dom is not found. one way to solve the issue is to add react-native

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add mobx-react-lite observer component
2. load story book and see metro bundler fails

  n

[2021-09-23 12:46] dannyhw commented on #270
I'm not sure what the issue is here since in the description you said that you have a solution which was changing the metro config to have the resolver. The resolver change is part of the 6.0 setup so unless I misunderstood it's already working?

Also I saw that you're using the server however storybook/react-native-server is not supported yet in 6.0 so you should remove it for now or revert to 5.

[2021-09-24 21:35] VinieSantana opened #271 "Not able to scroll to the end of the story knobs when device keyboard is open"
When I try to edit a knob, the device keyboard overrides the end of the scroll view including the text field focused, if it's placed at the end of the list of knobs, and is not possible to scroll to the end of the content.

I have the same behavior in both Android and iOS devices.

Current behavior:

![keyboard_issue](https://user-images.githubusercontent.com/14199109/134739037-d9a0876e-af22-475c-

[2021-09-25 08:26] nutstick opened #272 "[6.0] Support web socket channel"
**Is your feature request related to a problem? Please describe.**

Support channel as web socket channel in `Preview`. We use web socket server to integrate with quite a few tools, it will be helpful if we can continue to support this.

**Describe the solution you'd like**

Since it's already implemented in v5, we can continue to use the same interface e.g. `disableWebsockets`, `host`, `port`.

*

[2021-09-25 15:10] dannyhw commented on #272
@nutstick Hey thanks for offering to help! That would be great actually, coincidentally I was actually trying to figure out how to do this today. The problem like you were getting at here is a lot of the apis have actually changed between 5.3 and 6.0 and it's been a bit difficult to get something working. If you like I could put what I currently have into a branch, maybe it can help. By the way `t

[2021-09-25 15:22] dannyhw commented on #272
@nutstick I've made a branch with some experiments, not much there but it might be useful:
https://github.com/storybookjs/react-native/commit/03160323857301f901e1d2e1e0039f8e0923e4b0

[2021-09-25 15:24] dannyhw commented on #271
@VinieSantana thanks for reporting this I'll see if I can reproduce in the 6.0 controls tab and go from there

[2021-09-26 05:31] nutstick commented on #272
Thanks for quick reply! Amazing let me try this out

[2021-09-27 17:34] rusakovic commented on #38
@mashaalmemon
Great. Thank you. This bug is still not solved.

For google search:
[code]

[2021-09-30 17:09] scousino commented on #161
While waiting, can we get some kind of official format for the storyIds? Otherwise this prop is unusable

[2021-09-30 17:44] scousino commented on #161
For anyone interested you can import the toId function an use it to create the story id.
`import { toId } from '@storybook/csf';`

However, even after doing this and passing the ID to initialSelection, nothing happens on load. I still get the default Preview screen

[2021-09-30 17:53] dannyhw commented on #161
See the toId function here.

https://github.com/ComponentDriven/csf/blob/next/src/index.ts

For storiesof("foo").add("bar")

That should produce something like
foo--bar all lowercase and most special characters are replaced with -.

I know there isn't really a nice way to get at this ID right now and I plan on improving that. Apologies for not following up on this until now.

[2021-09-30 17:58] dannyhw commented on #161
Hmm I'll have to check that, could be a bug. Thanks for reporting that.

[2021-09-30 18:15] scousino opened #273 "initialSelection not loading specified story"
**Describe the bug**
The initialSelection parameter for getStorybookUI is not loading the specified story as the first selection on load. Instead, I still just see the default Preview screen telling me to open the navigator and select a story.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any Storybook app and set the initialSelection to an ID string for a story in your Storybook app

[2021-09-30 18:16] scousino commented on #161
I created a new issue for that specific bug (#273), since its separate from the string vs. object issue of initialSelection docs. My 2 cents, I think it makes more sense for initialSelection to take an object and then create the ID itself. Rather than consumers having to create the ID

[2021-09-30 20:15] dannyhw commented on #161
@scousino thanks for creating that issue I'll add it to the backlog

[2021-09-30 21:11] dannyhw commented on #273
#274 should fix this, at least it works in the example project.

[2021-09-30 21:13] dannyhw commented on #161
in #274 I've made an initial attempt to fix this. I might change the configuration of this to the main.js file later though.

[2021-09-30 21:18] dannyhw commented on #154
The @storybook/csf package provide the toId function as an export so that can be used to get storyId's. Would that be acceptable? Or would it be better for storybook/react-native to re-export that function?

[2021-09-30 22:26] dannyhw opened #275 "[6.0] Make the .storybook folder location configurable"
**Is your feature request related to a problem? Please describe.**

It would be useful for users to have a way to change the location of storybook configuration files.

**Describe the solution you'd like**

A parameter for get stories and the watcher that specifies the location of the config files

**Describe alternatives you've considered**

NA

**Are you able to assist bring the feature to reali

[2021-10-01 18:46] scousino commented on #50
Has this work been done/integrated yet?

[2021-10-01 18:47] thenriquedb commented on #241
Same question here, Can you find any way to solve this?

[2021-10-02 00:54] dannyhw commented on #50
@scousino I've not heard anything and the main priority has been working on core features so I haven't had time to work on new add-ons. All contributions welcome though.

[2021-10-02 01:00] dannyhw commented on #241
@thenriquedb there are multiple ways of doing it. The only thing missing is documentation. I recently discovered that the ignite cli has its own way of doing it also.

I mentioned in this issue an option I'm exploring using metro to create two entry points.

The main point though is that the UI is just a component so you're free to include it or hide it just like any other component.

Of course th

[2021-10-06 08:38] CezarCobuz opened #276 "Contain stories that use Modal within PREVIEW"
**Describe the bug**
Opening a preview that uses [Modal](https://reactnative.dev/docs/modal) results in an inability to switch any other views. Modal locks the user in.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a component `<DemoModal />` [this example](https://reactnative.dev/docs/modal) works great. Modify `visible={modalVisible}` to `visible` so that we assume that we control it

[2021-10-06 13:20] dannyhw commented on #276
@CezarCobuz
From what I understand the modal component covers the screen because that's the behaviour of a modal. It will always appear above everything regardless of its container. I don't think this is a storybook issue and rather just a feature of the modal component.

This behaviour is what makes it possible to have a modal nested deep in the app but it still appears above your other component

[2021-10-06 21:17] jgornick opened #277 "[6.0] When writing requires paths are always written as up a directory"
**Describe the bug**
If I provide an absolute path glob, the [story requires always include a `../`](https://github.com/storybookjs/react-native/blob/c8563fd2a2e86bbc16b5652da524715df1d43a5a/app/react-native/scripts/loader.js#L41). This causes issues because it's not able to resolve the specified path.

**To Reproduce**
Set a stories path to something like `/path/to/projects/**/*.story.*`.

**Expe

[2021-10-06 21:18] #161 closed, assigned to nobody

[2021-10-06 21:27] dannyhw commented on #277
@jgornick hey thanks for reporting this, at first glance I can say that what your saying makes sense. This seems like a side effect of the changes we did to move the storybook files all into .storybook. I'm currently looking at #275 so I might include a fix for this in a PR for that issue.

[2021-10-06 23:58] dannyhw commented on #277
I've found a good fix for this I think, should be coming soon.

[2021-10-07 07:18] nutstick commented on #272
Hi @dannyhw sorry for late reply, I have try out your branch. Seems it's not working yet. But from the code look like we didn't call `addons.setChannel(channel);` when create new channel. After I add this, I can change selected story.

But I notice that the `SET_STORIES` is not fired if I only run `addons.setChannel`. Not sure if it's expected?

[2021-10-07 07:21] dannyhw commented on #272
@nutstick yeah the branch wasn't working but it's just part of the changes needed. I just hadn't figured everything out yet. You're right I think I forgot to add the set channel thing. Not sure about the set stories thing I'd have to take another look at it.

[2021-10-07 08:49] dannyhw commented on #277
@jgornick see #278 :)

[2021-10-11 10:00] #275 closed, assigned to nobody

[2021-10-11 10:00] #277 closed, assigned to nobody

[2021-10-11 13:19] #267 closed, assigned to nobody

[2021-10-11 13:20] dannyhw commented on #276
Since I do not see any potential solutions for this and the issue seems to be with react native modal I'm closing this for now. Let me know if it should be reopened.

[2021-10-11 13:21] #276 closed, assigned to nobody

[2021-10-12 19:40] dannyhw commented on #120
App will now run correctly in web with the controls addon (knobs replacement) however has the following issues.

Since the deprecated components issue is now gone I will be opening separate issues for these problems and then closing this one.

- Color picker modal is constantly open on web
- date picker doesn't appear to do anything when clicking on the input box "DateTimePicker is not supported o

[2021-10-12 19:43] dannyhw commented on #120
I would love to resolve this for 5.3 however my focus is currently on 6.0 and due to limited time for now the plan is to focus all bug fixes into 6.0.

If there is a overall demand for this fix in 5.3 I can re-think this approach though so let me know.

[2021-10-12 20:00] dannyhw opened #280 "[6.0] color picker modal doesn't work correctly when ran on web"
**Describe the bug**

The color picker modal is always open and doesn't behave correctly when ran with react-native-web

**To Reproduce**
Steps to reproduce the behavior:
1. run storybook with react-native-web
2. utilize a story with the color control

**Expected behavior**

A popup or modal should appear when the color square is clicked and then close when the x is pressed

**Screenshots**

![ima

[2021-10-12 20:24] dannyhw opened #281 "[6.0] when ran with react native web the date picker doesn't work"
**Describe the bug**

When using the date control clicking the input has no effect.
A log appears in the console saying that web is not supported for react-native date picker.

**To Reproduce**
Steps to reproduce the behavior:
1. run storybook with react native web
2. use a story with a date control
3. go to addons panel and try to use the date control

**Expected behavior**

it should be possible

[2021-10-12 20:28] dannyhw opened #282 "[6.0] the object control is too narrow vertically on the web"
**Describe the bug**

When running react native storybook with react-native-web the object text input is very small vertically and it's very difficult to edit.

**To Reproduce**
Steps to reproduce the behavior:
1. run storybook with react native web
2. use a story with a object control
3. go to addons panel and try to use the object control

**Expected behavior**
A clear and concise description of

[2021-10-12 20:32] dannyhw opened #283 "[6.0] select control modal doesn't work correctly on the web"
**Describe the bug**

When using react native web the select control modal doesn't appear correctly. This is because react-native-web doesn't yet support the modal component.

**To Reproduce**
Steps to reproduce the behavior:
1. run storybook with react native web
2. use a story with a select control
3. go to addons panel and try to use the select control

**Expected behavior**
The select control

[2021-10-12 20:35] dannyhw opened #284 "[6.0] support new storybook architecture being introduced with 6.4"
**Is your feature request related to a problem? Please describe.**

Soon the storybook team will be merging some changes to the storybook architecture and it's necessary to make changes to this package in order for react native storybook to stay up to date.

**Describe the solution you'd like**

Necessary changes are made to support the new story store and api changes.

**Are you able to assist br

[2021-10-13 09:46] dannyhw commented on #270
Since there was no response closing this for now. Let me know if you want to reopen.

[2021-10-13 09:46] #270 closed, assigned to nobody

[2021-10-13 09:46] #273 closed, assigned to nobody

[2021-10-14 07:22] alutz33 commented on #55
@dannyhw @kennethtruong WORKED FOR ME! Just needed to add the host and port. What a waste of a day!

[2021-10-15 08:25] Rynxiao commented on #287
Same issue here. I can't find the relevant command in the `bin` directory of `node_modules` either.

[2021-10-15 15:25] dannyhw commented on #287
there is no build-storybook command for react native because the ondevice storybook works differently. You should build the app the same as any other react native app.

[2021-10-15 17:14] scousino commented on #120
This might not be the right issue to make this comment, if so I can open up another issue. But with version 5.3, the DateTimePicker from @react-native-community/datetimepicker does not fire its onChange callback when the component is rendered in a story on a emulated Android device. Is this something that is fixed in 6.0 or is there a workaround/hack I'm missing to get this working in 5.3

[2021-10-15 17:21] dannyhw commented on #120
@scousino I think this is unrelated to this issue however since we've moved to the datepicker library in 6.0 and previously the built in component was used then it's likely been resolved in 6.0

[2021-10-15 18:17] scousino commented on #120
Got it, thank you for the quick response @dannyhw!

[2021-10-16 08:57] AllanChain commented on #67
I think this issue is happening again. I am using `@storybook/react-native@5.3.25` and `expo@42`, and having the same issue. The `IS_EXPO` test does not work. I printed everything in `global` but there is no `expo`-like stuff.

[2021-10-16 21:02] dannyhw commented on #67
@AllanChain thanks for reporting this. I'll make sure to add it to the backlog.

[2021-10-17 09:41] manufunk opened #289 "Images/Icons not loading and console output not working"
**Describe the bug**
I'm trying to setup storybook with react native expo and I'm able to see my stories in the emulator. However I'm facing 2 issues here:

1. I have native-base icons and images in my component that do render well on the main app but in storybook the images and icons are just not rendered. This also happens if I switch to default Expo icons. For the images I'm using, this is done

[2021-10-17 10:59] dannyhw commented on #289
This is not expected behaviour, personally I've not experienced this. Could you provide a reproduction of this error so I can debug it?

[2021-10-17 11:01] dannyhw commented on #289
@manufunk I noticed you have storybook react 6.0 installed. What's that being used for? The 5.3 react native storybook is not really compatible with 6.0.

[2021-10-17 12:12] manufunk commented on #289
@dannyhw Thank you for the quick answer.
Regarding the dependencies, I guess the react dependency must have slipped in somehow. I removed it now as it should not be in there.

I investigated more and narrowed it down. I have some initial action calls to my redux store in the App.tsx like this:

[code]

If I remove the calls to my store, it works fine. Reason for having that is that I need to fetch

[2021-10-17 13:23] manufunk commented on #289
Ok seems like the issue existed because of a possible code cycle when running in a certain error I will inside the error logout the user and this could cause another error which was the cycle that I wanted to resolve anyhow. Even this is just a warning, it somehow broke the logic here. Still wondering why this was only the case for storybook.

[2021-10-17 13:23] #289 closed, assigned to nobody

[2021-10-17 14:05] dannyhw commented on #289
@manufunk thanks for the update 👍

[2021-10-19 17:20] likern opened #291 "Invalid unit type when insert number in number control"
**Describe the bug**
When I use control type `number` for property
[code]

preview rerenders immediately while I'm typing new value.
That leads to invalid **empty string** being passed to as number value (when I delete old number and try to insert new number).

**Expected behavior**
Don't rerender immediately, only when **Submit** button on keyboard was pressed.

**Screenshots**
![Screenshot_2021-

[2021-10-19 21:34] jonathanm-tkf opened #292 "Update example project to 0.66"
Is your feature request related to a problem? Please describe.
0.66 came out and we should update the example.

The example project is under examples/native

Describe the solution you'd like
0.66 on the example project works

use the upgrade helper https://react-native-community.github.io/upgrade-helper/?from=0.65.1&to=0.66.0

Are you able to assist bring the feature to reality?
yes

[2021-10-20 09:02] dannyhw commented on #292
@jonathanm-tkf hey thanks for creating this issue. If you're up for it then a PR would be very welcome!

[2021-10-20 09:09] dannyhw commented on #291
@likern thanks for reporting this. I can see why this is an issue.

I suppose that on blur or similar could be used to defer the update until the user is finished.

If you want to create a pr with your suggested solution that would be great. If not that's no problem, I'll make sure to include a fix before 6.0.

[2021-10-20 09:15] likern commented on #291
@dannyhw Unfortunately, I'm very busy with my duties. I can only report issues I've found while integrating StoryBook. Not able to contribute to this project.

[2021-10-20 09:18] dannyhw commented on #291
@likern no problem, thanks for reporting issues, that's already a big help 🙏

[2021-10-20 12:23] jonathanm-tkf commented on #292
yes indeed I have tried but there is an error with core-js as soon as I have time I see if I can solve it or if I need help

thank you very much and excellent work @dannyhw

[2021-10-20 13:02] dannyhw commented on #292
@jonathanm-tkf ok cool, often the issue when upgrading is making sure to upgrade the packages in all the different package.json files since react native is present at least twice. I think atleast in the root on the project and the example project. Because of the node_module hoisting (yarn workspace thing) that can cause issues if they aren't aligned.

Appreciate your interest in the project :).

[2021-10-21 15:38] jordanlang410 commented on #55
I am still struggling with the sidebar not loading and I have completed everything exactly as explained by @kenchoong.  I'm not sure what I would be doing wrong at this point?  Does it matter what server expo is running on?

[2021-10-21 16:13] dannyhw commented on #55
@jordanlang410 The important thing is having the same ip and port for both the storybook script in package.json and also in getStorybookUI. Also make sure its the right ip address for your machine. It should be the local network address, this ip will be shown when you initially run the server. This solution has been shown to work multiple times so I imagine you just need to double check your setup

[2021-10-21 16:13] kenchoong commented on #55
add this to your package.json

[code]
The value of the host should start with 192, other than that, certainly it is wrong. Restart your computer, and get the new IP.

[2021-10-21 16:24] jordanlang410 commented on #55
I figured it out.  I did not follow instructions properly and failed to put the export {default} from './storybook'; into my App.js file.  You all rock @kenchoong and @dannyhw.  Your earlier posts saved me a ton of time.

[2021-10-29 22:52] dannyhw commented on #19
Any details about this issue? Or a reproduction?

[2021-11-02 14:22] ag91 commented on #148
by the way, if you are using yarn it seems adding the following to your package.json does the trick:
[code]

[2021-11-03 11:03] #170 closed, assigned to dannyhw

[2021-11-03 12:02] dannyhw commented on #120
I'm closing this issue since react native web now works correctly in the current alpha build of 6.0

[2021-11-03 12:02] #120 closed, assigned to lauriharpf

[2021-11-03 14:35] bombillazo commented on #128
Agreed. I arrived at the same conclusion after days worth of work, and that was just migrating the project to monorepo. RN is not there yet for supporting monorepos.

[2021-11-08 11:37] CezarCobuz opened #295 "[6.0] when renaming preview.js to .ts the preview config is not found"
**Describe the bug**
In my package.json I have `"prestart": "sb-rn-get-stories"`. The file `storybook.requires.js` gets updated with the new detected stories files but unfortunately it loses some useful content.

**To Reproduce**
Steps to reproduce the behavior:
Default setup from [here](https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md) with add-ons (I use controls, notes, bac

[2021-11-08 11:44] dannyhw commented on #295
hey @CezarCobuz that code gets injected if you have a preview.js file, is there a preview.js still present in your project?

[2021-11-08 12:27] CezarCobuz commented on #295
It is but I renamed it to `preview.ts`

[2021-11-08 13:01] dannyhw commented on #295
unfortunately that's whats causing the issue since it's looking specifically for `preview.js`

see here:
https://github.com/storybookjs/react-native/blob/e2d3c5a9554fda186e80143a8642473bd7c18dc6/app/react-native/scripts/loader.js#L46-L47

However I'm happy to adjust this to better support ts extensions.

[2021-11-08 13:28] CezarCobuz commented on #295
Got it, thank you @dannyhw!

[2021-11-09 09:24] simon-nicholls commented on #255
Using the patched docs/script I still had an error resolving nanoid, but this worked for me:

`resolverMainFields: ['sbmodern', 'react-native', 'browser', 'main']`

[2021-11-09 17:24] lauriharpf commented on #269
Unfortunately I'm currently too busy with other projects for the time being to continue working with this, so unassigned myself.

[2021-11-09 19:01] dannyhw commented on #269
No problem @lauriharpf, thanks for the update.
Hope all is well.

[2021-11-10 21:20] jorgearuv commented on #282
I would like to take this issue @dannyhw

[2021-11-15 03:05] jorgearuv commented on #265
I can take this task @dannyhw

[2021-11-15 09:59] Dane-Mutch commented on #55
Leaving this here in case it helps anybody. We use the new JSX transform as described [here](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) and were facing an infinitely loading sidebar. Setting the `experimentalImportSupport` option in `metro.config.js` to true fixed our issue.

[2021-11-15 16:34] ChrisJamesC opened #297 "Error running the native example for iOS"
**Describe the bug**
When running the native example I get an error:

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps in "CONTRIBUTING.MD":
   - git clone https://github.com/storybookjs/react-native.git react-native-storybook
   - cd react-native-storybook
   - yarn bootstrap --core
   - cd examples/native
   - yarn install

2. the error happens on the following command:
   -

[2021-11-15 17:05] dannyhw commented on #297
don't forget to run pod install, however its possible that an upgrade to 0.66 is needed.

[2021-11-16 08:07] ChrisJamesC commented on #297
@dannyhw I also had to fix my pod install setup indeed, but I hit more errors. I'll continue investigating and document my findings here.

Fun fact: I face these issues because I wanted to tackle the 0.66 upgrade as a first contribution :)

[2021-11-16 10:38] sangameshsomawar commented on #240
@dannyhw : I followed all steps mentioned [here]( https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md)
Getting no warnings. (Just thought to inform you, I can see label as help wanted 😊)

<img width="682" alt="Screenshot 2021-11-16 at 4 06 48 PM" src="https://user-images.githubusercontent.com/93119254/141969932-f403cc39-9b57-474e-8678-0292cfd895ee.png">

[2021-11-16 11:44] dannyhw commented on #240
@sangameshsomawar thanks for trying this out, does it stay without warnings if you reload the app?

[2021-11-16 11:55] sangameshsomawar commented on #240
@dannyhw
Tried with fast reload, no warnings.
<img width="682" alt="Screenshot 2021-11-16 at 5 24 52 PM" src="https://user-images.githubusercontent.com/93119254/141980975-3b7350a3-58d6-446e-9324-45d55d6e8631.png">

[2021-11-16 13:22] dannyhw commented on #240
@sangameshsomawar thanks, maybe its no longer an issue then 🤔 . Or rather it's a problem in 5.3 still but for the upcoming release it will be resolved

[2021-11-16 16:43] sangameshsomawar commented on #240
@dannyhw: Yes, the Issue will not be there in new releases I think. You can simulate and confirm once then you can close the issue. 😄

[2021-11-16 21:19] avertin commented on #131
With version 6, how do you embed storybook inside an existing RN application? Where should the main.js, preview.js and storybook.require.js files go?

[2021-11-16 23:43] dannyhw commented on #131
@avertin That all works basically the same, the only difference is that the folder is now `.storybook` by default (added a `.`) . You still get a component returned from a getStorybookUI function call.

[2021-11-18 16:18] felixolivares commented on #12
Any updates on this feature ?

[2021-11-18 17:26] dannyhw commented on #12
@felixolivares not been developed yet but all PR's are welcome. Working through issues when I can, this is one that I want to fix in 6.0.

[2021-11-19 21:36] #282 closed, assigned to jorgearuv

[2021-11-22 17:36] xiongemi commented on #131
when is the official 6.0 going to be released? would it be using webpack 5?

[2021-11-22 19:37] dannyhw commented on #131
react native storybook doesn't use webpack so I don't know if that would matter much.

In regards to react-native 6.0 release date
I would love to give a timeline but it's hard because it depends a lot on my free time. It will come out when it's ready, hopefully early next year. I'm likely going to be without a computer in December so that will delay things a bit.

[2021-11-23 17:57] talon-i-am commented on #19
Ran into this today, had it working for a moment, then it broke again. Not sure what the cause is.

[2021-11-24 17:35] thomasttvo commented on #185
Still happening on `@storybook/react-native: 5.3.25`

Apparently this only happens when all these happen at the same time:

- You have global decorators
- You have fast refreshes triggered by editing a story file

Example decorators where this issue can be seen:
[code]

[code]

**SOLUTION**

Here's what I have done to fix the issue on my project:

Create these functions (I'm using Typescript here)

[2021-11-24 18:40] ghost opened #299 "Issue with refresh / reload (maybe because of npm workspaces)"
**Describe the bug**

Hello,

In my current project in RN 0.64, anytime I am doing a modification in a component, the storybook reloads and I have to navigate to the component I am working on.

I am using:
    "@storybook/addon-actions": "^5.3.21",
    "@storybook/addon-knobs": "^5.3.21",
    "@storybook/addon-links": "^5.3.21",
    "@storybook/addon-ondevice-actions": "^5.3.23",
    "@storybook/a

[2021-11-24 19:34] dannyhw commented on #299
If you use async storage you can work around this. However it should normally work.

[code]

[2021-11-24 19:35] dannyhw commented on #19
If someone can provide a repo with a reproduction or provide steps to reproduce that would help with debugging this.

[2021-11-25 23:26] dannyhw commented on #297
@ChrisJamesC any update?

[2021-11-26 02:25] nguyenvantruong17 commented on #240
I got the same problem. Then, I integrated the [react-hook-form](https://react-hook-form.com/get-started#ReactNative) and it did NOT work.
I've been debugging and I think that the problem is causing an error with react-hook-form.
Can anyone tell me how to solve this problem? Thx.

[2021-11-26 08:25] dannyhw commented on #240
@nguyenvantruong17 are you using v6.0? or 5.3?

[2021-11-27 07:51] nguyenvantruong17 commented on #240
I'm using v5.3.

[2021-11-27 07:56] nguyenvantruong17 commented on #240
BTW. I've fixed that problem by setting **inlineRequires = false** in **metro.config.js** file.

[2021-11-27 18:05] toddpi314 opened #300 "Preview instance access in OnDeviceUI"
Hey folks!

I have an tutorial setup on https://github.com/storybookjs/native/issues/66 that bridges together the OnDeviceUI with the deep-link interop.

But, to do this, I had to dig out the Preview instance to seed in the active story id. Seeding via the getStorybookUI constructor factory was a bit too heavy handed, especially with retaining active story state.

Below is the patch to export if t

[2021-11-27 18:41] dannyhw commented on #300
@toddpi314 would be happy to accept a PR with this change if you are able to.

Either way I'm more than happy to facilitate this way of using the project. Maybe we can use this to replace the server in 6.0 🤔 .

[2021-12-01 15:11] enesozturk commented on #302
It is still an issue with:

[code]

[2021-12-01 17:27] dannyhw commented on #302
I've never really worked with storyshots if someone could explain more about this issue or open a PR that would be really helpful.

[2021-12-04 15:33] dannyhw commented on #284
This issue gains more priority now that 6.4 is already out. Will be working on this now.

[2021-12-13 19:33] titojuan opened #304 "Issue for React Native Web when it was started"
**Describe the bug**
When I start Storybook, it compiles everything correct but the console shows us an issue and keeps loading.
But the components that it builds work correctly in the emulators

`Uncaught Error: Singleton client API not yet initialized, cannot call addArgTypesEnhancer`

<img width="1088" alt="Screen Shot 2021-12-13 at 14 27 57" src="https://user-images.githubusercontent.com/92624

[2021-12-13 19:50] titojuan opened #303 "Documentation failed when used libraries"
**Describe the bug**

When I use a library that I have to use for component development in React Native, the documentation cannot initialize but it can be viewed in the emulators

For example:
[code]

**System**
System: MacOS Monterey 12.0.1
Corel i5 / 8 GB / 512 GB

**Packages**
"react": "16.13.1",
"react-native": "0.63.3",
"react-native-web": "^0.14.10",
"react-native-svg": "^12.1.1",
"@react-th

[2021-12-14 01:18] dannyhw commented on #304
@titojuan could you share more about what you ran when this error happened? Are you running addon-react-native-web in this screenshot? or is it something else?

if you could provide a public reproduction repository that would be really helpful.

[2021-12-15 14:50] titojuan commented on #304
@dannyhw when I execute this command `start-storybook -p 7007 -s public`, In my **main.js** is this

[code]

[2021-12-15 15:05] dannyhw commented on #304
@titojuan any reason why you don't use the addon? https://github.com/storybookjs/addon-react-native-web

[2021-12-15 15:08] dannyhw commented on #304
also you are using `"@storybook/react-native": "5.3.25"` which could be bringing in old versions of storybook. If you want to use the two in the project you would be better off using the react native @next (alpha)

[2021-12-15 16:32] titojuan commented on #304
@dannyhw I tried with [@storybookjs/addon-react-native-web](https://github.com/storybookjs/addon-react-native-web) but I have a new issue, also update **storybook** to version 6.4.9

<img width="599" alt="Screen Shot 2021-12-15 at 11 29 48" src="https://user-images.githubusercontent.com/9262478/146225893-0693bdb7-a407-478d-b9e7-8f4304ffd843.png">

[2021-12-15 17:01] dannyhw commented on #304
@titojuan what version is your @storybook/react-native? 5.3 is too old to work with 6+ and the react native alpha isn't yet compatible with 6.4, only 6->6.3

this is easily resolved by using compatible versions. If you can send me the repo I could fix it I'm pretty sure.

[2021-12-15 17:06] dannyhw commented on #303
@titojuan please can you share a reproduction of the issue?

[2021-12-15 18:53] #304 closed, assigned to nobody

[2021-12-17 19:54] xiongemi opened #307 "could you make @storybook/react-native-server same version of '@storybook/react-native'"
@storybook/react-native-server is 6.0.0-alpha.0
@storybook/react-native is 6.0.1-alpha.7

also for @storybook/addon-ondevice-knobs @storybook/addon-ondevice-actions

i am writing a generator for react-native storybook project.

do these libraries follow different release cycle?

which version of @storybook/react-native-server should i use with latest @storybook/react-native?

[2021-12-18 05:55] dannyhw commented on #307
The plan is not to release changes to the current stable version and instead focus on 6.0 becoming stable. I will most likely release everything with the same versions/release cycle.

A few things to note:

The server is not currently supported for 6.0. It's unfortunately not something I know how to migrate for compatibility with the new APIs. The plan is to add support later or a new similar/bett

[2021-12-18 19:07] enesozturk commented on #302
@dannyhw, still having the issue with upgraded packages:
[code]

I render my storybook inside the app with a specific route.

[code]
App is working as expected. When I navigate to the Storybook route. I got this message. (But I can continue using by dismiss this message)

<img width="499" alt="Screen Shot 2021-12-18 at 22 02 03" src="https://user-images.githubusercontent.com/19428358/146652908-f53

[2021-12-18 19:14] dannyhw commented on #302
You shouldn't mix 5.3 with 6.x either use V6 or 5.3 but not both.

[2021-12-18 20:10] enesozturk commented on #302
`addon-knobs` page is deprecated and `addon-controls` start with 6.x.x - https://www.npmjs.com/package/@storybook/addon-knobs

How to continue here? Downgraded the others to 5.x.x latest.

Edit: Downgraded all the packages like below. Still giving error.

[code]

[2021-12-18 20:29] enesozturk commented on #302
[This](https://github.com/storybookjs/react-native/issues/152#issuecomment-808388571) solved the issue for me. But not sure any other thing will be affected by setting `inlineRequire: false`. What do you think?

For my Expo app, in `metro.config.js`:
[code]

[2021-12-18 21:02] dannyhw commented on #302
Inline requires is just an optimization disabling it shouldn't be a problem.

[2021-12-19 05:23] xiongemi commented on #307
thanks for answering

[2021-12-19 05:23] #307 closed, assigned to nobody

[2021-12-20 12:22] ChrisJamesC commented on #297
Hey @dannyhw, sorry I didn't have time to get back to this project. I hope I can do some day, but feel free to close this issue if it's too old.

[2021-12-23 10:53] jellyfish-tom commented on #19
still happening

[2021-12-23 12:28] dannyhw commented on #19
Still looking for a reproduction of this. If you have time please provide an example project with the broken behaviour and steps on how to reproduce.

[2021-12-24 06:37] Karthik-B-06 opened #308 "Radio control type not working in both Mobile and Web"
**Describe the bug**

Having a radio type control to work with both Mobile and Web but having to control type: 'radio' works on the web and type: 'radios' works on mobile.

**Expected behavior**
A single control type (either 'radio' or 'radios') working on both Mobile and Web.

**Screenshots**
![image](https://user-images.githubusercontent.com/35562287/147325078-9f07fa52-85f8-490f-bdea-25df3431e76

[2021-12-24 08:53] dannyhw commented on #308
@Karthik-B-06 thanks for reporting this issue 🙇‍♂️. If you find any more inconsistencies please let me know.

I'll fix this one I'm back from holidays. Or if you'd like to make a contribution all pr's are welcome.

Happy Holidays 🙂

[2021-12-24 09:55] dannyhw commented on #303
Since there is no response I will close for now. Let me know if you wish to re-open.

[2021-12-24 09:56] #303 closed, assigned to nobody

[2021-12-24 09:57] dannyhw commented on #299
It's been a while without an update so I'll close this for now. Let me know if you would like to re-open this.

[2021-12-24 09:57] #299 closed, assigned to nobody

[2021-12-24 09:58] #297 closed, assigned to nobody

[2021-12-26 05:47] Karthik-B-06 commented on #308
Hey, @dannyhw I have made a PR fixing the same.

[2021-12-26 18:50] pistonsky commented on #96
Yes, it is possible. Create a file `storybook.ts` next to your index.js and then add a new target, and inside build phases where you bundle react native assets add `export ENTRY_FILE=storybook.ts`

[2021-12-27 06:06] ghost opened #310 "Example is broken - dependencies does not exists"
**Describe the bug**
npm install fails becaus `@storybook/react-native-server` of version `6.0.1-alpha.7` does not exists. Lates published is `6.0.0-alpha.0`

**To Reproduce**
Steps to reproduce the behavior:
1. npm install
2. See error

**Expected behavior**
npm install passess without an error

[2021-12-27 06:18] ghost commented on #310
Also looks like jest / ts-jest is broken

[2021-12-27 20:00] dannyhw commented on #310
The server is not supported in the 6.0 currently. It will likely be part of a minor release later on after 6.0. No alpha version was published on purpose since it's not ready.

[2021-12-27 20:56] ghost commented on #310
Imho that is fine, but I would expect that example will be running (without server support)

[2021-12-27 21:41] dannyhw commented on #310
Well it should run fine, atleast it was working for me. Did you run the yarn bootstrap command? What about `yarn prepareAll` ?

The Server shouldn't have any effect on running the example.

---
Edit

I just checked and it looks like the server is in the dependencies of the example. It just needs to be removed from there and that should resolve any issues I think.

[2021-12-29 15:55] elliotmrodriguez commented on #147
Hello, I would like to add to this, despite the fact that the issue is closed.

RN 0.63.4, existing application that we are wrapping SB around that is not an Expo application.

We have tried the above approach, and while it works great when we want to render the SB UI, it fails when we want to change the dependent variable. However, we noticed that simply importing the Storybook file, without call

[2021-12-29 17:47] dannyhw commented on #147
@elliotmrodriguez the require cycle is not related as far as I know. You can try using inline requires so as to not import storybook unless it's being used. Something like

[code]

[2021-12-29 18:28] elliotmrodriguez commented on #147
Thanks for the feedback @dannyhw I'll give it a shot.

[2022-01-08 14:31] dannyhw commented on #310
been looking at this today, actually is private and should work if you correctly build the mono repo. Make sure to run yarn install in the root of the project and not just within the example folder.

I'm closing this because I've tested it and everything is working in the mono repo. Let me know if I should re-open it.

[2022-01-08 14:31] #310 closed, assigned to nobody

[2022-01-08 14:42] dannyhw commented on #308
This is merged and will be released soon.

[2022-01-08 14:42] #308 closed, assigned to nobody

[2022-01-08 14:56] #300 closed, assigned to nobody

[2022-01-10 01:37] dannyhw commented on #292
this has been done

[2022-01-10 01:37] #292 closed, assigned to nobody

[2022-01-10 15:59] raychanks commented on #291
@dannyhw Would like to contribute to this one.

I found that if onBlur is used, when the user finishes changing the number input and press the preview or navigator tab at the bottom or pressing the component preview section, the onBlur handler will not be called. (I am testing on an iOS simulator)

Also, I found that the type of argument that the onChange handler receives is of type string after t

[2022-01-10 20:37] dannyhw commented on #291
@raychanks hey thats great, all contributions welcome.

I've tried before to resolve this however I didn't find a simple solution.

On the one hand I understand that its unfortunate when the app can crash from the wrong input however I think that it should be possible for the user to test these kinds of cases with storybook and im not sure we should sanitise input. You could make the argument that

[2022-01-11 18:13] Yasser-Belatreche opened #314 "Some Weird non-ASCI infinit letters printed in the console"
**Describe the bug**
Some weird non-ASCI letters printed in the console when running `npx start-storybook -p PORT`

**To Reproduce**
Steps to reproduce the behavior:
1. Install the @storybook/react-native 'the version 5.3.25'
2. Run 'npm run storybook'
4. See the error

**Expected behavior**
To Run the storybook and open it in the browser

**Screenshots**
![Screenshot from 2022-01-11 19-01-45](htt

[2022-01-11 19:56] dannyhw commented on #314
This is caused by the colors.js issue. You try recreating your yarn.lock because I think that faulty version is now removed from npm.

If that doesn't work you can try using resolutions field in your package.json if you are using yarn.

[code]

for more info see here:

https://github.com/Marak/colors.js/issues/285#issuecomment-1008168237

its a bit of an ongoing controversy with the library and it

[2022-01-12 08:23] Yasser-Belatreche commented on #314
SOLVED THANKS FOR YOUR HELP SIR !!

[2022-01-12 15:36] #314 closed, assigned to nobody

[2022-01-12 17:24] raychanks commented on #291
@dannyhw hacked a version to defer the change by handling it on blur and submit, please help reviewing it when you have time.

On the other hand, I would like to continue the discussion about the data type issue. I am still quite new to this project and not so familiar with how the users normally use storybook. I agree that storybook should allow users to test different input types to make sure th

[2022-01-12 20:50] dannyhw commented on #291
@raychanks thats an interesting point actually I guess you're right. I'm open to enforcing the number values.

Thanks a lot for opening the PR for this, I'll take a look soon :).

[2022-01-13 01:19] raychanks commented on #291
@dannyhw Oh if that's the case, I think the changes can be simplified and do not need to rely on the submit and blur handlers. I will update the code later tonight and mark the pull request as WIP for now. Thanks for your effort too :)

[2022-01-16 14:06] raychanks commented on #280
Hi Danny, is this issue still persist? I just tried with the web example within the `example/native` folder and I can close the modal.

One issue is the color ring is missing in the web version.

Another issue is when the color picker is opened without changing anything, and then click the Apply button, the applied color is always black. Once the color input is modified and then click the apply bu

[2022-01-18 16:24] dannyhw commented on #280
@raychanks I guess it could technically be resolved since in 0.14 react native web added modal support. This modal support was added around the time I added this issue so this needs to be re-evaluated.

The color ring might be missing due to the way that the controls package is being built, there is an image used to display it.
Try running `yarn prepareAll` in the root of the mono repo and see if

[2022-01-19 14:25] raychanks commented on #280
@dannyhw The color ring is still missing after running `yarn prepareAll`. If I import the image resource at the top of the file instead of directly requiring it within `<Image />`, the color ring will be visible. Maybe this is a config issue?

The steps I took is
1. clone the repo
2. yarn
3. yarn prepareAll
4. cd example/native
5. yarn web
![Screenshot 2022-01-19 at 10 19 15 PM](https://user-image

[2022-01-19 15:06] dannyhw commented on #280
@raychanks hmm then maybe some webpack config changes are needed in the example project

[2022-01-27 10:58] levino commented on #24
I still have this issue with `@storybook/react-native-server@npm:5.3.23`

[2022-01-28 00:56] JacobGalati opened #320 "Stories only appear when using storiesOf instead of CSF"
**Describe the bug**
I just started a new Expo project and initially setup using v5, but switched it over to 6.0.1-alpha.7 and followed the instructions found [here](https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md).

When I created my first story with CSF format no stories appear in Expo Go or Web View. If i switch to `storiesOf` format it appears.

**Expected behavior**
Stor

[2022-01-28 17:11] dannyhw commented on #24
@Levino make sure you have addons properly configured. For the server addons they must be in the storybook folder in the addons.js file.

[2022-01-28 17:15] dannyhw commented on #320
Avoid using storybook packages with a verison above 6.3. I'm still working on 6.4 compatibility since it had some internal api changes.

Change these to 6.3
[code]

Also please share your main.js and other files in the .storybook folder

[2022-01-28 17:33] JacobGalati commented on #320
@dannyhw That fixed the issue. Thank you! Below is my `main.js` just in case you still would like to see it.

[code]

[2022-01-28 17:37] dannyhw commented on #320
@JacobGalati great! glad to hear that fixed it. Will close the issue for now since it's resolved let me know if you want to reopen :).

[2022-01-28 17:37] #320 closed, assigned to nobody

[2022-01-28 18:56] JacobGalati commented on #320
Quick related question while I've got you. @dannyhw :)
Does 6.0 support AsyncStorage yet? Trying to put
[code]
in my Storybook.tsx results in an error. If it's a bug I'll make a new issues, but I'm assuming it is either a WIP, or its configured somewhere else now.
Thanks!

[2022-01-28 20:06] dannyhw commented on #320
@JacobGalati that isn't needed anymore because its included by default now. In fact async storage is no longer optional.

[2022-01-31 17:05] traviswimer commented on #38
I ran into this error while using the [default React Native stories.](https://github.com/storybookjs/storybook/blob/7064642e1aee7786c77fe735c064c0c29dbcee01/lib/cli/src/generators/REACT_NATIVE/template-csf/storybook/stories/Welcome/Welcome.stories.js)

This probably isn't exactly the same problem that this issue is discussing, but I want to mention it in case it helps.

For me the problem was that

[2022-02-01 05:11] dannyhw commented on #280
I think I've found a decent solution for this in #322

[2022-02-02 15:30] levino commented on #24
Thanks @dannyhw! Following your comment I fixed my issue with an additional file `storybook/addons.ts` with this content:
[code]
I do not import this file in my apps code. It is just lying there for storybook server to pick it up. Also note that I do not import `@storybook/addon-ondevice-actions/register` but the non-native addon.

[2022-02-04 16:58] CameronSilverTXI opened #323 "Unable to get Storyshots working with storybooks/react-native 6.0.1-alpha.7."
**Describe the bug**
Unable to run story-shots with `6.0.1-alpha.7`.

**To Reproduce**
I followed the guide (which is excellent 👍 ) to add the alpha to my project, and Storybook itself works really well; however story-shots fails.

With story-shots configured to point to `.storybook`, I get the following error when running `yarn test`:
[code]

If I set story-shots to point to `.storybook/main.js`,

[2022-02-06 21:57] xiongemi opened #324 "sb-rn-get-stories only support main.js, does not support tsx file format"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/storybookjs/react-native/blob/06d36c6f14b193b8f1c52a40a56acd613c3a96c5/app/react-native/scripts/loader.js#L41

**To Reproduce**
Steps to reproduce the behavior:
1. create a react native with typescript
2. run the sb-rn-get-stories
3. it only support js file

It throw this error:
[code]

**Expected behavior

[2022-02-07 20:18] dannyhw commented on #324
I'm closing this as a duplicate of #295. Please continue discussion there if necessary.

[2022-02-07 20:18] #324 closed, assigned to nobody

[2022-02-07 21:54] dannyhw commented on #323
@CameronSilverTXI hey thanks for reporting this and for the feedback. I'm not sure about how to get storyshots working but I will have a go soon.

However please try reducing the version to 6.3 since 6.4 storybook isn't compatible with react native yet, that could be what's causing your issue.

[2022-02-08 08:01] Einere commented on #198
i have same error.
[code]

and system info is below.
[code]

[2022-02-08 12:54] dannyhw commented on #198
Could you provide a public repository that reproduces this problem?

[2022-02-08 17:17] CameronSilverTXI commented on #323
Hi @dannyhw ,

Thanks for the tip about trying version 6.3 of StoryShots - unfortunately it didn't seem to change the outcome.

[2022-02-08 23:39] dannyhw commented on #265
Hey @jorgeruvalcaba are you still looking at this?

[2022-02-09 05:04] Einere commented on #198
@dannyhw
New project made by `react-native init` with storybook is working well..
But, sorry for that the project is private repository.. 😅  so, it's hard to share the project repository.

[2022-02-09 05:18] Einere commented on #198
@dannyhw
My private project using "react-native-splash-screen" package.
When run debug mode (android), splash screen is not hiding.
So, i fixed `MainActivity.java` code to not showing splash screen.

[code]
and rollback all changes (git), reinstall storybook by `npx -p @storybook/cli sb init`.
Then storybook show in device. but still exist some issues.
- ~not showing appropriate preview when touch

[2022-02-10 00:11] jorgearuv commented on #265
Hey @dannyhw, sorry; I've been absent here the last few months. But yeah, I'm still looking at it.

[2022-02-12 10:31] kyle-ssg opened #327 "[6.0] Cannot add an args enhancer to the store after a story has been added."
**Describe the bug**
Whenever I edit a story I see the following error.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Edit a story
2. Error displays

**Expected behavior**
I can edit/add stories without errors

**Screenshots**
<img src="https://recordit.co/fyllvIrkf8.gif"/>

**Code snippets**
If applicable, add code samples to help explain your problem.

**System:**
Please paste the

[2022-02-12 11:10] kyle-ssg commented on #327
As a note, patching these errors out and replacing with a "return;" I notice no issues with storybook.

[2022-02-14 21:01] HurrellT opened #329 "Formik does not work"
**Describe the bug**
Simply, formik doesn’t work with storybook on a project made with RN CLI, no matter the React Native and Formik version.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new RN CLI project
2. Install Storybook
3. Install Formik and Yup
4. Make a basic, normal form

**Expected behavior**
Form showing errors when trying to submit or when entering values that doesn’

[2022-02-15 06:19] Einere commented on #19
I have same issue `undefined error ... indexOf`.
i found that some library like `react-native-localize`, `i18n-js`, `import {mergeAll, flatten} from 'ramda';` occurs error.
My Custom component use it. but after remove these library, storybook renders well.

[2022-02-16 00:22] dannyhw commented on #329
@HurrellT thanks for reporting, I'll look into it when I can.

Are you able to provide a public repo with a reproduction of the issue? That way I could more easily debug it.

[2022-02-16 00:29] dannyhw commented on #327
Hey @kyle-ssg thanks for reporting this issue. I think it's probably an incompatibility issue with 6.4.

[code]
your addons version is resolving to 6.4, currently 6.4 is not yet supported please use `~6.3` instead. I believe it might resolve your issue.

After you try it let me know and if it didn't work then I'm happy to debug further.

[2022-02-16 18:25] HurrellT commented on #329
Sure, here's a link https://github.com/HurrellT/formikStorybookTest
Thanks!

[2022-02-17 13:27] dannyhw commented on #55
I'm just locking this to avoid unnecessary noise, I believe that there are already solutions and discussing further isn't necessary. I'll leave the issue open for discoverability and to help others with the same problem.

[2022-02-17 13:28] dannyhw commented on #329
@HurrellT thanks for providing that! when I have some spare time I will give it a try.

[2022-02-19 20:46] dannyhw commented on #329
@HurrellT this is caused by this bug: #20

You can get around it by patching some of the storybook packages from upstream.

Basically whenever this code is present it breaks all promises

[code]

I'll prepare a patch for your project to show how you can get around it.

This has been solved in the 6.0 beta, however I understand if you don't want to upgrade yet.

[2022-02-19 21:02] dannyhw commented on #20
In this [PR](https://github.com/HurrellT/formikStorybookTest/pull/1) I demonstrate how you can use patch package to fix this error.

Basically just this patch for @storybook/addons

[code]

[2022-02-19 21:03] dannyhw commented on #329
I made a PR to your example that fixes the issue, just run yarn or npm install and it patches the @storybook/addons package to remove the promise polyfill
https://github.com/HurrellT/formikStorybookTest/pull/1

[2022-02-19 21:14] dannyhw commented on #329
Heres the patch for @storybook/addons in case its useful

[code]

[2022-02-19 21:41] #291 closed, assigned to nobody

[2022-02-21 11:20] ainsleyrutterford commented on #327
I'm getting the same error when editing stories. I'm using `6.3` for addons:

[code]

[2022-02-21 13:28] dannyhw commented on #327
@ainsleyrutterford could you provide a public repository with a reproduction of the problem so I can debug it?

[2022-02-21 17:53] HurrellT commented on #329
Thanks a lot @dannyhw you are a hero. I applied the patch in my main project and it works.

[2022-02-21 17:53] #329 closed, assigned to nobody

[2022-02-21 18:30] ainsleyrutterford commented on #327
Ah, the project I'm working on is private. I'll see if I can start a new project and reproduce the error.

[2022-02-23 20:07] sviat-barbutsa commented on #158
Hi guys, any update on this? Can we use React-Native-Web and the Storybook v6+?

I've found something in the [Storybook v6.4](https://storybook.js.org/blog/storybook-6-4/) but I'm not sure if it's really work

[2022-02-23 22:02] dannyhw commented on #158
@velidan with the react native v6 beta you can use react native storybook and react-native-web storybook together. You can try it out with the expo template I made `expo init --template expo-template-storybook AwesomeStorybook`

source for the template is here: https://github.com/dannyhw/expo-template-storybook

 _Note: react native storybook won't yet work with 6.4, for now stick to 6.3 until a f

[2022-02-24 15:05] Myzel394 commented on #156
Is there someway to make this compatible with `scripts`? To be honest, it's very inconvenient to manually add and remove `export { default } from "./storybook"` from your `App.tsx` whenever you change something. Why can't you simply run `yarn storybook` and your device starts StoryBook on your phone - and when you use `yarn android` / `yarn ios` you see your actual app?

Anyway, glad that there's

[2022-02-24 16:32] ghsupear commented on #24
I am also experiencing this issue with `"@storybook/react-native-server": "^5.3.23"`

Installed storybook via Storybook's RN tutorial script `npx -p @storybook/cli sb init --type react_native`

[code]

[code]

@dannyhw or others, this is the default config from the script. Are these config files correct. Thank you!

[2022-02-24 16:51] dannyhw commented on #156
@Myzel394 the reason it doesn't launch like this is because the storybook UI in this case is just a component and doesn't ship with its own 'runtime' like how the web storybook works via its own web-pack server setup. The responsibility on how to render it is up to the user in this case which gives you flexibility on how to use it.

You can already make this happen in your app if you just add some

[2022-02-24 17:06] Myzel394 commented on #156
@dannyhw Do you have any recommendations on how to add this painlessly? I'm currently trying to do something along the way of:

[code]

However, that's not working, nor are conditional imports / exports working :/

[2022-02-24 18:15] dannyhw commented on #156
It's much easier to use a config file like a env.json for example and have a value there for showStorybook.

Then you can import the JSON file in your project instead of using the process.env

You can then also update the value in the JSON with a simple node script if you want to update it automatically.

At least that's the way I found easiest. However I think using the Dev menu like how ignite d

[2022-02-24 18:18] dannyhw commented on #24
@ghsupear looks ok to me, just make sure you fix all your versions to ^5.3 since there can be incompatibilities with version 6+ especially in 6.4.

[2022-02-24 20:20] ghsupear commented on #24
@dannyhw by default, this is what the script added to my devDependencies.

[code]

I updated this to the following without success
[code]

Is there anything else I should be aware of?

[2022-02-24 21:17] dannyhw commented on #24
@ghsupear seems fine, and do you have stories that use knobs or actions? The add-ons will only appear when they are used.

[2022-02-24 21:34] dannyhw commented on #24
also make sure that you have `.addDecorator(withKnobs)` either globally or in the story that uses it.

[2022-02-25 10:38] Peeeep commented on #57
For those struggling with resolverMainFields – the array needs 'react-native' included, too:

`['sbmodern', 'react-native', 'main']`
and for expo `['sbmodern', 'react-native', ...defaultConfig.resolver.resolverMainFields]`

See https://github.com/storybookjs/react-native/pull/325 and https://github.com/storybookjs/react-native/commit/8d459bdbce0d13235d4a2b399119fb8bba8e4bae

[2022-02-25 12:41] dannyhw commented on #57
@Peeeep yes that does seem to be the case for some packages now.

However since this is now resolved in 6.0 beta and also is mostly a duplicate of #20 I think it makes sense to close this issue.

Also for 5.3 you can patch storybook/addons to remove the es promise polyfill that fixes this.

[code]

[2022-02-25 12:41] #57 closed, assigned to nobody

[2022-03-07 09:04] renanbronchart opened #341 "MDX doc doesn't work with react-native installation"
**Describe the bug**
I followed this doc:
https://storybook.js.org/tutorials/intro-to-storybook/react-native/en/get-started/

But after all configurations, MDX files can't be resolved.
And I have this error on my simulator.
![Capture d’écran 2022-03-07 à 09 54 31](https://user-images.githubusercontent.com/16922579/156999044-ce32c450-403e-4ab0-b2bb-f40098908790.png)

And I can't follow some issue

[2022-03-20 18:43] codybrouwers opened #338 "[6.0] Improve navigator design to more closely match web"
### **Is your feature request related to a problem? Please describe.**

It would be great if the navigator grouped stories separated by `/` like in the web navigator. I saw @a7med-mahmoud's great work in #326 which brings us a lot closer and it would be great if we tried to match web as closely as possible.

### **Describe the solution you'd like**

Ideally the navigator should match web as closel

[2022-03-20 19:49] dannyhw commented on #338
@CodyBrouwers hey! thanks for the kind words :)

Yeah actually this has been planned for a long time and I actually almost included something like this but I just never decided on the right approach.

Currently the way the stories are set up in the sidebar is a bit over complicated so I've been wanting to re-do it.

Right now there is a bit of a rewrite already undergoing for the 6.4 storybook sup

[2022-03-20 19:50] dannyhw commented on #205
#338 is the same and has more details

[2022-03-20 19:50] #205 closed, assigned to nobody

[2022-03-20 19:57] dannyhw commented on #338
There isn't currently anything to parse the story names for categories etc so that would need to be worked on.

The best thing would be to copy the web implementation probably, however it's quite different now with the rework done to the search etc.

The feature itself should be easy but the problem is making it performant and readable since the existing code is pretty unoptimized and hard to read

[2022-03-22 02:59] codybrouwers commented on #338
Glad to hear this is on your radar! 😄

I found [this folder](https://github.com/storybookjs/storybook/tree/next/lib/ui/src/components/sidebar) in the web repo, is it the best place to find the web's implementation of the navigator?

If you don't think there will be too many conflicts with upcoming work then I will definitely give it a go!

[2022-03-23 13:16] dannyhw commented on #338
@CodyBrouwers yeah that looks like the right place, seems to be a hierarchy a bit like Sidebar-> explorer -> ref -> tree

Its a bit more complex in their version of it since they have a different UI for the search results, I guess we could do the same though.

Yeah if your changes are mostly in [storylistview](https://github.com/storybookjs/react-native/blob/next-6.0/app/react-native/src/preview/c

[2022-03-26 18:18] leotm commented on #240
no longer getting both original warnings since upgrading to 6 alpha, altho getting a diff one

will upgrade to beta soon and raise separately if remains

thanks again for checking earlier @sangameshsomawar and @nguyenvantruong17

keep up the good work @dannyhw

[2022-03-26 18:18] #240 closed, assigned to nobody

[2022-03-28 15:26] archived-vish opened #339 "storybook/react-native@next not working with expo SDK 44"
**Issue Summary**
The stories don't appear in the navigator though the build does go through successfully.  I used the following [instructions](https://github.com/storybookjs/react-native/blob/next-6.0/v6README.md) to do the setup.

**To Reproduce**
- Clone [repo](https://github.com/vthukral94/expo-storybook-alpha)
- Run `yarn ios`

**Expected behavior**
Stories appear in the navigator.

**System:

[2022-03-28 16:51] dannyhw commented on #339
@vthukral94 This is likely not a problem with expo since react native storybook is not yet compatible with storybook 6.4.

Please update these packages to use ~6.3 instead for the time being.
[code]

Let me know if the problem persists after downgrading the version

[2022-03-28 18:48] archived-vish commented on #339
Thanks @dannyhw the fix worked. I think it might be a good idea to add this to docs

[2022-03-28 18:48] #339 closed, assigned to nobody

[2022-03-30 12:04] astriskit opened #340 "mdx support in react-native"
**Describe the bug**
This issue here - storybookjs/react-native#341

**Expected behavior**
being able to use Docs add-on as shown in the react-tutorials

[2022-03-30 13:15] dannyhw commented on #340
I've moved the issue you mentioned over to this repo so I think we can close this issue since there is more details in that one.

let me know if you want to reopen. I will add my comments to #341 regarding mdx in react native.

[2022-03-30 13:15] #340 closed, assigned to nobody

[2022-03-30 13:19] dannyhw commented on #341
@renanbronchart I've moved this over to the react native repo since its separate.

MDX is not yet supported in react native so this isn't a bug it's just a missing feature.

However MDX on react native is not necessarily easy. I looked into it once before and I didn't find any well maintained libraries. However its been a while.

If you know of any good way to support MDX in react native I'm open

[2022-03-30 16:39] brandon-austin-lark commented on #240
This is also the only solution that I have found thus far. Any file that import Storybook into, my app crashes. Just really strange behavior going on. on v.5.3

[2022-03-31 03:00] astriskit commented on #340
Thanks @dannyhw.

[2022-03-31 15:19] dannyhw commented on #341
It may be possible to use MDX with storybook via this project from @danieldunderfelt and probably soon I will experiment with it.

https://github.com/danieldunderfelt/rn-mdx

talk about it here:
https://portal.gitnation.org/contents/mdx-in-react-native

I think that you could already get it working in your own project if you are willing to experiment a bit. I'm not sure if it could be made more au

[2022-04-01 12:39] levino opened #342 "[6.0] Remove unused params from getStorybookUI"
In version 6 when I call
[code]
both values are ignored.

[2022-04-01 13:19] dannyhw commented on #342
Thats because the server isn't yet supported in 6.0 so it does nothing.

[2022-04-01 13:45] levino commented on #342
Okay. We should then remove the property from the config for `getStorybookUI` so TS gives an error when people try to set this. Maybe it should even throw an error "Server still unsupported!". Finding this out wasted quite some time for me.

[2022-04-01 13:52] dannyhw commented on #342
@Levino thats a good point! thanks for the feedback 🙏 . I would like to say though that some rough edges are expected in beta however I understand it can be frustrating.

[2022-04-01 14:10] ckollars commented on #338
I came here to see if I could be of any assistance since this would be great to have on device.

@CodyBrouwers Let me know if you need a second pair of 👀 on anything.

[2022-04-01 15:56] brandon-austin-lark commented on #5
And 2022, still an issue

[2022-04-01 19:05] dannyhw commented on #5
I've never really used this addon so I'm not familiar with it. I will look into fixing it however it's not top priority on the list. If anyone wants to create a PR I'll happily assist etc.

Thanks 🙏

--

Edit: also make sure you are using version ~5 of the addon and not anything newer (6) or it's probably got no chance of working. Alternatively it might actually work in the 6.0 beta since it uses

[2022-04-04 07:38] levino commented on #342
My pleasure. I suggest to use a whitelist for the options parameters which are currently supported and throw if any excess / unsupported values are set by the user.

[2022-04-06 13:25] levino commented on #327
Same issue here.

[2022-04-06 15:34] dannyhw commented on #327
@Levino a reproduction would be really great if possible 🙏

[2022-04-07 01:54] ArtisanalPickle commented on #323
@CameronSilverTXI I'm experiencing a similar issue an issue as well using `@storybook/addon-storyshots` version 6.3.13.

My init call:
[code]

My error is different though:
[code]

As a sanity check to see if the options to `initStoryshots` were being respected I tried the following config:

[code]

But I receive the same error trace, suggesting either it's happening before configuration code is e

[2022-04-07 08:00] levino commented on #327
The amount of work to make a reproduction example is quite high. I will keep it in mind. The errors occur when one changes some code somewhere and then the app gets a refresh of the new code. I guess the configuration is run again, even though it should not have been.

[2022-04-07 09:55] dannyhw commented on #327
The problem is that without a reproduction its a lot of work for me to maybe succeed at reproducing an issue. I will try soon though, just need to find the time.

[2022-04-07 10:00] dannyhw commented on #323
I will at some point work on getting snapshots to work, however there are other issues I need to work on first. I will get to it though. If anyone wants to try in the meantime I'd be happy to assist.

[2022-04-07 10:01] dannyhw commented on #323
would a storybook/testing-react-native cover some of the same usecase? or is the snapshot functionality more important?

[2022-04-10 09:44] osh91 opened #346 "react-native storybook is not really working after simple installation"
Just for your information, I am not using yarn. **Only npm.**

After simple installation by calling npx sb init I have got this error
![image](https://user-images.githubusercontent.com/16814145/162612244-418dd281-b555-462b-b26f-011d16d283fc.png)

I have read old issues but it didn't give me clarify how to solve them.

when I am running it keeps saying
![image](https://user-images.githubusercontent

[2022-04-11 14:32] caiorrsdeg commented on #346
also running into issues here, the project I'm working on is displaying a blank screen (react native) if I try to update my yarn lock, even if I use resolution to force a @types/react version

[2022-04-12 00:44] dannyhw commented on #346
Hey thanks for taking the time to create this issue.

First that red text is not an error, it's just advice about how to use storybook.

Also this issue with the sidebar not loading is well documented and can be resolved by seeing the suggestions in the issue that already exists #55

Closing as duplicate, please let me know if you would like me to reopen.

[2022-04-12 00:44] #346 closed, assigned to nobody

[2022-04-15 06:12] astriskit opened #349 "React-native-server with 6-alpha"
**Describe the bug**
The infinite loading issue is there. Seemingly specifying host and port doesn't work either.
**To Reproduce**
Use the setup-guide to create the project;
And run `start-storybook`, optionally with the `-p <Port>` and `-h <Host>`.
And run `expo start`.
And head to device, to run the app on device by scanning qrcode on the web-interface, as with all the expo-apps.

**Expected beh

[2022-04-15 06:23] astriskit opened #350 "error/warning causes unresponsive touch on-device"
**Describe the bug**
When running the storybook(6.x)/react-native on a device, it seems, if an error/warning appears on the screen, after dismissing those, the touch becomes unresponsive. And even after reloading the expo-app, the touch is unresponsive.
Only after clearing the memory for the expo-app on device, the touch becomes available again.

**To Reproduce**
Steps to reproduce the behavior:
1

[2022-04-15 11:16] dannyhw commented on #349
@astriskit hey thanks for your taking the time to create this issue. Currently the server is not supported for 6.0, so this is expected.

The plan is to replace it or rework it later after the initial release of 6.0.

[2022-04-15 11:17] dannyhw commented on #350
@astriskit I've never seen this, could you please provide steps for reproducing this?

[2022-04-15 12:17] astriskit commented on #350
@dannyhw - thanks for quick action on this; have updated the info btw.
Also, a nice tool, no doubt - 6-alpha is coming along nicely too. Cheers to that too.

[2022-04-15 12:20] astriskit commented on #349
@dannyhw - thanks for the info.

Closing since [wont-fix](https://github.com/storybookjs/react-native/issues/349#issuecomment-1100046293) for now.

[2022-04-15 12:20] #349 closed, assigned to nobody

[2022-04-16 11:51] dannyhw commented on #147
I came across this issue again today and just adding here that a patch can be applied to solve the promises bug that also causes this issue see this comment here: https://github.com/storybookjs/react-native/issues/20#issuecomment-1046101914

[2022-04-16 11:53] dannyhw commented on #350
@astriskit ok I will try to reproduce, if you already have a reproduction you could share with me that would help a lot also.

[2022-04-16 16:42] dannyhw commented on #241
I've written a blog post explaining how you can do this:
https://dev.to/dannyhw/multiple-entry-points-for-react-native-storybook-4dkp

Still not decided on whether it should be part of the default setup. Let me know your thoughts about it if you are interested in this.

[2022-04-18 03:52] astriskit commented on #350
@dannyhw - currently this is in a project that I'm working on; I'll try to reproduce it in a sandbox and share here.

[2022-04-18 11:10] patrikniebur commented on #327
I have reproduced the issue here https://github.com/patrikniebur/storybook-react-native-error
It seems to happen when I render the storybook UI inside of the component like so:
https://github.com/patrikniebur/storybook-react-native-error/blob/9eed3f924e755ff796e1f57f92b17f5f4167f0dc/App.js#L5-L7

But if I export the storybook UI as a default from the same file the issue disappears. My specific rea

[2022-04-18 11:48] dannyhw commented on #327
@patrikniebur thanks for the repro 🙏 I'll take a look tonight and see what I can find

[2022-04-18 11:50] dannyhw commented on #327
@patrikniebur be careful with your dependencies
[code]

these should be either a fixed version at 6.3.13 or `~6.3.13` since 6.4 isn't yet supported.

[2022-04-19 20:20] dannyhw commented on #327
With the reproduction I'm able to reproduce this. I'm working on finding the cause, thanks again for the reproduction @patrikniebur!

[2022-04-19 20:43] dannyhw commented on #327
like @patrikniebur mentioned it seems like you can avoid this by exporting the storybookUI directly like
[code]

instead of

[code]

So for now you can use that as a workaround.

Still investigating.

[2022-04-19 21:14] dannyhw commented on #327
I'm thinking that I'll release a temporary fix for this whilst I figure out the root cause. It shouldn't require user changes though. Will update once its live.

[2022-04-21 18:27] jorihardman commented on #323
Hey @dannyhw `@storybook/addon-storyshots@"~6.3.0` is working for me with `@storybook/react-native@6.0.1-beta.5`, though it could definitely use some updated documentation for react-native.

My jest setup is using the `expo/jest` preset. It is using expo's default babel config and looks like this:

[code]

The important bit here is that both @storybook/react-native and a few of the @storybook/addo

[2022-04-21 21:31] dannyhw commented on #323
@jorihardman hey thanks for sharing! Sorry about the lack of documentation, I've never really tried to use storyshots so I wouldn't have known where to start. This has helped me to understand a lot better the issue.

I'll be happy to work on improving the experience with storyshots in the future especially now that I understand it a bit better.

Thanks again for looking in to this. If you have sug

[2022-04-23 16:08] samgalaxycard commented on #327
I am getting the same error while adding more than 1 stories file inside components

[2022-04-23 16:21] samgalaxycard commented on #327
Also this line gets automatically added in my storybook.requires.js file which throws this error:
error: Error: Unable to resolve module [object Object]/register from /home/gct/app/.storybook/storybook.requires.js: [object Object]/register could not be found within the project or in these directories:
  node_modules
  ../node_modules

[2022-04-23 20:51] ramykl commented on #131
Any updates on this?

[2022-04-24 12:18] dannyhw commented on #131
@ramykl

Currently working on getting 6.4 storybook dependencies working. Once that's done probably the first stable version will not be far off. I'm leaning on the side of releasing asap and adding other missing features over time.

[2022-04-24 12:22] dannyhw commented on #327
@samgalaxycard seems like you might be missing a dependency or some configuration.

I have the temporary fix ready for this, just need to find time to release it (maybe tomorrow).

Seems like there is a deeper issue though. A lot of changes are coming soon that would make this easier to solve.

[2022-04-25 16:16] dannyhw commented on #327
@kyle-ssg @samgalaxycard @patrikniebur I've published a temporary fix in 6.0.1-beta.6, could you try updating and running the sb-rn-get-stories command to update your requires file.

[2022-04-25 19:00] patrikniebur commented on #327
Thanks @dannyhw but unfortunately I'm still getting the same error. I've upgraded the version in my [test case](https://github.com/patrikniebur/storybook-react-native-error) and I'm still getting the same error

[2022-04-25 22:22] dannyhw commented on #327
@patrikniebur you need to run the script to update the requires file

I tested on the same example and it works.

[2022-04-26 07:53] patrikniebur commented on #327
Right, sorry I forgot about that part! Thanks for the fix, that's going to help a lot at my work!
Another thing I've noticed is that hot reloading does not work when I edit the story file, not the component file itself. I guess this was happening before but was obfuscated by the error. Should I create new issue for this to keep track of it?
I have added replication into the test case repository li

[2022-04-26 11:08] dannyhw commented on #327
@patrikniebur by hot reload do you mean that it always full refreshes instead of doing a fast refresh? That specifically is a known bug with an issue and PR already #11 #30

The only issue is the pr with a fix seems to break storiesOf which is already deprecated however I'm not sure I want to commit to fully removing it. It's a complicated issue but its on the list of things to resolve.

[2022-04-26 14:41] aike19115 commented on #38
@traviswimer Thanks for your answer, it solved the problem I was facing! (Expo project with TypeScript)

[2022-04-27 14:25] patrikniebur commented on #327
I mean no refresh at all. But I assume that's because of the same error that is being hidden now. Anyway editing component works fine with hot reload so I'm happy. Thanks again!

[2022-04-27 15:17] dannyhw commented on #327
@patrikniebur interesting, I'm not sure why that would happen. I'll definitely have to revisit hot reloading.

[2022-04-28 22:10] jesse-savary commented on #247
In case anyone else ends up here while searching for a solution to `React has detected a change in the order of Hooks called by StoryView`, add this to `.ondevice/preview.js`:

[code]

[2022-04-29 09:19] dannyhw commented on #247
@jesse-savary could you open an issue regarding that problem with more detail on the error you are getting?

[2022-05-03 11:48] osh91 commented on #346
Hi,
so I took a read #55  and I can't find the proper solution. Where is the answer? I am really confused. The getting started page is not helping me. **I'm having panic**

Please update the colour of the information text. It should not be red this is why you get so much feedback.

[2022-05-03 13:25] tyom commented on #327
I'm pretty sure it used to refresh correctly when editing a component before the fix. It was blowing up when editing a story. Now it swallows the error, so it appears that the underlying issue is still there.

[2022-05-03 15:35] dannyhw commented on #327
@tyom used to when? Catching the error is a workaround but it wouldn't be the thing that breaks reloading. Also if you see prior comments if you change the way you export the storybook ui then it should not even error and maybe would hot reload. Need to test this.

[2022-05-03 16:04] tyom commented on #327
@dannyhw I believe it used to refresh correctly when editing components prior to the latest fix in #351. However, when editing stories the refresh failed with the originally reported error. Now it says that the view has been refreshed without any changes. Editing the component works a treat though. It would be great if it refreshed correctly when editing a story as well.

In addition, I have a glo

[2022-05-03 16:33] dannyhw commented on #346
@OshedheMunasinghe hey sorry if its not clear I just didn't want to have the discussion split in too many places.

Basically the solution is set your local ip address manually and a port of your choosing for both the server and the ondeviceui config. Keeping the same ip and port for both.

For example:

In package.json

[code]

and getStorybookUI (where ever you are calling it)
[code]

Make sure t

[2022-05-03 16:37] dannyhw commented on #327
@tyom yes I believe the code in preview is getting executed on every hot reload which shouldn't be the case unless that file changes. I've got some ideas on how to potentially fix that but I'm not an expert on hot reloading so it might take a lot of trial and error 😅 .

If anyone can help that would be much appreciated, otherwise I'll explore some potential solutions as soon as I have an evening o

[2022-05-03 17:44] osh91 commented on #346
So I called ipconfig and took the ip adress from wiress LAN adapter wifi IPv4 adress
and pasted on package.json and storybook index.js in getStorybookUI

but it still loading
I have called first storybook server
then I called emulator npx react-native run-android

... I dont understand... im lost.

[2022-05-03 18:43] dannyhw commented on #346
@OshedheMunasinghe You should run the emulator first, the server needs to get the stories from the device.

I would also consider that you don't really need to run the server in most cases, it's just an optional thing.

[2022-05-03 18:49] dannyhw commented on #346
Happy to continue the discussion here but If you want feel free to reach out to me on twitter or discord.

We have discord server with a react native channel that I'm active in and it's easier to have quick discussions there.
https://discord.gg/sMFvFsG

[2022-05-17 08:40] NM-2000 commented on #287
Hey @OkhaifoOikeh, were you able to build this? I'm facing the same issue.

[2022-05-17 09:00] NM-2000 opened #355 "build-storybook failing on @storybook/react-native: 5.3.25"
**Describe the bug**
"build-storybook" command failing on @storybook/react-native: 5.3.25

**To Reproduce**
Steps to reproduce the behavior:
1. npx -p @storybook/cli sb init --type react_native
2. Once RN storybook is installed, execute `npm run build-storybook`

**Expected behavior**
StoryBook should be built successfully.

**Actual behaviour**
"build-storybook" command doesn't exist.

[2022-05-17 10:51] dannyhw commented on #287
@NM-2000 please see my comment above. There is no build storybook for react native, you can build the ondevice storybook with the normal build commands for react native.

[2022-05-17 10:53] dannyhw commented on #355
@NM-2000 this is a duplicate so I'm closing please continue any discussion on the existing issue #287

[2022-05-17 10:53] #355 closed, assigned to nobody

[2022-05-17 11:54] NM-2000 commented on #355
Sure @dannyhw. Thanks!

[2022-05-17 12:03] NM-2000 commented on #287
Hey @dannyhw, I did what you said and built it for android using react-native command and got `index.android.js` bundle.

What I am trying to do is to connect Chromatic with RN StoryBook. In the first place, I'm not sure if Chromatic even works with RN StoryBook (searched on google, didn't find any clue). If it does work, it's failing with the built bundle.

Have raised an issue on Chromatic's Git

[2022-05-17 16:05] dannyhw commented on #287
@NM-2000 to use chromatic with react native the only way is with react-native-web you can see my post about react-native-web storybook to get some context https://dev.to/dannyhw/introducing-storybook-for-react-native-web-mn4

[2022-05-17 16:06] dannyhw commented on #287
in the repo for addon-react-native-web repo I use chromatic on the example project using react-native components via react-native-web

[2022-05-18 05:25] sagark1510 opened #356 "Facebook Login stopped working iOS"
**Describe the bug**
Storybook in react native was working fine. I integrated react-native-fbsdk-next and added login feature. However, after Login call completes the promise coming from the native to JS never gets resolved on iOS. The fun thing is as soon as I comment the import storybook line it starts working. Not sure what is wrong here but it happens.

**To Reproduce**
Steps to reproduce the

[2022-05-18 13:53] dannyhw commented on #356
@sagark1510 please try my solution in #20 using patch package and see if it resolves this for you.

https://github.com/storybookjs/react-native/issues/20#issuecomment-1046101914

[2022-05-25 20:16] nicolascgarcia commented on #131
Hi, I would like to know if is there any date setted to release the new stable version?

[2022-05-27 21:59] Dhillon-Prabh opened #357 "@storybook/cli sb init adds incorrect addons"
**Describe the bug**
The auto-generated file `addons.js` is populated incorrectly to have values such as:
'@storybook/addon-actions/manager'
which cause `yarn storybook` to crash with the error 'Module not found: '@storybook/addon-actions/manager''.
 It should have the value '@storybook/addon-actions/register'
**To Reproduce**
create a new react-native (in my case) project and run the init command

[2022-05-28 09:33] dannyhw commented on #357
The command you are looking for is this one `npx -p @storybook/cli sb init --type react_native`

[2022-05-28 09:41] dannyhw commented on #131
@nicolascgarcia i would love to release a version but currently I'm at a bit of a blocker.

In order to support 6.4 and 6.5 versions of storybook a large rewrite of internals is necessary. A lot of that work is done but I've run into some problems which need help from other maintainers and so I've pairing on it a bit but its hard to organise.

Its hard to say because I don't have a lot of free tim

[2022-05-28 18:21] trajano commented on #131
@dannyhw  I think what you have at the moment is good as an interim release so we can baseline and add 6.4/6.5 versions later.  As the saying goes, "Don’t Let “Perfect” Be the Enemy of “Good"

[2022-06-02 19:50] Dhillon-Prabh commented on #357
yup, that's what I used. But after successfully running this command you will find the issue I described above. Just posted this issue as a fyi 'cause it took a hot few mins to realise '.../manager' is incorrect.

[2022-06-03 10:13] dannyhw commented on #357
@Dhillon-Prabh well I think that shouldn't be the case unless you've installed a newer version of addons. What does your package.json look like?

[2022-06-03 17:31] Dhillon-Prabh commented on #357
unfortunately I am unable to share that as it is a private repo but I'd go ahead and close this issue since I got it to work eventually.

[2022-06-03 20:53] Dhillon-Prabh commented on #357
I created a test project and ran the command `npx -p @storybook/cli sb init --type react_native` and here's the content of package.json:
[code]
and addons.js:
[code]
If I am not mistaken, it should be '.../register' instead of manager for the above imports.
Moreover, I just realised that the auto-installed dependencies don't have the latest versions (6.x.x).

*Q:* I am trying to add https://storyb

[2022-06-08 13:08] Katia-Toboleva commented on #12
Hey everyone! Any update on this issue?

[2022-06-08 18:17] dannyhw commented on #12
@Katia-Toboleva I've not had time for it yet but its still on my mind to look at it. My idea for this one was to add it after v6 comes out.

[2022-06-09 08:16] Katia-Toboleva commented on #12
Hi @dannyhw ! Thanks for an update! Is there any timescale for that?

[2022-06-09 10:23] dannyhw commented on #12
@Katia-Toboleva hey, sorry its really hard to give timelines because it just depends on when I have free time or when others want to contribute.

[2022-06-09 14:24] Katia-Toboleva commented on #12
Ok, no worries! Thanks for looking after this anyway :)

[2022-06-09 14:53] daniellyqueiroz commented on #46
Error reproduction in my application.
![crash_report_1](https://user-images.githubusercontent.com/12099890/172877132-8648ec02-9a2e-4d3a-8b27-60fd13946215.gif)

1- storybook startup
2- choose the addons option
3- choose the notes option.

Reproduction made in version v5.3.25. After the solution presented above has been then tested:

Result:
![storybook-fix](https://user-images.githubusercontent.com

[2022-06-09 18:07] Dhillon-Prabh commented on #158
Hey @dannyhw, is there any update to 'react-native-server' for storybook/react-native v6 beta?

[2022-06-09 18:15] dannyhw commented on #158
@Dhillon-Prabh unfortunately there is no update on that, I see it as something that can be re-introduced at a later time (after initial v6). The reason for that is that I don't really have the knowledge or time. The server is really legacy at this point and it's hard to know how to update it. The v6 release takes priority then it will be possible to investigate the server again.

Alternatively I w

[2022-06-10 03:39] mayagh1994 commented on #329
@HurrellT  can you tell me how it works with you i tried to add this patch , but get nothing  (formik still  not work)

[2022-06-12 23:00] HurrellT commented on #329
Have you installed patch-package and postinstall-postinstall in your project?
Check this PR https://github.com/HurrellT/formikStorybookTest/pull/1

[2022-06-20 21:33] #357 closed, assigned to nobody

[2022-06-21 00:32] dannyhw commented on #357
React native storybook stable is at 5.3 so it's intentionally installing those versions since v6 is not totally compatible. If you want to use v6 you need to be on the beta version.

I'm reluctant to change the cli template since its been working like that for a long time so I'd find it strange if it stopped working now. Does it not work in your test project?

[2022-06-21 00:33] dannyhw commented on #357
If you can explain in more detail what you want to achieve I'm happy to help.

[2022-06-22 13:23] dannyhw commented on #350
I've seen this happen sometimes when flipper is open, it has to do with the react native modal component I think.

and thats great! a reproduction would be helpful to narrow it down.

[2022-06-26 18:38] hannojg commented on #152
@dannyhw
Hey, i just tested the latest alpha version. I still have to set `inlineRequires: false`, or otherwise get the named exception thrown. Can you reproduce on your end? Otherwise i will provide a reproduction!

(react native version 0.68.2)

[2022-06-27 19:12] dannyhw commented on #356
It's been a while without a response so I'm closing this issue for now. Let me know if you want me to re-open this.

[2022-06-27 19:12] #356 closed, assigned to nobody

[2022-06-27 19:15] dannyhw commented on #152
@hannojg hey, I haven't come across this issue in a while and I'm not totally sure why it happens. I think it has something to do with the way that we import stories. Does this happen on a fresh project also?

[2022-06-29 20:22] dannyhw commented on #131
@trajano sorry for the late response here. I appreciate the encouragement and the sentiment here. There are a few things close to coming to fruition that i wanted to wait on. However I'm becoming more likely to ship as time goes on.

I had some positive talks recently with some core storybook maintainers that made it seem like progress is imminent which is something i need to follow up on again es

[2022-07-01 10:29] levino commented on #327
Just as an update: This is still very broken for me / us. Basically we have to reload the whole app every time we change some code. This is not the case for the real app. There all updates get streamed and applied.

We also load the storybook on demand like so:
[code]

[2022-07-01 11:18] dannyhw commented on #327
@levino hey sorry that you're still experiencing issues. I can see that you have an interesting way of loading storybook.

What is the reason to use a state variable like this? Why not just require inline like:

[code]

Though I guess you got this from the ignite boilerplate right?

Anyway, I can have a look at this again and I'll get back to you.

[2022-07-01 11:20] levino commented on #327
This enables us to just toggle the storybook on and off via the dev menu in react native. Found this somewhere on the internet. If you want I can try to find the source. It works pretty well but for the update functionality.

[2022-07-02 13:56] #281 closed, assigned to nobody

[2022-07-02 13:57] #283 closed, assigned to nobody

[2022-07-02 14:00] #280 closed, assigned to nobody

[2022-07-02 14:00] #241 closed, assigned to nobody

[2022-07-02 17:37] clayrisser commented on #158
I have published the latest `v6.0.1-beta.6` package for storybook react native server at the following location.

https://gitlab.com/risserlabs/community/storybook-react-native/-/packages/7773741

You should be able to run the following commands to install it if you are using yarn.

[code]

or if you are using npm

[code]

I have published packages for the other modules in this project as well.

h

[2022-07-03 11:37] dannyhw commented on #158
@clayrisser hey this is interesting, could you create a PR here on github instead?

[2022-07-03 11:46] dannyhw commented on #158
@clayrisser im having trouble finding the changes which enable the server. Currently it wouldn't work because the websockets aren't opened on startup for the device and the server isnt updated for compatibility with v6+. Just publishing it wouldn't have any effect.

Can you explain more about what you've published?

[2022-07-03 11:49] dannyhw commented on #327
@levino ok but have you tried removing this stuff too see if it might be the cause of the hot reloading not working?

If you directly export storybookui for example does your storybook reload properly?

[2022-07-06 00:48] TaufanP commented on #350
I'm having the same issue, on both emulator and real device (all Android).

[2022-07-06 01:01] TaufanP commented on #350
I managed to get it fixed by modifying the generated files from `npx -p @storybook/cli sb init --type react_native`

This is how my files look like

**storybook/addons.js**
[code]

**storybook/rn-addons.js**
[code]

[2022-07-06 03:22] TaufanP opened #367 "Naming Components and Hierarchy for React Native"
**Is your feature request related to a problem? Please describe.**
I am trying to do some [Naming Components and Hierarchy](https://storybook.js.org/docs/react/writing-stories/naming-components-and-hierarchy), but I only found the tutorial for React (web). I cannot find the React Native way since I have this code:

[code]

Instead of
[code]

**Describe the solution you'd like**
I would like to now

[2022-07-06 07:15] dannyhw commented on #367
Currently this feature is not yet supported, however i believe there is already an issue covering this.

This has long been a requested feature and the plan would be to add this once v6 is stable.

[2022-07-06 07:16] dannyhw commented on #350
What specifically were the changes?

[2022-07-06 09:22] TaufanP commented on #350
The origin of `storybook/rn-addons.js` was

[code]

The origin of `storybook/addons.js` was
[code]

[2022-07-06 14:03] levino commented on #327
Just a ping back: I am not able to reproduce reliably. It happens currently with either import - sometimes :( I will further investigate and come back to this.

[2022-07-14 10:23] ayushjain6 commented on #302
@dannyhw I have tried with inlineRequires: false in react-native-cli application which is causing other issues in the project

[2022-07-14 19:23] dannyhw commented on #46
please try
 - @storybook/addon-ondevice-notes@5.3.26-alpha.0

[2022-07-14 20:15] dannyhw commented on #46
I just released 5.3.26 since it seemed to be working ok for me

[2022-07-15 10:21] leojclarke commented on #338
Ah, I've been trying to find the syntax to group my components by category, but is it right, this is only possible for Web stories or am I missing something?

Currently I write my stories like this:

[code]

Which just results in a huge long list in the sidebar (I like using the web interface and have the full preview open on the device).

So currently there is no way to write something like this:

[2022-07-18 16:03] chico commented on #284
@dannyhw really appreciate you working on this 👏, any chance you might have a ballpark ETA for when it might be done? Thank you! 🤞

[2022-07-19 09:22] cmnstmntmn opened #372 "Not able to capture the current selected background value"
**Describe the bug**
I'm having
[code]
Then, in my theme decorator i'm looking for the selected value inside the context object,
but it doesn't seem to be there.

[code]

**System:**
sb 6.0.1-beta.7

[2022-07-19 12:22] dannyhw commented on #372
@cmnstmntmn
I just looked at it and I think that currently it would be difficult to do this, the only viable way would be to listen for the set background event and maintain a copy of the background colour state. However using the addons channel for events is not generally recommended for end users so use with caution.

[code]

[2022-07-19 12:25] dannyhw commented on #372
Ideally we should update the backgrounds addon to copy the updated behaviour on the web.

[2022-07-22 09:59] zakharchenkoAndrii commented on #295
Any progress here?

[2022-07-22 10:20] dannyhw commented on #295
@zakharchenkoAndrii not worked on it yet but the change should be relatively simple should someone wish to contribute. I'm currently away but I can take a look in a weeks time to see about adding the ts,jsx and tsx file extensions to the script.

[2022-07-22 10:41] zakharchenkoAndrii commented on #295
I did a PR #374, take a look please :)

[2022-07-28 14:58] SamakaCD commented on #302
Setting `inlineRequires` to `false` or `true` didn't help me. However, it's possible to avoid the issue by loading a module with the Storybook lazily like this:
[code]

[2022-08-08 20:25] amaralcamilla commented on #357
It happened the same here (same code, same problem). I replaced `/manager` with `/register` at those imports. It seems that works, but the sidebar doesn't render.

How did you resolved?

[2022-08-08 22:37] dannyhw commented on #357
The issue with the cli should be resolved in the latest version of the cli.

If you check the pinned issues there is one about the sidebar not loading with some discussion.

[2022-08-11 09:13] chococrypto commented on #341
so, were you able to create the documentation?

[2022-08-11 10:19] dannyhw commented on #341
@di1606 as I mention above it should be possible to do manually but I haven't had time to work on a guide or anything unfortunately

[2022-08-11 15:17] Listor commented on #284
Hey @dannyhw appreciate your time as well. Is there anything we can do to assist you in getting this done?

[2022-08-14 01:08] dannyhw commented on #284
@chico @Listor hey thanks for the kind words, sorry for the delay responding I had holidays and stuff recently.

I've been reaching out for help on this but most people are taking holidays too. There is a branch with an initial attempt, but its still really rough and doesn't work yet https://github.com/storybookjs/react-native/tree/next-6.5. Stories weren't loading properly and its basically a cas

[2022-08-17 19:54] nurse-the-code opened #377 "Broken/outdated stories crash app"
**Describe the bug**
As a codebase evolves overtime, sometimes stories get broken (often because the components the stories were testing were updated without checking how that effects the rendering in Storybook). When another developer taps on that story in Storybook, it causes the whole Storybook environment to crash and the app has to be rebuilt. A single broken story (or even several broken sto

[2022-08-20 10:09] dannyhw commented on #377
Hey thanks for raising this issue.

I suppose it could be possible to avoid fatal crashes by having an error boundary.

As a workaround could you try adding a global decorator with an error boundary?

If its successful I could add something like that to the package.

[2022-08-21 19:00] rdgomt opened #378 "Addons import fail"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@storybook/react-native@6.0.1-beta.7` for the project I'm working on.

I was trying to use @storybook/addon-react-native-web as an addon in my project, but it fails to be imported in storybook.requires.js because this addon exports nothing from @storybook/addon-re

[2022-08-22 00:10] dannyhw commented on #378
Hey thats actually not the intended use of addon-react-native-web, its a web specific addon so you shouldn't be including it in your ondevice storybook. It is instead used on a web setup (react) an example of which can be found in this project https://github.com/dannyhw/expo-template-storybook

In this setup there are two separate storybook configs: .ondevice and .storybook

[2022-08-22 12:44] rdgomt commented on #378
Hey @dannyhw, thanks for your response, but when I remove addon-react-native-web from the project the storybook web fails to build.

ModuleParseError: Module parse failed: Unexpected token (14:7)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

<img width="860" alt="Captura de Tela 20

[2022-08-22 13:53] rdgomt commented on #378
Guys, now I did a fresh install following https://github.com/dannyhw/react-native-storybook-starter/ and everything is working fine. Sorry for the inconvenience.

[2022-08-22 13:54] dannyhw commented on #378
ok glad you were able to get it working 🙏

[2022-08-22 13:54] #378 closed, assigned to nobody

[2022-08-22 13:55] dannyhw commented on #377
@nurse-the-code are you able to test it with an error boundary?

[2022-08-22 13:58] nurse-the-code commented on #377
@dannyhw That is a good idea. I considered adding one in my code. I will have to check it out. Might try to do that after work.

[2022-08-24 17:25] dannyhw commented on #148
pretty sure this was resolved with the most recent stable version, let me know if not and I will re-open

[2022-08-24 17:25] #148 closed, assigned to nobody

[2022-08-26 22:31] jestupinanb commented on #236
I am not completely sure if that is something related to ondevice-controls addon but when I create a story on the web version by default all the props are shown and the mobile version only shows the props that I have added in the .args
![image](https://user-images.githubusercontent.com/30636279/186998723-46e35413-dadc-47ef-8057-7871283203b7.png)
![image](https://user-images.githubusercontent.com/3

[2022-08-29 11:35] Markuson commented on #19
same here:
`TypeError: identifier.indexOf is not a function`

No solutions yet?

[2022-08-29 16:24] dannyhw commented on #19
@Markuson
any chance you can provide a public reproduction of this? Or could you provide the steps to reproduce?

[2022-08-30 16:24] fontesrp commented on #38
@traviswimer you're my hero

[2022-09-06 10:31] marlonschlosshauer commented on #299
That did the trick for me. Thanks! However I'm getting a TS error on `getStorybookUI`:
[code]

Where `Params` is `import("./preview/Preview").Params `.

Did I forget to configure something? Should I open a new issue for that?
I can ignore the error on my end so no need to hurry 👍

[2022-09-06 11:32] dannyhw commented on #299
@marlonschlosshauer what version of rn storybook are you using?

[2022-09-06 12:34] marlonschlosshauer commented on #299
I'm currently using `6.0.1-beta.7`.

[2022-09-06 14:59] dannyhw commented on #299
@marlonschlosshauer in the beta asyncStorage is no longer optional so you don't need to pass it as an option. Just the shouldPersistSelection is fine.

[2022-09-06 16:12] marlonschlosshauer commented on #299
Yep that worked, thanks! 🍻

[2022-09-13 12:44] clearly-outsane commented on #36
Did this go anywhere? It sure is useful for stakeholders like someone mentioned

[2022-09-13 12:49] dannyhw commented on #36
@clearly-outsane storybook/native is a version of storybook for native code that uses appium, it is technically possible to use with react native storybook.

If you just want to render react native in the web then you can use addon-react-native-web to render react native stories in reactjs storybook. Which personally I think is an easier option for sharing with stakeholders.

Heres some informatio

[2022-09-26 11:26] tobi1220 commented on #5
has this been fixed?

[2022-09-30 14:52] wilkuintheair commented on #265
I think this is no longer valid:
https://github.com/storybookjs/react-native/blob/next-6.0/app/react-native/src/preview/components/OnDeviceUI/OnDeviceUI.tsx#L40
In my case the problem exists and I'm on Expo project (dev-client) and `global.Expo`, `global.__expo`, `global.__exponent` are all `undefined`.

I think maybe we can just ignore the `exports.IS_EXPO` condition and set the padding for all t

[2022-09-30 17:03] jorgearuv commented on #265
I haven't been able to finish with this, feel free to open a PR @wilkuintheair

[2022-10-01 09:45] dannyhw commented on #265
Well there were actually changes around safe area in this project so this would need to be tested again.

[2022-10-04 13:33] dannyhw commented on #265
@wilkuintheair the problem is that atleast at the time of creating the issue this would only happen on expo so adding the extra padding on android always would cause issues on android (non expo)

[2022-10-04 18:29] edzonbolivar commented on #329
I did the same, but is not working yet

[2022-10-05 22:10] Aksana-Tsishchanka commented on #185
It seems it was added in v60 of react native storybook

[2022-10-06 10:38] Michael-Ivlev opened #383 "storybook ignores my decorators"
**Describe the bug**
So I tried to give a styled component theme provider for all my storybooks, but somehow storybook ignores my decorators. if I warp my story with the theme provider everything works. I use react-native v0.70.1 with NX and storybook/react-native v6.0.1-beta.5

**To Reproduce**
Add a decorator to your storybook

**Expected behavior**
The Story should get a theme provider

**Code

[2022-10-06 12:03] dannyhw commented on #383
On the beta please avoid using storiesOf where possible and use CSF. I'm not sure but I think it might be related to that.

Ideally of course storiesof will work but I would try to avoid adding new stories with the old syntax anyway since its deprecated.

[2022-10-06 12:06] dannyhw commented on #383
Also can you try v6.0.1-beta.8?

[2022-10-06 12:56] Michael-Ivlev commented on #383
when I try to use v6.0.1-beta.8 I get this
even after I add react-navigation and react-native-safe-area-context
<img width="379" alt="image" src="https://user-images.githubusercontent.com/80426254/194318147-e212192f-9589-46a2-9436-47b1e8030194.png">

I've tried to use CSF the storybook ignores it and doesn't render it.

[2022-10-06 16:58] dannyhw commented on #383
@Michael-Ivlev after adding them did you run pod install? looks like its missing on the native side.

Also react-navigation shouldn't be needed for storybook

[2022-10-06 18:47] Michael-Ivlev commented on #383
I rebuild the app in nx it working on v6.0.1-beta.7 and v6.0.1-beta.5 without this error, but still without decorators

[2022-10-06 19:22] dannyhw commented on #383
@Michael-Ivlev Can you provide a reproduction of the issue so I can debug it? There shouldn't be any issue with decorators not being applied.

[2022-10-06 19:46] JSONRice commented on #152
@dannyhw great suggestion on that `inlineRequires: false` That ended up working for me after I spent a day on this. The documentation could really be consolidated and cleaned up. Wish I had more time to assist but I'm heads down on some tight deadlines. Keep up the good work! Risa's [tutorial](https://dev.to/risafj/setting-up-storybook-for-react-native-typescript-server-loader-ios-android-3b0i) he